    #ajax-content-wrap
      div[data-featured-img="../../images/euroit_large.png"]
        .row.project-title
          .container
            .title-wrap
              .col.span_12.section-title.no-date
                h1
                  | Euroit
                #portfolio-nav
                  ul
                    li#all-items
                      a[href="../../portfolio.html"]
                        i.icon-salient-back-to-all
                  ul.controls
                    li#prev-link
                      a[href="../pocket-you/" rel="next"]
                        i.icon-salient-left-arrow-thin
                    li#next-link
                      a[href="../jba-imoveis/" rel="prev"]
                        i.icon-salient-right-arrow-thin
        .container-wrap
          .container.main-content
            .row
              #post-area.col.span_9
                img.attachment-full.size-full.wp-post-image[width="1441" height="768" src="../../images/euroit_large.png" alt="euroit_large" title="" srcset="../../images/euroit_large-300x160.png 300w, ../../images/euroit_large-1024x546.png 1024w, ../../images/euroit_large.png 1441w" sizes="(max-width: 1441px) 100vw, 1441px"]
                #portfolio-extra
                  .stylish-button.android
                    a[href="https://play.google.com/store/apps/details?id=br.com.devmaker.euroitmobile&amp;hl=pt_BR" target="_blank"]
                      | Play Store
                  .stylish-button.ios
                    a[href="https://itunes.apple.com/us/app/euroit-reserva-mobile/id903958151?mt=8" target="_blank"]
                      | Apple Store
              #sidebar.col.span_3.col_last[data-follow-on-scroll="0"]
                #sidebar-inner
                  #project-meta[data-sharing="1"]
                    .nectar-social.sharing
                      span.n-shortcode
                        a#nectar-love-3394.nectar-love[href="#" title="Love this"]
                          i.icon-salient-heart
                          span.nectar-love-count
                            | 1
                      a.facebook-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-facebook
                        span.count
                      a.twitter-share.nectar-sharing[href="#" title="Tweet this"]
                        i.icon-twitter
                        span.count
                      a.linkedin-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-linkedin
                        span.count

                    .clear
                  h3
                    | Euroit
                  p
                    | Plataforma de aplicativos para locadoras de veículos.
                  h3
                    | Descrição detalhada
                  ul.post-list
                    li
                      i.icon-ok
                      | Disponibilize filiais para escolha de retirada do veículo;
                    li
                      i.icon-ok
                      | Mostre todos os grupos de veículos e seus respectivos valores;
                    li
                      i.icon-ok
                      | Inclua preços de serviços, proteções e diárias de maneira transparente;
                    li
                      i.icon-ok
                      | Cadastro rápido e prático para o seu cliente.
