.p-right {
  padding-left: 20%;
}

.text-left > .wpb_wrapper > .img-with-aniamtion-wrap > img {
  float: left;
}

input[type="submit"],
button[type="submit"],
input[type="button"] {
  background-color: #27CFC3 !important;
}
@media only screen and (max-width: 470px) {
  .p-right {
    padding-left: 0;
  }
}
