@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body:not(.wp-admin) #estimation_popup.wpe_bootstraped[data-form="1"] {
  font-family: "Open Sans";
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel {
  background-color: #ffffff;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #lfb_loader {
  background-color: #1abc9c;
}

#estimation_popup.wpe_bootstraped[data-form="1"] {
  color: #34495e;
}

#estimation_popup.wpe_bootstraped[data-form="1"] .genSlide .lfb_totalBottomContainer hr {
  border-color: #494b4d;
}

body #estimation_popup.wpe_bootstraped[data-form="1"] .form-control,
#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel,
#estimation_popup.wpe_bootstraped[data-form="1"] p,
#estimation_popup.wpe_bootstraped[data-form="1"] #lfb_summary tbody td,
#estimation_popup.wpe_bootstraped[data-form="1"] #lfb_summary tbody #sfb_summaryTotalTr th:not(#lfb_summaryTotal) {
  color: #494b4d;
}

#estimation_popup.wpe_bootstraped[data-form="1"] .tooltip .tooltip-inner,
#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .genSlide .genContent div.selectable span.icon_quantity,
#estimation_popup.wpe_bootstraped[data-form="1"] .dropdown-inverse {
  background-color: #34495e;
}

#estimation_popup.wpe_bootstraped[data-form="1"] .tooltip.top .tooltip-arrow {
  border-top-color: #34495e;
}

#estimation_popup.wpe_bootstraped[data-form="1"] .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #34495e;
}

#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary,
#estimation_popup.wpe_bootstraped[data-form="1"] .gform_button,
#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary:hover,
#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary:active,
#estimation_popup.wpe_bootstraped[data-form="1"] .genPrice .progress .progress-bar-price,
#estimation_popup.wpe_bootstraped[data-form="1"] .progress-bar,
#estimation_popup.wpe_bootstraped[data-form="1"] .quantityBtns a,
#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary:active,
#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary.active,
#estimation_popup.wpe_bootstraped[data-form="1"] .open .dropdown-toggle.btn-primary,
#estimation_popup.wpe_bootstraped[data-form="1"] .dropdown-inverse li.active > a,
#estimation_popup.wpe_bootstraped[data-form="1"] .dropdown-inverse li.selected > a,
#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary:active,
#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary.active,
#estimation_popup.wpe_bootstraped[data-form="1"] .open .dropdown-toggle.btn-primary,
#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary:hover,
#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary:focus,
#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary:active,
#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary.active,
#estimation_popup.wpe_bootstraped[data-form="1"] .open .dropdown-toggle.btn-primary {
  background-color: #1abc9c;
}

#estimation_popup.wpe_bootstraped[data-form="1"] .lfb_dropzone:focus,
#estimation_popup.wpe_bootstraped[data-form="1"] .has-switch > div.switch-on label,
#estimation_popup.wpe_bootstraped[data-form="1"] .form-group.focus .form-control,
#estimation_popup.wpe_bootstraped[data-form="1"] .form-control:focus {
  border-color: #1abc9c;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .genSlide .genContent div.selectable.checked span.icon_select,
#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel #finalPrice,
#estimation_popup.wpe_bootstraped[data-form="1"] .ginput_product_price,
#estimation_popup.wpe_bootstraped[data-form="1"] .checkbox.checked,
#estimation_popup.wpe_bootstraped[data-form="1"] .radio.checked,
#estimation_popup.wpe_bootstraped[data-form="1"] .checkbox.checked .second-icon,
#estimation_popup.wpe_bootstraped[data-form="1"] .radio.checked .second-icon,
#estimation_popup.wpe_bootstraped[data-form="1"] a:not(.btn),
#estimation_popup.wpe_bootstraped[data-form="1"] a:not(.btn):active,
#estimation_popup.wpe_bootstraped[data-form="1"] a:not(.btn):hover {
  color: #1abc9c;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .genSlide .genContent div.selectable .img {
  max-width: 64px;
  max-height: 64px;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel,
#estimation_popup.wpe_bootstraped[data-form="1"] .form-control {
  color: #494b4d;
}

#estimation_popup.wpe_bootstraped[data-form="1"] .form-control,
#estimation_popup.wpe_bootstraped[data-form="1"] .lfb_dropzone {
  color: #494b4d;
}

#estimation_popup.wpe_bootstraped[data-form="1"] .lfb_dropzone .dz-preview .dz-remove {
  color: #494b4d;
}

#estimation_popup.wpe_bootstraped[data-form="1"] .genPrice .progress .progress-bar-price {
  font-size: 18px;
}

#estimation_popup.wpe_bootstraped[data-form="1"] .itemDes {
  max-width: 240px;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .genSlide .genContent div.selectable .wpe_itemQtField {
  width: 64px;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .genSlide .genContent div.selectable .wpe_itemQtField .wpe_qtfield {
  margin-left: -18px;
}

body .lfb_datepickerContainer .ui-datepicker-title {
  background-color: #1abc9c;
}

body .lfb_datepickerContainer td a {
  color: #1abc9c;
}

body .lfb_datepickerContainer td.ui-datepicker-today a {
  color: #34495e;
}

#estimation_popup.wpe_bootstraped[data-form="1"] .has-switch span.switch-left {
  background-color: #1abc9c !important;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel #lfb_summary table thead {
  background-color: #1abc9c;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel #lfb_summary table th.sfb_summaryStep {
  background-color: #494b4d;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel #lfb_summary table #lfb_summaryTotal {
  color: #1abc9c;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .wpe_sliderQt {
  background-color: #494b4d;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel [data-type="slider"] {
  background-color: #494b4d;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .wpe_sliderQt .ui-slider-range,
#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .wpe_sliderQt .ui-slider-handle,
#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel [data-type="slider"] .ui-slider-range,
#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel [data-type="slider"] .ui-slider-handle {
  background-color: #1abc9c !important;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel #finalPrice span:nth-child(2) {
  color: #494b4d;
}

#estimation_popup.wpe_bootstraped[data-form="1"] .lfb_colorPreview {
  border-color: #494b4d;
}

body #estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .genSlide div.selectable:not(.checked) .img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

body #estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .genSlide div.selectable.checked .img {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: none;
}

#startInfos:before {
  content: "";
  display: block;
  width: 128px;
  height: 128px;
  background-color: #fff;
  margin: 100px auto 0;
  background-image: url("https://d335luupugsy2.cloudfront.net/images/landing_page/156965/smartphone.png");
  background-size: cover;
}

#estimation_popup.wpe_bootstraped #mainPanel .genSlide .genContent div.selectable {
  transition: all 0.3s;
}

#estimation_popup.wpe_bootstraped #mainPanel .genSlide .genContent div.selectable:hover {
  transform: scale(1.25);
}

#estimation_popup.wpe_bootstraped #mainPanel .genSlide .genContent div.selectable span.icon_select {
  display: none!important;
}
@media (max-width: 480px) {
  font-size: 36px!important;
}
