    #ajax-content-wrap
      div[data-featured-img="../../images/abert_large.png"]
        .row.project-title
          .container
            .title-wrap
              .col.span_12.section-title.no-date
                h1
                  | Abert
                #portfolio-nav
                  ul
                    li#all-items
                      a[href="../../portfolio.html"]
                        i.icon-salient-back-to-all
                  ul.controls
                    li#prev-link
                      a[href="../aulas-de-direito/" rel="next"]
                        i.icon-salient-left-arrow-thin
                    li#next-link
                      a[href="../broker-contact/" rel="prev"]
                        i.icon-salient-right-arrow-thin
        .container-wrap
          .container.main-content
            .row
              #post-area.col.span_9
                img.attachment-full.size-full.wp-post-image[width="1126" height="600" src="../../images/abert_large.png" alt="abert_large" title="" srcset="../../images/abert_large-300x160.png 300w, ../../images/abert_large-1024x546.png 1024w, ../../images/abert_large.png 1126w" sizes="(max-width: 1126px) 100vw, 1126px"]
                #portfolio-extra
                  .stylish-button.android
                    a[href="https://play.google.com/store/apps/details?id=devmaker.com.br.abertmobilizese&amp;hl=pt_BR" target="_blank"]
                      | Play Store
                  .stylish-button.ios
                    a[href="https://itunes.apple.com/us/app/abert-mobilize-se/id943486373?mt=8" target="_blank"]
                      | Apple Store
              #sidebar.col.span_3.col_last[data-follow-on-scroll="0"]
                #sidebar-inner
                  #project-meta[data-sharing="1"]
                    .nectar-social.sharing
                      span.n-shortcode
                        a#nectar-love-2967.nectar-love[href="#" title="Love this"]
                          i.icon-salient-heart
                          span.nectar-love-count
                            | 9
                      a.facebook-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-facebook
                        span.count
                      a.twitter-share.nectar-sharing[href="#" title="Tweet this"]
                        i.icon-twitter
                        span.count
                      a.linkedin-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-linkedin
                        span.count

                    .clear
                  h3
                    | ABERT
                  p
                    | A ABERT – Associação brasileira de emissoras de Rádio e Televisão – disponibiliza o seu Integrador de Emissoras de Rádio para todos os usuários de aplicativos do Brasil.
                  h3
                    | Descrição detalhada
                  ul.post-list
                    li
                      i.icon-ok
                      | Lista de rádios;
                    li
                      i.icon-ok
                      | Filtro por região, gênero e cidade;
                    li
                      i.icon-ok
                      | Descrição da rádio;
                    li
                      i.icon-ok
                      | Comunicação com a rádio por SMS.
