    #ajax-content-wrap
      div[data-featured-img="../../images/beaba_large.png"]
        .row.project-title
          .container
            .title-wrap
              .col.span_12.section-title.no-date
                h1
                  | BE-A-BÁ DA ELÉTRICA
                #portfolio-nav
                  ul
                    li#all-items
                      a[href="../../portfolio.html"]
                        i.icon-salient-back-to-all
                  ul.controls
                    li#prev-link
                      a[href="../chaves-na-mao/" rel="next"]
                        i.icon-salient-left-arrow-thin
                    li#next-link
                      a[href="../footsys/" rel="prev"]
                        i.icon-salient-right-arrow-thin
        .container-wrap
          .container.main-content
            .row
              #post-area.col.span_9
                img.attachment-full.size-full.wp-post-image[width="1128" height="600" src="../../images/beaba_large.png" alt="beaba_large" title="" srcset="../../images/beaba_large-300x160.png 300w, ../../images/beaba_large-1024x545.png 1024w, ../../images/beaba_large.png 1128w" sizes="(max-width: 1128px) 100vw, 1128px"]
                #portfolio-extra
                  .stylish-button.android
                    a[href="https://play.google.com/store/apps/details?id=br.com.devmaker.engerey&amp;hl=pt_BR" target="_blank"]
                      | Play Store
                  .stylish-button.ios
                    a[href="https://itunes.apple.com/br/app/be-a-ba-da-eletrica/id1042058329?mt=8"]
                      | App Store
              #sidebar.col.span_3.col_last[data-follow-on-scroll="0"]
                #sidebar-inner
                  #project-meta[data-sharing="1"]
                    .nectar-social.sharing
                      span.n-shortcode
                        a#nectar-love-3654.nectar-love[href="#" title="Love this"]
                          i.icon-salient-heart
                          span.nectar-love-count
                            | 2
                      a.facebook-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-facebook
                        span.count
                      a.twitter-share.nectar-sharing[href="#" title="Tweet this"]
                        i.icon-twitter
                        span.count
                      a.linkedin-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-linkedin
                        span.count

                    .clear
                  p
                    | BE-A-BÁ DA ELÉTRICA
                  p
                    | Um guia prático de elétrica para consultas rápidas que reúne em um único local, informações sobre diferentes assuntos, vários fabricantes, resumos de normas e ferramentas de dimensionamento automáticas.
                  h3
                    | Descrição detalhada
                  ul.post-list
                    li
                      i.icon-ok
                      | Sínteses de Normas;
                    li
                      i.icon-ok
                      | Compilados de catálogos de fabricantes com referências de seus produtos atuais;
                    li
                      i.icon-ok
                      | Tabelas de equivalências;
                    li
                      i.icon-ok
                      | Tabelas de especificações.
                  p
                    |  
