    #ajax-content-wrap
      div[data-featured-img="../../images/band.jpg"]
        .row.project-title
          .container
            .title-wrap
              .col.span_12.section-title.no-date
                h1
                  | Rádio Controle
                #portfolio-nav
                  ul
                    li#all-items
                      a[href="../../portfolio.html"]
                        i.icon-salient-back-to-all
                  ul.controls
                    li#prev-link
                      a[href="../desentupidor-de-ideias/" rel="next"]
                        i.icon-salient-left-arrow-thin
                    li#next-link
                      a[href="../duelo-de-make/" rel="prev"]
                        i.icon-salient-right-arrow-thin
        .container-wrap
          .container.main-content
            .row
              #post-area.col.span_9
                img.attachment-full.size-full.wp-post-image[width="1398" height="991" src="../../images/band.jpg" alt="band" title="" srcset="../../images/band-300x213.jpg 300w, ../../images/band-1024x726.jpg 1024w, ../../images/band.jpg 1398w" sizes="(max-width: 1398px) 100vw, 1398px"]
                #portfolio-extra
                  .stylish-button.android
                    a[href="https://play.google.com/store/apps/developer?id=Radio%20Controle&amp;hl=pt_BR" target="_blank"]
                      | Play Store
                  .stylish-button.ios
                    a[href="https://itunes.apple.com/br/artist/radio-controle/id673144957"]
                      | Apple Store
                  .stylish-button
                    a[href="http://rcapp.com.br/"]
                      | Site RC App
              #sidebar.col.span_3.col_last[data-follow-on-scroll="0"]
                #sidebar-inner
                  #project-meta[data-sharing="1"]
                    .nectar-social.sharing
                      span.n-shortcode
                        a#nectar-love-3377.nectar-love[href="#" title="Love this"]
                          i.icon-salient-heart
                          span.nectar-love-count
                            | 4
                      a.facebook-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-facebook
                        span.count
                      a.twitter-share.nectar-sharing[href="#" title="Tweet this"]
                        i.icon-twitter
                        span.count
                      a.linkedin-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-linkedin
                        span.count

                    .clear
                  h3
                    | Rádio Controle
                  p
                    | Aplicativo desenvolvido para a empresa Rádio Controle / Refinaria Ilimitada, com o objetivo de disponibilizar uma plataforma de interatividade entre as emissoras de rádio e seus ouvintes, deixando de ser apenas um simples APP de rádio!
                  h3
                    | Descrição detalhada
                  ul.post-list
                    li
                      i.icon-ok
                      | Streaming de rádio;
                    li
                      i.icon-ok
                      | Integração de envio de SMS diretamente para o telefone da rádio;
                    li
                      i.icon-ok
                      | Acesso direto ao Facebook da rádio;
                    li
                      i.icon-ok
                      | Navegação no site da rádio por dentro do aplicativo;
                    li
                      i.icon-ok
                      | Compartilhamento de informações do aplicativo em redes sociais;
                    li
                      i.icon-ok
                      | Em breve, novas funcionalidades que reforçarão a interatividade com os ouvintes!
