    #ajax-content-wrap
      div[data-featured-img="../../images/image_big.jpg"]
        .row.project-title
          .container
            .title-wrap
              .col.span_12.section-title.no-date
                h1
                  | Chaves na Mão
                #portfolio-nav
                  ul
                    li#all-items
                      a[href="../../portfolio.html"]
                        i.icon-salient-back-to-all
                  ul.controls
                    li#prev-link
                      a[href="../univirtus/" rel="next"]
                        i.icon-salient-left-arrow-thin
                    li#next-link
                      a[href="../be-a-ba-da-eletrica/" rel="prev"]
                        i.icon-salient-right-arrow-thin
        .container-wrap
          .container.main-content
            .row
              #post-area.col.span_9
                img.attachment-full.size-full.wp-post-image[width="1128" height="600" src="../../images/image_big.jpg" alt="image_big" title="" srcset="../../images/image_big-300x160.jpg 300w, ../../images/image_big-768x409.jpg 768w, ../../images/image_big-1024x545.jpg 1024w, ../../images/image_big.jpg 1128w" sizes="(max-width: 1128px) 100vw, 1128px"]
                #portfolio-extra
                  .stylish-button.android
                    a[href="https://play.google.com/store/apps/details?id=br.com.devmaker.chavesnamao&amp;hl=pt_BR" target="_blank"]
                      | Play Store
                  .stylish-button.ios
                    a[href="https://itunes.apple.com/ie/app/chaves-na-mao/id1087089874?mt=8"]
                      | App Store
              #sidebar.col.span_3.col_last[data-follow-on-scroll="0"]
                #sidebar-inner
                  #project-meta[data-sharing="1"]
                    .nectar-social.sharing
                      span.n-shortcode
                        a#nectar-love-3934.nectar-love[href="#" title="Love this"]
                          i.icon-salient-heart
                          span.nectar-love-count
                            | 0
                      a.facebook-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-facebook
                        span.count
                      a.twitter-share.nectar-sharing[href="#" title="Tweet this"]
                        i.icon-twitter
                        span.count
                      a.linkedin-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-linkedin
                        span.count

                    .clear
                  h3
                    | Chaves na Mão
                  p
                    | O Chaves na Mão é um dos principais portais de Classificados de Imóveis e Veículos do Brasil.
                    br
                    |  Com o nosso aplicativo você fica por dentro das melhores ofertas de apartamentos, casas, terrenos, carros seminovos e motos.
                    br
                    |  Os anúncios são exibidos de forma clara e objetiva, sempre com fotos, descrição detalhada, valores, distância que a oferta está de você e outras informações que lhe ajudarão a decidir sua próxima compra.
                  h3
                    | Descrição detalhada
                  ul.post-list
                    li
                      i.icon-ok
                      | Lista de imóveis e veículos a venda;
                    li
                      i.icon-ok
                      | Filtro por preço, data, localidade entre outros;
                    li
                      i.icon-ok
                      | Descrição completa de imóveis e veículos;
                    li
                      i.icon-ok
                      | Criação de lista de imóveis e veículos favoritos.
                  p
                    |  
                  ul.project-attrs.checks
                    li
                      | Aplicativo
