    #ajax-content-wrap
      div[data-featured-img="../../images/broker_large.png"]
        .row.project-title
          .container
            .title-wrap
              .col.span_12.section-title.no-date
                h1
                  | Broker Contact
                #portfolio-nav
                  ul
                    li#all-items
                      a[href="../../portfolio.html"]
                        i.icon-salient-back-to-all
                  ul.controls
                    li#prev-link
                      a[href="../abert/" rel="next"]
                        i.icon-salient-left-arrow-thin
                    li#next-link
                      a[href="../placo/" rel="prev"]
                        i.icon-salient-right-arrow-thin
        .container-wrap
          .container.main-content
            .row
              #post-area.col.span_9
                img.attachment-full.size-full.wp-post-image[width="870" height="464" src="../../images/broker_large.png" alt="broker_large" title="" srcset="../../images/broker_large-300x160.png 300w, ../../images/broker_large.png 870w" sizes="(max-width: 870px) 100vw, 870px"]
                #portfolio-extra
                  .stylish-button.android
                    a[href="https://play.google.com/store/apps/details?id=com.broker.brokercontact" target="_blank"]
                      | Play Store
                  .stylish-button.ios
                    a[href="https://itunes.apple.com/us/app/broker-contact/id975646517?mt=8"]
                      | Apple Store
                  .stylish-button
                    a[href="http://www.windowsphone.com/en-us/store/app/broker-contact/f71e14f6-aa04-48fb-bc93-09928e09b2c9"]
                      | Windows Phone
              #sidebar.col.span_3.col_last[data-follow-on-scroll="0"]
                #sidebar-inner
                  #project-meta[data-sharing="1"]
                    .nectar-social.sharing
                      span.n-shortcode
                        a#nectar-love-3397.nectar-love[href="#" title="Love this"]
                          i.icon-salient-heart
                          span.nectar-love-count
                            | 1
                      a.facebook-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-facebook
                        span.count
                      a.twitter-share.nectar-sharing[href="#" title="Tweet this"]
                        i.icon-twitter
                        span.count
                      a.linkedin-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-linkedin
                        span.count

                    .clear
                  h3
                    | Broker Contact
                  p
                    | Broker Contact foi desenvolvido para ser sua conexão com seus contatos de trabalho.
                  h3
                    | Descrição detalhada
                  ul.post-list
                    li
                      i.icon-ok
                      | Listagem de todas as seguradoras que operam com a Lojacorr S.A;
                    li
                      i.icon-ok
                      | Exibição das informações das seguradoras incluindo: Telefones (Helpdesk, assistência 24 horas, sinistro etc), contato com o responsável (de acordo com sua unidade regional), endereço vinculado ao Google Maps;
                    li
                      i.icon-ok
                      | Lista da sua carteira de segurados com a opção de busca aproximada por nome, telefone do segurado;
                    li
                      i.icon-ok
                      | Informações de contato da sua unidade regional.
