doctype html
html[lang="pt-BR" prefix="og: http://ogp.me/ns#"]
  head
    = partial "partials/metatags/common"
    = render_metatags current_path
    link rel="stylesheet" href="stylesheets/main.css"/
    script[type="text/javascript" src="javascripts/main_header.js"]
  body class=("page page-template-default wpb-js-composer js-comp-ver-4.3.5 vc_responsive") data-ajax-transitions="true" data-animated-anchors="true" data-bg-header="true" data-ext-responsive="true" data-full-width-header="false" data-header-color="light" data-header-inherit-rc="false" data-header-resize="1" data-header-search="false" data-loading-animation="spin" data-responsive="1" data-slide-out-widget-area="false" data-smooth-scrolling="0"
    = yield
    = partial "partials/footer"
