| <!doctype html> 
html[lang="pt-BR" prefix="og: http://ogp.me/ns#"]
  head
    = subportfolio_metadata current_path
    script[async src="https://www.googletagmanager.com/gtag/js?id=AW-878642468"]
    script[type="text/javascript" src="../../javascripts/subportfolio_header.js"]
    link rel="stylesheet" href="../../stylesheets/subportfolio.css"/
  body.single.single-portfolio.wpb-js-composer.js-comp-ver-4.3.5.vc_responsive[data-header-inherit-rc="false" data-header-search="false" data-animated-anchors="true" data-ajax-transitions="true" data-full-width-header="false" data-slide-out-widget-area="false" data-loading-animation="spin" data-bg-header="false" data-ext-responsive="true" data-header-resize="1" data-header-color="light" data-smooth-scrolling="0" data-responsive="1"]
    = partial "../../partials/subportfolio_navbar"


    = yield

    = partial "../../partials/subportfolio_footer"
    a#to-top
      i.icon-angle-up
    script[type="text/javascript" src="../../javascripts/subportfolio_footer.js"]
