meta[charset="UTF-8"]
meta[name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"]
link[rel="shortcut icon" href="../../images/favicon.png"]
title
    |  Aplicativo #{app_name} - DevMaker | Desenvolvimento de Aplicativos
meta[name="description" content="A DevMaker empresa de aplicativos, foi responsável pelo o desenvolvimento do aplicativo #{app_name}. Veja aqui suas funcionalidade e características..."]
meta[name="robots" content="noodp"]
link[rel="canonical" href="#{app_link}"]
meta[property="og:locale" content="pt_BR"]
meta[property="og:type" content="article"]
meta[property="og:title" content="Aplicativo #{app_name} - DevMaker | Desenvolvimento de Aplicativos"]
meta[property="og:description" content="A DevMaker empresa de aplicativos, foi responsável pelo o desenvolvimento do aplicativo #{app_name}. Veja aqui suas funcionalidade e características..."]
meta[property="og:url" content="#{app_link}"]
meta[property="og:site_name" content="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps."]
meta[property="og:image" content="../../images/#{app_image}"]
meta[property="og:image:width" content="1126"]
meta[property="og:image:height" content="600"]
meta[name="twitter:card" content="summary"]
meta[name="twitter:description" content="A DevMaker empresa de aplicativos, foi responsável pelo o desenvolvimento do aplicativo #{app_name}. Veja aqui suas funcionalidade e características..."]
meta[name="twitter:title" content="Aplicativo #{app_name} - DevMaker | Desenvolvimento de Aplicativos"]
meta[name="twitter:image" content="../../images/#{app_image}"]
link[rel="alternate" type="application/rss+xml" title="Feed de Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps. &raquo;" href="http://devmaker.com.br/feed/index.html"]
link[rel="alternate" type="application/rss+xml" title="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps. &raquo;  Feed de comentários" href="http://devmaker.com.br/comments/feed/index.html"]
link[rel="https://api.w.org/" href="http://devmaker.com.br/wp-json/index.html"]
link[rel="EditURI" type="application/rsd+xml" title="RSD" href="http://devmaker.com.br/xmlrpc.php%3Frsd"]
link[rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://devmaker.com.br/wp-includes/wlwmanifest.xml"]
link[rel="shortlink" href="#{app_link}"]
link[rel="alternate" type="application/json+oembed" href="http://devmaker.com.br/wp-json/oembed/1.0/embed%3Furl=http:%252F%252Fdevmaker.com.br%252Fportfolio%252Fabert%252F"]
link[rel="alternate" type="text/xml+oembed" href="http://devmaker.com.br/wp-json/oembed/1.0/embed%3Furl=http:%252F%252Fdevmaker.com.br%252Fportfolio%252Fabert%252F&amp;format=xml"]
