#header-space
#header-outer[data-has-menu="true" data-user-set-bg="#ffffff" data-format="default" data-cart="false" data-transparency-option="" data-shrink-num="6" data-full-width="false" data-using-secondary="0" data-using-logo="1" data-logo-height="52" data-padding="28" data-header-resize="1"]
  #search-outer.nectar
    #search
      .container
        #search-box
          .col.span_12
            form[action="../../" method="GET"]
              input#s[type="text" name="s" value="Start Typing..." data-placeholder="Start Typing..."]
        #close
          a[href="#"]
            span.icon-salient-x[aria-hidden="true"]
  header#top
    .container
      .row
        .col.span_3
          a#logo[href="../../"]
            img.default-logo.dark-version[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="../../images/logoDark.png"]
            img.retina-logo.dark-version[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="../../images/logoDark@2x.png"]
        .col.span_9.col_last
          a#toggle-nav[href="#mobilemenu"]
            i.icon-reorder
          nav
            ul.buttons
              li
                span
                  a[href="#" title="Português" alt="Português" target="_blank"]
                    | BR
                  | /
                  a[href="#" title="English" alt="English" target="_blank"]
                    | EN
              li#search-btn
                div
                  a[href="#searchbox"]
                    span.icon-salient-search[aria-hidden="true"]
            ul.sf-menu
              li#menu-item-3130.menu-home.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3130
                a[href="../.."]
                  | Home
              li#menu-item-3129.menu-port.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3129
                a[href="../../portfolio.html"]
                  | Portfólio
              li#menu-item-3157.menu-empresa.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3157
                a[href="../../empresa.html"]
                  | Empresa
              li#menu-item-3440.menu-clientes.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3440
                a[href="../../clientes.html"]
                  | Clientes
              li#menu-item-4052.menu-item.menu-item-type-post_type.menu-item-object-page.current_page_parent.menu-item-4052
                a[href="../../blog/"]
                  | Blog
              li#menu-item-3815.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3815
                a[href="../../orcamento/"]
                  | Orçamento
  .ns-loading-cover
#mobile-menu
  .container
    ul
      li.menu-home.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3130
        a[href="../../"]
          | Home
      li.menu-port.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3129
        a[href="../../portfolio.html"]
          | Portfólio
      li.menu-empresa.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3157
        a[href="../../empresa.html"]
          | Empresa
      li.menu-clientes.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3440
        a[href="../../clientes.html"]
          | Clientes
      li.menu-item.menu-item-type-post_type.menu-item-object-page.current_page_parent.menu-item-4052
        a[href="../../blog/"]
          | Blog
      li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3815
        a[href="../../orcamento/"]
          | Orçamento
      li#mobile-search
        form[action="../../" method="GET"]
          input[type="text" name="s" value="" placeholder="Search.."]
#ajax-loading-screen[data-method="ajax"]
  span.loading-icon
    span.default-skin-loading-icon
