a.home.cta.orcamento[href="http://devmaker.com.br/quanto-custa-criar-um-aplicativo/" target="_blank" title="Descubra agora!"]
  span
    | Quanto custa criar um aplicativo?
#footer-outer[data-using-widget-area="true"]
  #footer-widgets
    .container
      .row
        .col.span_6
          #text-7.widget.widget_text
            .textwidget
              #fws_5c2e2c950bdd3.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
                .row-bg-wrap
                  .row-bg[style=""]
                .col.span_12.dark
                  .vc_col-sm-6.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                    .wpb_wrapper
                      .wpb_text_column.wpb_content_element
                        .wpb_wrapper
                          p
                            a[itemprop="url" href="../../"]
                              br
                              b
                                | DevMaker Mobile Apps
                              br
                          div[itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"]
                            span.s1[itemprop="streetAddress"]
                              | Avenida Cidade Jardim, 400 - 7° e 20°
                              br
                              |  Andares - Jardim Paulistano
                            br
                            spam[itemprop="addressCode"]
                              | 01454-000
                              |  - 
                              spam[itemprop="addressLocality"]
                                | São Paulo
                                br
                                spam[itemprop="addressRegion"]
                                  | São Paulo
                                  | , 
                                  spam[itemprop="addressCountry"]
                                    | Brasil
                                    p
                                      strong
                                        | Tel.
                                      span[itemprop="telephone"]
                                        a[href="tel:+55 (11) 3818-0916"]
                                          | +55 (11) 3818-0916
                          div[itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"]
                            span.s1[itemprop="streetAddress"]
                              | Alameda Dr. Carlos de Carvalho, 771 - 7° Andar - Batel
                            br
                            spam[itemprop="addressCode"]
                              | 80430-180
                              |  - 
                              spam[itemprop="addressLocality"]
                                | Curitiba
                                br
                                spam[itemprop="addressRegion"]
                                  | Paraná
                                  | , 
                                  spam[itemprop="addressCountry"]
                                    | Brasil
                                    p
                                      strong
                                        | Tel.
                                      span[itemprop="telephone"]
                                        a[href="tel:+55 (41) 3348-8694"]
                                          | +55 (41) 3348-8696
                          p
                            strong
                              | Email: 
                            span.s1[itemprop="email"]
                              a[href="mailto:contato@devmaker.com.br"]
                                | contato@devmaker.com.br
                              br
                              strong
                                | facebook:
                              a[href="https://facebook.com/devmakercwb/" target="_blank"]
                                | devmakercwb
                              br
                              strong
                                | instagram:
                              a[href="https://instagram.com/devmakermobile/" target="_blank"]
                                | devmakermobile
                              br
                            span.s1
                              a[href="mailto:http://contato@devmaker.com.br"]
                                br
                            a[href="../../"]
                              img.alignnone.size-full.wp-image-3060[itemprop="img" src="../../images/logoDevMaker.png" alt="logoDevMaker" width="230" height="52"]
        .col.span_6
          #text-3.widget.widget_text
            .textwidget
              #fws_5c2e2c950cf8c.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
                .row-bg-wrap
                  .row-bg[style=""]
                .col.span_12.dark
                  .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                    .wpb_wrapper
                      .wpb_text_column.wpb_content_element
                        .wpb_wrapper
                          p
                            b
                              | Institucional
                            br
                            br
                            span.s1
                              a[href="../../empresa.html"]
                                | A Empresa
                            br
                            span.s1
                              a[href="../../portfolio.html"]
                                | Portfólio
                            br
                            span.s1
                              a[href="../../clientes.html"]
                                | Clientes
                  .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                    .wpb_wrapper
                      .wpb_text_column.wpb_content_element
                        .wpb_wrapper
                          p
                            b
                              | Projetos
                            br
                            br
                            span.s1
                              a[href="../../portfolio.html"]
                                | Android
                            br
                            span.s1
                              a[href="../../portfolio.html"]
                                | Facebook Apps
                            br
                            span.s1
                              a[href="../../portfolio.html"]
                                | Apple
                  .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                    .wpb_wrapper
                      .wpb_text_column.wpb_content_element
                        .wpb_wrapper
                          p
                            b
                              | Blog
                            br
                            br
                            span.s1
                              a[href="/blog/"]
                                | Android
                            br
                            span.s1
                              a[href="/blog/"]
                                | Aplicativos
                            br
                            span.s1
                              a[href="#"]
                                | Dicas
                            br
                            span.s1
                              a[href="/blog/"]
                                | Microempresas
                  .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                    .wpb_wrapper
                      .wpb_text_column.wpb_content_element
                        .wpb_wrapper
                          p
                            b
                              | Contato
                            br
                            br
                            span.s1
                              a[href="../../orcamento"]
                                | Orçamento
                            br
                            span.s1
                              a[href="../../contato"]
                                | Fale Conosco
  #copyright.row
    .container
      .col.span_5
        p
          | © 2019 DevMaker Mobile Apps. All Rights Reserved. 
      .col.span_7.col_last
        ul#social
          li
            a[target="_blank" href="https://www.facebook.com/devmakercwb"]
              i.icon-facebook
          li
            a[target="_blank" href="https://www.linkedin.com/company/devmaker"]
              i.icon-linkedin
