    #ajax-content-wrap
      div[data-featured-img="../../images/tim_large.png"]
        .row.project-title
          .container
            .title-wrap
              .col.span_12.section-title.no-date
                h1
                  | TIM
                #portfolio-nav
                  ul
                    li#all-items
                      a[href="../../portfolio.html"]
                        i.icon-salient-back-to-all
                  ul.controls
                    li#prev-link
                      a[href="../cembra/" rel="next"]
                        i.icon-salient-left-arrow-thin
                    li#next-link
                      a[href="../so-carrao/" rel="prev"]
                        i.icon-salient-right-arrow-thin
        .container-wrap
          .container.main-content
            .row
              #post-area.col.span_9
                img.attachment-full.size-full.wp-post-image[width="1441" height="768" src="../../images/tim_large.png" alt="tim_large" title="" srcset="../../images/tim_large-300x160.png 300w, ../../images/tim_large-1024x546.png 1024w, ../../images/tim_large.png 1441w" sizes="(max-width: 1441px) 100vw, 1441px"]
              #sidebar.col.span_3.col_last[data-follow-on-scroll="0"]
                #sidebar-inner
                  #project-meta[data-sharing="1"]
                    .nectar-social.sharing
                      span.n-shortcode
                        a#nectar-love-3245.nectar-love[href="#" title="Love this"]
                          i.icon-salient-heart
                          span.nectar-love-count
                            | 8
                      a.facebook-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-facebook
                        span.count
                      a.twitter-share.nectar-sharing[href="#" title="Tweet this"]
                        i.icon-twitter
                        span.count
                      a.linkedin-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-linkedin
                        span.count

                    .clear
                  h3
                    | Tim Pesquisa
                  p
                    | Aplicativo criado para a operadora Tim, para fins de pesquisas internas da empresa
                  h3
                    | Descrição detalhada
                  ul.post-list
                    li
                      i.icon-ok
                      | Simples navegação;
                    li
                      i.icon-ok
                      | Formulário com múltiplas escolhas.
                  p
                    |  
                  ul.project-attrs.checks
                    li
                      | Aplicativo
                    li
                      | Branding
