    #ajax-content-wrap
      div[data-featured-img="../../images/footsys_large.png"]
        .row.project-title
          .container
            .title-wrap
              .col.span_12.section-title.no-date
                h1
                  | FootSys
                #portfolio-nav
                  ul
                    li#all-items
                      a[href="../../portfolio.html"]
                        i.icon-salient-back-to-all
                  ul.controls
                    li#prev-link
                      a[href="../be-a-ba-da-eletrica/" rel="next"]
                        i.icon-salient-left-arrow-thin
                    li#next-link
                      a[href="../cembra/" rel="prev"]
                        i.icon-salient-right-arrow-thin
        .container-wrap
          .container.main-content
            .row
              #post-area.col.span_9
                img.attachment-full.size-full.wp-post-image[width="1127" height="600" src="../../images/footsys_large.png" alt="footsys_large" title="" srcset="../../images/footsys_large-300x160.png 300w, ../../images/footsys_large-1024x545.png 1024w, ../../images/footsys_large.png 1127w" sizes="(max-width: 1127px) 100vw, 1127px"]
                #portfolio-extra
                  .stylish-button.ios
                    a[href="https://itunes.apple.com/br/app/footsys/id948345730?mt=8"]
                      | App Store
              #sidebar.col.span_3.col_last[data-follow-on-scroll="0"]
                #sidebar-inner
                  #project-meta[data-sharing="1"]
                    .nectar-social.sharing
                      span.n-shortcode
                        a#nectar-love-3568.nectar-love[href="#" title="Love this"]
                          i.icon-salient-heart
                          span.nectar-love-count
                            | 3
                      a.facebook-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-facebook
                        span.count
                      a.twitter-share.nectar-sharing[href="#" title="Tweet this"]
                        i.icon-twitter
                        span.count
                      a.linkedin-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-linkedin
                        span.count

                    .clear
                  h3
                    | FootSys
                  p
                    | O FootSys é um aplicativo de controle de treinos. Criado com base no futebol, também pode ser utilizado em outras modalidades devido à possibilidade de customização no cadastro de dados.
                  h3
                    | Descrição detalhada
                  ul.post-list
                    li
                      i.icon-ok
                      | Controle de Treino de um grupo de atletas simultaneamente;
                    li
                      i.icon-ok
                      | Cadastro de avaliações físicas e acompanhamento da evolução do atleta;
                    li
                      i.icon-ok
                      | Gráficos comparativos de dois atletas de acordo com seus resultados;
                    li
                      i.icon-ok
                      | Histórico de volume e unidades de treino de cada atleta cadastrado;
                    li
                      i.icon-ok
                      | Acesso ao histórico de trabalhos realizados de acordo com o filtro, sendo possível ver dados de um dia, uma semana e até anos de treino.
                  p
                    |  
                  ul.project-attrs.checks
                    li
                      | Aplicativo
