    #ajax-content-wrap
      div[data-featured-img="../../images/bittencourt_large.png"]
        .row.project-title
          .container
            .title-wrap
              .col.span_12.section-title.no-date
                h1
                  | Aulas de Direito – Premium
                #portfolio-nav
                  ul
                    li#all-items
                      a[href="../../portfolio.html"]
                        i.icon-salient-back-to-all
                  ul.controls
                    li#prev-link
                      a[href="../so-carrao/" rel="next"]
                        i.icon-salient-left-arrow-thin
                    li#next-link
                      a[href="../abert/" rel="prev"]
                        i.icon-salient-right-arrow-thin
        .container-wrap
          .container.main-content
            .row
              #post-area.col.span_9
                img.attachment-full.size-full.wp-post-image[width="1126" height="600" src="../../images/bittencourt_large.png" alt="bittencourt_large" title="" srcset="../../images/bittencourt_large-300x160.png 300w, ../../images/bittencourt_large-1024x546.png 1024w, ../../images/bittencourt_large.png 1126w" sizes="(max-width: 1126px) 100vw, 1126px"]
                #portfolio-extra
                  .stylish-button.android
                    a[href="https://play.google.com/store/apps/details?id=br.com.devmaker.marcusbittencourt.premium" target="_blank"]
                      | Play Store
                  .stylish-button.ios
                    a[href="https://itunes.apple.com/br/app/aulas-de-direito-premium/id1032843131?mt=8"]
                      | App Store
              #sidebar.col.span_3.col_last[data-follow-on-scroll="0"]
                #sidebar-inner
                  #project-meta[data-sharing="1"]
                    .nectar-social.sharing
                      span.n-shortcode
                        a#nectar-love-3373.nectar-love[href="#" title="Love this"]
                          i.icon-salient-heart
                          span.nectar-love-count
                            | 6
                      a.facebook-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-facebook
                        span.count
                      a.twitter-share.nectar-sharing[href="#" title="Tweet this"]
                        i.icon-twitter
                        span.count
                      a.linkedin-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-linkedin
                        span.count

                    .clear
                  h3
                    | Aulas de Direito – Premium
                  p
                    | Tenha acesso exclusivo a aulas de Direito Constitucional e Direito Administrativo para Concursos Públicos, Exame da Ordem e para aprimoramento na área do Direito Público, apresentadas pelo Professor Marcus Bittencourt.
                    br
                    |  Aplicativo disponível para Android e iOS.
                  h3
                    | Descrição detalhada
                  ul.post-list
                    li
                      i.icon-ok
                      | Listagem de todos os vídeos do canal do Marcus Bittencourt no YouTube;
                    li
                      i.icon-ok
                      | Visualização das playlists do canal;
                    li
                      i.icon-ok
                      | Aulas exclusivas disponíveis apenas no aplicativo.
                  p
                    |  
