    #ajax-content-wrap
      div[data-featured-img="../../images/jba.jpg"]
        .row.project-title
          .container
            .title-wrap
              .col.span_12.section-title.no-date
                h1
                  | JBA Imóveis
                #portfolio-nav
                  ul
                    li#all-items
                      a[href="../../portfolio.html"]
                        i.icon-salient-back-to-all
                  ul.controls
                    li#prev-link
                      a[href="../euroit/" rel="next"]
                        i.icon-salient-left-arrow-thin
                    li#next-link
        .container-wrap
          .container.main-content
            .row
              #post-area.col.span_9
                img.attachment-full.size-full.wp-post-image[width="1441" height="768" src="../../images/jba.jpg" alt="jba" title="" srcset="../../images/jba-300x160.jpg 300w, ../../images/jba-1024x546.jpg 1024w, ../../images/jba.jpg 1441w" sizes="(max-width: 1441px) 100vw, 1441px"]
                #portfolio-extra
                  #portfolio-extra
                    .stylish-button.android
                      a[href="https://play.google.com/store/apps/details?id=br.com.devmaker.jbaimoveis&amp;hl=pt_BR" target="_blank"]
                        | Play Store
                    .stylish-button.ios
                      a[href="https://itunes.apple.com/br/app/jba-imoveis/id853304169?mt=8"]
                        | Apple Store
              #sidebar.col.span_3.col_last[data-follow-on-scroll="0"]
                #sidebar-inner
                  #project-meta[data-sharing="1"]
                    .nectar-social.sharing
                      span.n-shortcode
                        a#nectar-love-3608.nectar-love[href="#" title="Love this"]
                          i.icon-salient-heart
                          span.nectar-love-count
                            | 0
                      a.facebook-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-facebook
                        span.count
                      a.twitter-share.nectar-sharing[href="#" title="Tweet this"]
                        i.icon-twitter
                        span.count
                      a.linkedin-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-linkedin
                        span.count

                    .clear
                  h3
                    | JBA Imóveis
                  p
                    | Aplicativo desenvolvido para a empresa JBA Imóveis, focado na busca de imóveis à venda em Curitiba e Região Metropolitana, com um diferencial, a localização de imóveis via GPS, muito útil quando o cliente está visitando os imóveis desejados.
                  h3
                    | Descrição detalhada
                  ul.post-list
                    li
                      i.icon-ok
                      | Encontre o imóvel desejado;
                    li
                      i.icon-ok
                      | Agora os imóveis estão na ponta dos dedos;
                    li
                      i.icon-ok
                      | Procure imóveis de diversas formas: por bairro, valores, vagas na garagem, tipo de imóvel e outras diversas opções;
                    li
                      i.icon-ok
                      | Filtre sua pesquisa de acordo com o seu perfil.
