    #ajax-content-wrap
      div[data-featured-img="../../images/desentupidor.jpg"]
        .row.project-title
          .container
            .title-wrap
              .col.span_12.section-title.no-date
                h1
                  | Desentupidor de ideias
                #portfolio-nav
                  ul
                    li#all-items
                      a[href="../../portfolio.html"]
                        i.icon-salient-back-to-all
                  ul.controls
                    li#prev-link
                      a[href="../placoteca/" rel="next"]
                        i.icon-salient-left-arrow-thin
                    li#next-link
                      a[href="../radio-controle/" rel="prev"]
                        i.icon-salient-right-arrow-thin
        .container-wrap
          .container.main-content
            .row
              #post-area.col.span_9
                img.attachment-full.size-full.wp-post-image[width="1503" height="984" src="../../images/desentupidor.jpg" alt="desentupidor" title="" srcset="../../images/desentupidor-300x196.jpg 300w, ../../images/desentupidor-1024x670.jpg 1024w, ../../images/desentupidor.jpg 1503w" sizes="(max-width: 1503px) 100vw, 1503px"]
              #sidebar.col.span_3.col_last[data-follow-on-scroll="0"]
                #sidebar-inner
                  #project-meta[data-sharing="1"]
                    .nectar-social.sharing
                      span.n-shortcode
                        a#nectar-love-3381.nectar-love[href="#" title="Love this"]
                          i.icon-salient-heart
                          span.nectar-love-count
                            | 10
                      a.facebook-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-facebook
                        span.count
                      a.twitter-share.nectar-sharing[href="#" title="Tweet this"]
                        i.icon-twitter
                        span.count
                      a.linkedin-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-linkedin
                        span.count

                    .clear
                  h3
                    | Desentupidor de ideias
                  p
                    | Aplicativo desenvolvido para iOS, a pedido de um Diretor de Arte, com o objetivo atender o mercado publicitário visando ter ideias mais eficientes.
                  p
                    | Ideia e design, de Diogo Seibert.
                  h3
                    | Descrição detalhada
                  ul.post-list
                    li
                      i.icon-ok
                      | Procura de imagens e textos por palavra chave;
                    li
                      i.icon-ok
                      | Favorite os textos e imagens que desejar, para a palavra chave buscada;
                    li
                      i.icon-ok
                      | Liste seus favoritos, monte sua campanha publicitária e desentupa suas ideias!
