    #ajax-content-wrap
      div[data-featured-img="../../images/big_uninter-2.jpg"]
        .row.project-title
          .container
            .title-wrap
              .col.span_12.section-title.no-date
                h1
                  | UNIVIRTUS
                #portfolio-nav
                  ul
                    li#all-items
                      a[href="../../portfolio.html"]
                        i.icon-salient-back-to-all
                  ul.controls
                    li#prev-link
                      a[href="../uningresso/" rel="next"]
                        i.icon-salient-left-arrow-thin
                    li#next-link
                      a[href="../chaves-na-mao/" rel="prev"]
                        i.icon-salient-right-arrow-thin
        .container-wrap
          .container.main-content
            .row
              #post-area.col.span_9
                img.attachment-full.size-full.wp-post-image[width="968" height="600" src="../../images/big_uninter-2.jpg" alt="big_uninter" title="" srcset="../../images/big_uninter-2-300x186.jpg 300w, ../../images/big_uninter-2-768x476.jpg 768w, ../../images/big_uninter-2.jpg 968w" sizes="(max-width: 968px) 100vw, 968px"]
                #portfolio-extra
                  .stylish-button.android
                    a[href="https://play.google.com/store/apps/details?id=br.com.devmaker.univirtus&amp;hl=pt_BR" target="_blank"]
                      | Play Store
                  .stylish-button.ios
                    a[href="https://itunes.apple.com/br/app/univirtus/id1116664551?mt=8"]
                      | App Store
              #sidebar.col.span_3.col_last[data-follow-on-scroll="0"]
                #sidebar-inner
                  #project-meta[data-sharing="1"]
                    .nectar-social.sharing
                      span.n-shortcode
                        a#nectar-love-3941.nectar-love[href="#" title="Love this"]
                          i.icon-salient-heart
                          span.nectar-love-count
                            | 1
                      a.facebook-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-facebook
                        span.count
                      a.twitter-share.nectar-sharing[href="#" title="Tweet this"]
                        i.icon-twitter
                        span.count
                      a.linkedin-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-linkedin
                        span.count

                    .clear
                  h3
                    | UNIVIRTUS
                  p
                    | Versão para dispositivos móveis do sistema Univirtus – ambiente virtual de aprendizagem da Uninter.
                    br
                    |  Desenvolvido para uso de alunos, docentes e gestores de cursos.
                    br
                    |  Permite acesso aos materiais didáticos, ferramenta de tutoria, agenda de avaliações, informações de cursos e disciplinas, calendário acadêmico, além de notificações enviadas pelos tutores.
                  h3
                    | Descrição detalhada
                  ul.post-list
                    li
                      i.icon-ok
                      | Roteiros de estudo;
                    li
                      i.icon-ok
                      | Calendários;
                    li
                      i.icon-ok
                      | Tela de acesso aos PDF;
                    li
                      i.icon-ok
                      | Acesso a tutoria;
                  p
                    |  
