title
  |  Empresa de Desenvolvimento de Aplicativos - Clientes | DevMaker
meta[name="description" content="A DevMaker é responsável pelo desenvolvimento de aplicativos como os da TIM, Band News e outras empresas líderes do mercado. Confira aqui os nossos clientes."]
meta[name="robots" content="noodp"]
link[rel="canonical" href="http://devmaker.com.br/clientes/"]
meta[property="og:locale" content="pt_BR"]
meta[property="og:type" content="article"]
meta[property="og:title" content="Empresa de Desenvolvimento de Aplicativos - Clientes | DevMaker"]
meta[property="og:description" content="A DevMaker é responsável pelo desenvolvimento de aplicativos como os da TIM, Band News e outras empresas líderes do mercado. Confira aqui os nossos clientes."]
meta[property="og:url" content="http://devmaker.com.br/clientes/"]
meta[property="og:site_name" content="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps."]
meta[name="twitter:card" content="summary"]
meta[name="twitter:description" content="A DevMaker é responsável pelo desenvolvimento de aplicativos como os da TIM, Band News e outras empresas líderes do mercado. Confira aqui os nossos clientes."]
meta[name="twitter:title" content="Empresa de Desenvolvimento de Aplicativos - Clientes | DevMaker"]
link[rel="shortlink" href="http://devmaker.com.br/?p=3438"]
link[rel="alternate" type="application/json+oembed" href="http://devmaker.com.br/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fdevmaker.com.br%2Fclientes%2F"]
link[rel="alternate" type="text/xml+oembed" href="http://devmaker.com.br/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fdevmaker.com.br%2Fclientes%2F&#038;format=xml"]
