meta[charset="UTF-8"]
script[async src="https://www.googletagmanager.com/gtag/js?id=AW-878642468"]
script[src="https://www.google.com/recaptcha/api.js"]
meta[name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"]
link[rel="shortcut icon" href="images/favicon.png"]

link[rel="alternate" type="application/rss+xml" title="Feed de Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps. &raquo;" href="http://devmaker.com.br/feed/"]
link[rel="alternate" type="application/rss+xml" title="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps. &raquo;  Feed de comentários" href="http://devmaker.com.br/comments/feed/"]
link[rel="alternate" type="application/rss+xml" title="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps. &raquo; Home  Feed de comentários" href="http://devmaker.com.br/home/feed/"]

link[rel="https://api.w.org/" href="http://devmaker.com.br/wp-json/"]
link[rel="EditURI" type="application/rsd+xml" title="RSD" href="http://devmaker.com.br/xmlrpc.php?rsd"]
link[rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://devmaker.com.br/wp-includes/wlwmanifest.xml"]
