title
  |  Empresa de Desenvolvimento de Aplicativos - Contato | DevMaker
meta[name="description" content="A DevMaker, empresa de Desenvolvimento de Aplicativos irá transformar a sua ideia em um Aplicativo Mobile. Entre em contato que explicamos como trabalhamos."]
meta[name="robots" content="noodp"]
link[rel="canonical" href="http://devmaker.com.br/contato/"]
meta[property="og:locale" content="pt_BR"]
meta[property="og:type" content="article"]
meta[property="og:title" content="Empresa de Desenvolvimento de Aplicativos - Contato | DevMaker"]
meta[property="og:description" content="A DevMaker, empresa de Desenvolvimento de Aplicativos irá transformar a sua ideia em um Aplicativo Mobile. Entre em contato que explicamos como trabalhamos."]
meta[property="og:url" content="http://devmaker.com.br/contato/"]
meta[property="og:site_name" content="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps."]
meta[name="twitter:card" content="summary"]
meta[name="twitter:description" content="A DevMaker, empresa de Desenvolvimento de Aplicativos irá transformar a sua ideia em um Aplicativo Mobile. Entre em contato que explicamos como trabalhamos."]
meta[name="twitter:title" content="Empresa de Desenvolvimento de Aplicativos - Contato | DevMaker"]

link[rel="shortlink" href="http://devmaker.com.br/?p=26"]
link[rel="alternate" type="application/json+oembed" href="http://devmaker.com.br/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fdevmaker.com.br%2Fcontato%2F"]
link[rel="alternate" type="text/xml+oembed" href="http://devmaker.com.br/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fdevmaker.com.br%2Fcontato%2F&#038;format=xml"]
