title
  |  Empresa de Desenvolvimento de Aplicativos - Empresa | DevMaker
meta[name="description" content="DevMaker é uma Empresa de Desenvolvimento de Aplicativos mobile especializada nas plataformas iOS e Android. Confira aqui um pouco mais sobre nós e entre em contato."]
meta[name="robots" content="noodp"]
link[rel="canonical" href="http://devmaker.com.br/empresa/"]
meta[property="og:locale" content="pt_BR"]
meta[property="og:type" content="article"]
meta[property="og:title" content="Empresa de Desenvolvimento de Aplicativos - Empresa | DevMaker"]
meta[property="og:description" content="DevMaker é uma Empresa de Desenvolvimento de Aplicativos mobile especializada nas plataformas iOS e Android. Confira aqui um pouco mais sobre nós e entre em contato."]
meta[property="og:url" content="http://devmaker.com.br/empresa/"]
meta[property="og:site_name" content="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps."]
meta[name="twitter:card" content="summary"]
meta[name="twitter:description" content="DevMaker é uma Empresa de Desenvolvimento de Aplicativos mobile especializada nas plataformas iOS e Android. Confira aqui um pouco mais sobre nós e entre em contato."]
meta[name="twitter:title" content="Desenvolvimento de Aplicativos - Empresa | DevMaker"]

link[rel="shortlink" href="http://devmaker.com.br/?p=704"]
link[rel="alternate" type="application/json+oembed" href="http://devmaker.com.br/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fdevmaker.com.br%2Fempresa%2F"]
link[rel="alternate" type="text/xml+oembed" href="http://devmaker.com.br/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fdevmaker.com.br%2Fempresa%2F&#038;format=xml"]
