title
  |  Desenvolvimento de Aplicativos Mobile - DevMaker
meta[name="description" content="Empresa focada em desenvolvimento de aplicativos mobile. Referência em desenvolvimento Android e iOS. Confira aqui e saiba mais sobre a empresa e nossos cases."]
meta[name="robots" content="noodp"]
link[rel="canonical" href="http://devmaker.com.br/"]
meta[property="og:locale" content="pt_BR"]
meta[property="og:type" content="website"]
meta[property="og:title" content="Desenvolvimento de Aplicativos Mobile - DevMaker"]
meta[property="og:description" content="Empresa focada em desenvolvimento de aplicativos mobile. Referência em desenvolvimento Android e iOS. Confira aqui e saiba mais sobre a empresa e nossos cases."]
meta[property="og:url" content="http://devmaker.com.br/"]
meta[property="og:site_name" content="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps."]
meta[property="og:image" content="images/O-QUE-ESTAu0304O-FALANDO.png"]
meta[property="og:image" content="images/FALE-CONOSCO.png"]
meta[name="twitter:card" content="summary"]
meta[name="twitter:description" content="Empresa focada em desenvolvimento de aplicativos mobile. Referência em desenvolvimento Android e iOS. Confira aqui e saiba mais sobre a empresa e nossos cases."]
meta[name="twitter:title" content="Desenvolvimento de Aplicativos Mobile - DevMaker"]
meta[name="twitter:image" content="images/O-QUE-ESTAu0304O-FALANDO.png"]
script[type="application/ld+json"]
  | {"@context":"http:\/\/schema.org","@type":"WebSite","url":"http:\/\/devmaker.com.br\/","name":"Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.","potentialAction":{"@type":"SearchAction","target":"http:\/\/devmaker.com.br\/?s={search_term_string}","query-input":"required name=search_term_string"}}

link[rel="shortlink" href="http://devmaker.com.br/"]
