title
  |  Portfólio - DevMaker Empresa de Desenvolvimento de Aplicativos
meta[name="description" content="Há anos atendendo empresas de todos os setores, já desenvolvemos aplicativos inovadores para empresas líderes do mercado, confira nosso portfólio."]
meta[name="robots" content="noodp"]
link[rel="canonical" href="http://devmaker.com.br/portfolio/"]
meta[property="og:locale" content="pt_BR"]
meta[property="og:type" content="article"]
meta[property="og:title" content="Portfólio - DevMaker Empresa de Desenvolvimento de Aplicativos"]
meta[property="og:description" content="Há anos atendendo empresas de todos os setores, já desenvolvemos aplicativos inovadores para empresas líderes do mercado, confira nosso portfólio."]
meta[property="og:url" content="http://devmaker.com.br/portfolio/"]
meta[property="og:site_name" content="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps."]
meta[property="og:image" content="images/decathlon-connect-logo.png"]
meta[property="og:image" content="images/app-store-badge-1.png"]
meta[property="og:image" content="images/google-play-badge.png"]
meta[property="og:image" content="images/logo_socarrao.png"]
meta[property="og:image" content="images/logo_placoteca.png"]
meta[property="og:image" content="images/logo_footsys.png"]
meta[name="twitter:card" content="summary"]
meta[name="twitter:description" content="Há anos atendendo empresas de todos os setores, já desenvolvemos aplicativos inovadores para empresas líderes do mercado, confira nosso portfólio."]
meta[name="twitter:title" content="Portfólio - DevMaker Empresa de Desenvolvimento de Aplicativos"]
meta[name="twitter:image" content="images/decathlon-connect-logo.png"]
