body a {
    color: #1ba18b;
}

header#top nav ul li a:hover,
header#top nav .sf-menu li.sfHover>a,
header#top nav .sf-menu li.current-menu-item>a,
header#top nav .sf-menu li.current_page_item>a .sf-sub-indicator i,
header#top nav .sf-menu li.current_page_ancestor>a .sf-sub-indicator i,
header#top nav ul li a:hover,
header#top nav .sf-menu li.sfHover>a,
header#top nav .sf-menu li.current_page_ancestor>a,
header#top nav .sf-menu li.current-menu-ancestor>a,
header#top nav .sf-menu li.current_page_item>a,
body header#top nav .sf-menu li.current_page_item>a .sf-sub-indicator [class^="icon-"],
header#top nav .sf-menu li.current_page_ancestor>a .sf-sub-indicator [class^="icon-"],
header#top nav .sf-menu li.current-menu-ancestor>a,
header#top nav .sf-menu li.current_page_item>a,
.sf-menu li ul li.sfHover>a .sf-sub-indicator [class^="icon-"],
ul.sf-menu>li>a:hover>.sf-sub-indicator i,
ul.sf-menu>li>a:active>.sf-sub-indicator i,
ul.sf-menu>li.sfHover>a>.sf-sub-indicator i,
.sf-menu ul li.current_page_item>a,
.sf-menu ul li.current-menu-ancestor>a,
.sf-menu ul li.current_page_ancestor>a,
.sf-menu ul a:focus,
.sf-menu ul a:hover,
.sf-menu ul a:active,
.sf-menu ul li:hover>a,
.sf-menu ul li.sfHover>a,
.sf-menu li ul li a:hover,
.sf-menu li ul li.sfHover>a,
#footer-outer a:hover,
.recent-posts .post-header a:hover,
article.post .post-header a:hover,
article.result a:hover,
article.post .post-header h2 a,
.single article.post .post-meta a:hover,
.comment-list .comment-meta a:hover,
label span,
.wpcf7-form p span,
.icon-3x[class^="icon-"],
.icon-3x[class*=" icon-"],
.icon-tiny[class^="icon-"],
.circle-border,
article.result .title a,
.home .blog-recent .col .post-header a:hover,
.home .blog-recent .col .post-header h3 a,
#single-below-header a:hover,
header#top #logo:hover,
.sf-menu>li.current_page_ancestor>a>.sf-sub-indicator [class^="icon-"],
.sf-menu>li.current-menu-ancestor>a>.sf-sub-indicator [class^="icon-"],
body #mobile-menu li.open>a [class^="icon-"],
.pricing-column h3,
.comment-author a:hover,
.project-attrs li i,
#footer-outer #copyright li a i:hover,
.col:hover>[class^="icon-"].icon-3x.accent-color.alt-style.hovered,
.col:hover>[class*=" icon-"].icon-3x.accent-color.alt-style.hovered,
#header-outer .widget_shopping_cart .cart_list a,
.woocommerce .star-rating,
.woocommerce-page table.cart a.remove,
.woocommerce form .form-row .required,
.woocommerce-page form .form-row .required,
body #header-secondary-outer #social a:hover i,
.woocommerce ul.products li.product .price,
body .twitter-share:hover i,
.twitter-share.hovered i,
body .linkedin-share:hover i,
.linkedin-share.hovered i,
body .google-plus-share:hover i,
.google-plus-share.hovered i,
.pinterest-share:hover i,
.pinterest-share.hovered i,
.facebook-share:hover i,
.facebook-share.hovered i,
.woocommerce-page ul.products li.product .price,
.nectar-milestone .number.accent-color,
header#top nav>ul>li.megamenu>ul>li>a:hover,
header#top nav>ul>li.megamenu>ul>li.sfHover>a,
body #portfolio-nav a:hover i,
span.accent-color,
.nectar-love:hover i,
.nectar-love.loved i,
.portfolio-items .nectar-love:hover i,
.portfolio-items .nectar-love.loved i,
body .hovered .nectar-love i,
header#top nav ul #search-btn a:hover span,
header#top nav ul .slide-out-widget-area-toggle a:hover span,
#search-outer #search #close a span:hover,
.carousel-wrap[data-full-width="true"] .carousel-heading a:hover i,
#search-outer .ui-widget-content li:hover a .title,
#search-outer .ui-widget-content .ui-state-hover .title,
#search-outer .ui-widget-content .ui-state-focus .title,
.portfolio-filters-inline .container ul li a.active,
body [class^="icon-"].icon-default-style,
.team-member a.accent-color:hover,
.ascend .comment-list .reply a,
.wpcf7-form .wpcf7-not-valid-tip,
.text_on_hover.product .add_to_cart_button {
    color: #1ba18b !important;
}

.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.accent-color.alt-style.hovered,
body .col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.accent-color.alt-style.hovered,
.ascend #header-outer:not(.transparent) .cart-outer:hover .cart-menu-wrap:not(.has_products) .icon-salient-cart {
    color: #1ba18b !important;
}

.orbit-wrapper div.slider-nav span.right,
.orbit-wrapper div.slider-nav span.left,
.flex-direction-nav a,
.jp-play-bar,
.jp-volume-bar-value,
.jcarousel-prev:hover,
.jcarousel-next:hover,
.portfolio-items .col[data-default-color="true"] .work-info-bg,
.portfolio-items .col[data-default-color="true"] .bottom-meta,
.portfolio-filters a,
.portfolio-filters #sort-portfolio,
.project-attrs li span,
.progress li span,
.nectar-progress-bar span,
#footer-outer #footer-widgets .col .tagcloud a:hover,
#sidebar .widget .tagcloud a:hover,
article.post .more-link span:hover,
article.post.quote .post-content .quote-inner,
article.post.link .post-content .link-inner,
#pagination .next a:hover,
#pagination .prev a:hover,
.comment-list .reply a:hover,
input[type=submit]:hover,
input[type="button"]:hover,
#footer-outer #copyright li a.vimeo:hover,
#footer-outer #copyright li a.behance:hover,
.toggle.open h3 a,
.tabbed>ul li a.active-tab,
[class*=" icon-"],
.icon-normal,
.bar_graph li span,
.nectar-button[data-color-override="false"].regular-button,
.nectar-button.tilt.accent-color,
body .swiper-slide .button.transparent_2 a.primary-color:hover,
#footer-outer #footer-widgets .col input[type="submit"],
.carousel-prev:hover,
.carousel-next:hover,
.blog-recent .more-link span:hover,
.post-tags a:hover,
.pricing-column.highlight h3,
#to-top:hover,
#to-top.dark:hover,
#pagination a.page-numbers:hover,
#pagination span.page-numbers.current,
.single-portfolio .facebook-share a:hover,
.single-portfolio .twitter-share a:hover,
.single-portfolio .pinterest-share a:hover,
.single-post .facebook-share a:hover,
.single-post .twitter-share a:hover,
.single-post .pinterest-share a:hover,
.mejs-controls .mejs-time-rail .mejs-time-current,
.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
article.post.quote .post-content .quote-inner,
article.post.link .post-content .link-inner,
article.format-status .post-content .status-inner,
article.post.format-aside .aside-inner,
body #header-secondary-outer #social li a.behance:hover,
body #header-secondary-outer #social li a.vimeo:hover,
#sidebar .widget:hover [class^="icon-"].icon-3x,
.woocommerce-page div[data-project-style="text_on_hover"] .single_add_to_cart_button,
article.post.quote .content-inner .quote-inner .whole-link,
.iosSlider .prev_slide:hover,
.iosSlider .next_slide:hover,
body [class^="icon-"].icon-3x.alt-style.accent-color,
body [class*=" icon-"].icon-3x.alt-style.accent-color,
#slide-out-widget-area,
#header-outer .widget_shopping_cart a.button,
#header-outer a.cart-contents .cart-wrap span,
.swiper-slide .button.solid_color a,
.swiper-slide .button.solid_color_2 a,
.portfolio-filters,
button[type=submit]:hover,
#buddypress button:hover,
#buddypress a.button:hover,
#buddypress ul.button-nav li.current a,
header#top nav ul .slide-out-widget-area-toggle a:hover i.lines,
header#top nav ul .slide-out-widget-area-toggle a:hover i.lines:after,
header#top nav ul .slide-out-widget-area-toggle a:hover i.lines:before,
#buddypress a.button:focus,
.text_on_hover.product a.added_to_cart,
.woocommerce div.product .woocommerce-tabs .full-width-content ul.tabs li a:after,
.woocommerce div[data-project-style="text_on_hover"] .cart .quantity input.minus,
.woocommerce div[data-project-style="text_on_hover"] .cart .quantity input.plus,
.woocommerce .span_4 input[type="submit"].checkout-button {
    background-color: #1ba18b !important;
}

.col:hover>[class^="icon-"].icon-3x:not(.alt-style).accent-color.hovered,
.col:hover>[class*=" icon-"].icon-3x:not(.alt-style).accent-color.hovered,
body .nectar-button.see-through-2[data-hover-color-override="false"]:hover,
.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x:not(.alt-style).accent-color.hovered,
.col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x:not(.alt-style).accent-color.hovered {
    background-color: #1ba18b !important;
}

.tabbed>ul li a.active-tab,
body .recent_projects_widget a:hover img,
.recent_projects_widget a:hover img,
#sidebar #flickr a:hover img,
body .nectar-button.see-through-2[data-hover-color-override="false"]:hover,
#footer-outer #flickr a:hover img,
#featured article .post-title a:hover,
body #featured article .post-title a:hover,
div.wpcf7-validation-errors {
    border-color: #1ba18b !important;
}

.default-loading-icon:before {
    border-top-color: #1ba18b !important;
}

#header-outer a.cart-contents span:before {
    border-color: transparent #1ba18b !important;
}

.col:not(#post-area):not(.span_12):not(#sidebar):hover .hovered .circle-border,
#sidebar .widget:hover .circle-border {
    border-color: #1ba18b;
}

.gallery a:hover img {
    border-color: #1ba18b !important;
}

@media only screen and (min-width :1px) and (max-width :1000px) {
    body #featured article .post-title>a {
        background-color: #1ba18b;
    }

    body #featured article .post-title>a {
        border-color: #1ba18b;
    }
}

.nectar-button.regular-button.extra-color-1,
.nectar-button.tilt.extra-color-1 {
    background-color: #f6653c !important;
}

.icon-3x[class^="icon-"].extra-color-1:not(.alt-style),
.icon-tiny[class^="icon-"].extra-color-1,
.icon-3x[class*=" icon-"].extra-color-1:not(.alt-style),
.icon-3x[class*=" icon-"].extra-color-1:not(.alt-style) .circle-border,
.woocommerce-page table.cart a.remove,
#header-outer .widget_shopping_cart .cart_list li a.remove,
#header-outer .woocommerce.widget_shopping_cart .cart_list li a.remove,
.nectar-milestone .number.extra-color-1,
span.extra-color-1,
.team-member ul.social.extra-color-1 li a,
.stock.out-of-stock,
body [class^="icon-"].icon-default-style.extra-color-1,
.team-member a.extra-color-1:hover {
    color: #f6653c !important;
}

.col:hover>[class^="icon-"].icon-3x.extra-color-1:not(.alt-style),
.col:hover>[class*=" icon-"].icon-3x.extra-color-1:not(.alt-style).hovered,
body .swiper-slide .button.transparent_2 a.extra-color-1:hover,
body .col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-1:not(.alt-style).hovered,
body .col:not(#post-area):not(#sidebar):not(.span_12):hover a [class*=" icon-"].icon-3x.extra-color-1:not(.alt-style).hovered,
#sidebar .widget:hover [class^="icon-"].icon-3x.extra-color-1:not(.alt-style) {
    background-color: #f6653c !important;
}

body [class^="icon-"].icon-3x.alt-style.extra-color-1,
body [class*=" icon-"].icon-3x.alt-style.extra-color-1,
[class*=" icon-"].extra-color-1.icon-normal,
.extra-color-1.icon-normal,
.bar_graph li span.extra-color-1,
.nectar-progress-bar span.extra-color-1,
#header-outer .widget_shopping_cart a.button,
.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale,
.woocommerce span.onsale,
.woocommerce-page span.onsale,
.woocommerce-page table.cart a.remove:hover,
.swiper-slide .button.solid_color a.extra-color-1,
.swiper-slide .button.solid_color_2 a.extra-color-1,
.toggle.open.extra-color-1 h3 a {
    background-color: #f6653c !important;
}

.col:hover>[class^="icon-"].icon-3x.extra-color-1.alt-style.hovered,
.col:hover>[class*=" icon-"].icon-3x.extra-color-1.alt-style.hovered,
.no-highlight.extra-color-1 h3,
.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-1.alt-style.hovered,
body .col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-1.alt-style.hovered {
    color: #f6653c !important;
}

.col:not(#post-area):not(.span_12):not(#sidebar):hover .extra-color-1.hovered .circle-border,
.woocommerce-page table.cart a.remove,
#header-outer .woocommerce.widget_shopping_cart .cart_list li a.remove,
#header-outer .woocommerce.widget_shopping_cart .cart_list li a.remove,
#sidebar .widget:hover .extra-color-1 .circle-border,
.woocommerce-page table.cart a.remove {
    border-color: #f6653c;
}

.pricing-column.highlight.extra-color-1 h3 {
    background-color: #f6653c !important;
}

.nectar-button.regular-button.extra-color-2,
.nectar-button.tilt.extra-color-2 {
    background-color: #2AC4EA !important;
}

.icon-3x[class^="icon-"].extra-color-2:not(.alt-style),
.icon-3x[class*=" icon-"].extra-color-2:not(.alt-style),
.icon-tiny[class^="icon-"].extra-color-2,
.icon-3x[class*=" icon-"].extra-color-2 .circle-border,
.nectar-milestone .number.extra-color-2,
span.extra-color-2,
.team-member ul.social.extra-color-2 li a,
body [class^="icon-"].icon-default-style.extra-color-2,
.team-member a.extra-color-2:hover {
    color: #2AC4EA !important;
}

.col:hover>[class^="icon-"].icon-3x.extra-color-2:not(.alt-style).hovered,
.col:hover>[class*=" icon-"].icon-3x.extra-color-2:not(.alt-style).hovered,
body .swiper-slide .button.transparent_2 a.extra-color-2:hover,
.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-2:not(.alt-style).hovered,
.col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-2:not(.alt-style).hovered,
#sidebar .widget:hover [class^="icon-"].icon-3x.extra-color-2:not(.alt-style) {
    background-color: #2AC4EA !important;
}

body [class^="icon-"].icon-3x.alt-style.extra-color-2,
body [class*=" icon-"].icon-3x.alt-style.extra-color-2,
[class*=" icon-"].extra-color-2.icon-normal,
.extra-color-2.icon-normal,
.bar_graph li span.extra-color-2,
.nectar-progress-bar span.extra-color-2,
.woocommerce .product-wrap .add_to_cart_button.added,
.woocommerce-message,
.woocommerce-error,
.woocommerce-info,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range,
.swiper-slide .button.solid_color a.extra-color-2,
.swiper-slide .button.solid_color_2 a.extra-color-2,
.toggle.open.extra-color-2 h3 a {
    background-color: #2AC4EA !important;
}

.col:hover>[class^="icon-"].icon-3x.extra-color-2.alt-style.hovered,
.col:hover>[class*=" icon-"].icon-3x.extra-color-2.alt-style.hovered,
.no-highlight.extra-color-2 h3,
.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-2.alt-style.hovered,
body .col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-2.alt-style.hovered {
    color: #2AC4EA !important;
}

.col:not(#post-area):not(.span_12):not(#sidebar):hover .extra-color-2.hovered .circle-border,
#sidebar .widget:hover .extra-color-2 .circle-border {
    border-color: #2AC4EA;
}

.pricing-column.highlight.extra-color-2 h3 {
    background-color: #2AC4EA !important;
}

.nectar-button.regular-button.extra-color-3,
.nectar-button.tilt.extra-color-3 {
    background-color: #333333 !important;
}

.icon-3x[class^="icon-"].extra-color-3:not(.alt-style),
.icon-3x[class*=" icon-"].extra-color-3:not(.alt-style),
.icon-tiny[class^="icon-"].extra-color-3,
.icon-3x[class*=" icon-"].extra-color-3 .circle-border,
.nectar-milestone .number.extra-color-3,
span.extra-color-3,
.team-member ul.social.extra-color-3 li a,
body [class^="icon-"].icon-default-style.extra-color-3,
.team-member a.extra-color-3:hover {
    color: #333333 !important;
}

.col:hover>[class^="icon-"].icon-3x.extra-color-3:not(.alt-style).hovered,
.col:hover>[class*=" icon-"].icon-3x.extra-color-3:not(.alt-style).hovered,
body .swiper-slide .button.transparent_2 a.extra-color-3:hover,
.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-3:not(.alt-style).hovered,
.col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-3:not(.alt-style).hovered,
#sidebar .widget:hover [class^="icon-"].icon-3x.extra-color-3:not(.alt-style) {
    background-color: #333333 !important;
}

body [class^="icon-"].icon-3x.alt-style.extra-color-3,
body [class*=" icon-"].icon-3x.alt-style.extra-color-3,
.extra-color-3.icon-normal,
[class*=" icon-"].extra-color-3.icon-normal,
.bar_graph li span.extra-color-3,
.nectar-progress-bar span.extra-color-3,
.swiper-slide .button.solid_color a.extra-color-3,
.swiper-slide .button.solid_color_2 a.extra-color-3,
.toggle.open.extra-color-3 h3 a {
    background-color: #333333 !important;
}

.col:hover>[class^="icon-"].icon-3x.extra-color-3.alt-style.hovered,
.col:hover>[class*=" icon-"].icon-3x.extra-color-3.alt-style.hovered,
.no-highlight.extra-color-3 h3,
.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-3.alt-style.hovered,
body .col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-3.alt-style.hovered {
    color: #333333 !important;
}

.col:not(#post-area):not(.span_12):not(#sidebar):hover .extra-color-3.hovered .circle-border,
#sidebar .widget:hover .extra-color-3 .circle-border {
    border-color: #333333;
}

.pricing-column.highlight.extra-color-3 h3 {
    background-color: #333333 !important;
}

#footer-outer {
    background-color: #252525 !important;
}

#footer-outer #footer-widgets {
    border-bottom: none !important;
}

#footer-outer #footer-widgets .col ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

#footer-outer #footer-widgets .col .widget_recent_comments ul li {
    background-color: rgba(0, 0, 0, 0.07) !important;
    border-bottom: 0 !important;
}

#footer-outer,
#footer-outer a {
    color: #a0a0a0 !important;
}

#footer-outer .widget h4,
#footer-outer .col .widget_recent_entries span,
#footer-outer .col .recent_posts_extra_widget .post-widget-text span {
    color: #777777 !important;
}

#footer-outer #copyright,
body {
    border: none !important;
    background-color: #121212 !important;
}

#footer-outer #copyright li a i,
#footer-outer #copyright p {
    color: #777777 !important;
}

#call-to-action {
    background-color: #ECEBE9 !important;
}

#call-to-action span {
    color: #4B4F52 !important;
}

body #slide-out-widget-area-bg {
    background-color: rgba(0, 0, 0, 0.8);
}

#header-outer {
    padding-top: 28px;
}

#header-outer #logo img {
    height: 52px;
}

#header-outer[data-format="centered-menu-under-logo"] header#top #logo .starting-logo {
    margin-top: -69px;
}

header#top nav>ul>li>a {
    padding-bottom: 44px;
    padding-top: 16px;
}

#header-outer .cart-menu {
    padding-bottom: 44px;
    padding-top: 44px;
}

header#top nav>ul li#search-btn,
header#top nav>ul li.slide-out-widget-area-toggle {
    padding-bottom: 15px;
    padding-top: 16px;
}

header#top .sf-menu>li.sfHover>ul {
    top: 20px;
}

.sf-sub-indicator {
    height: 20px;
}

#header-space {
    height: 108px;
}

body[data-smooth-scrolling="1"] #full_width_portfolio .project-title.parallax-effect {
    top: 108px;
}

body.single-product div.product .product_title {
    padding-right: 0;
}

@media only screen and (min-width:1000px) and (max-width:1300px) {

    .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2,
    .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2,
    .full-width-content .vc_span12 .swiper-slide .content h2 {
        font-size: 45px !important;
        line-height: 51px !important;
    }

    .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p,
    .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p,
    .full-width-content .vc_span12 .swiper-slide .content p {
        font-size: 18px !important;
        line-height: 31.2px !important;
    }
}

@media only screen and (min-width :690px) and (max-width :1000px) {

    .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2,
    .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2,
    .full-width-content .vc_span12 .swiper-slide .content h2 {
        font-size: 33px !important;
        line-height: 39px !important;
    }

    .nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p,
    .nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p,
    .full-width-content .vc_span12 .swiper-slide .content p {
        font-size: 13.2px !important;
        line-height: 24px !important;
    }
}

@media only screen and (max-width :690px) {

    .nectar-slider-wrap[data-full-width="true"][data-fullscreen="false"] .swiper-slide .content h2,
    .nectar-slider-wrap[data-full-width="boxed-full-width"][data-fullscreen="false"] .swiper-slide .content h2,
    .full-width-content .vc_span12 .nectar-slider-wrap[data-fullscreen="false"] .swiper-slide .content h2 {
        font-size: 15px !important;
        line-height: 21px !important;
    }

    .nectar-slider-wrap[data-full-width="true"][data-fullscreen="false"] .swiper-slide .content p,
    .nectar-slider-wrap[data-full-width="boxed-full-width"][data-fullscreen="false"] .swiper-slide .content p,
    .full-width-content .vc_span12 .nectar-slider-wrap[data-fullscreen="false"] .swiper-slide .content p {
        font-size: 7.68px !important;
        line-height: 17.52px !important;
    }
}

#mobile-menu #mobile-search,
header#top nav ul #search-btn {
    display: none !important;
}

@media only screen and (min-width:1000px) {

    .container,
    .woocommerce-tabs .full-width-content .tab-container {
        max-width: 1425px;
        width: 100%;
        margin: 0 auto;
        padding: 0 90px;
    }

    .swiper-slide .content {
        padding: 0 90px;
    }

    body .container .container:not(.tab-container) {
        width: 100% !important;
        padding: 0 !important;
    }

    body .carousel-heading .container {
        padding: 0 10px !important;
    }

    body .carousel-heading .container .carousel-next {
        right: 10px;
    }

    body .carousel-heading .container .carousel-prev {
        right: 35px;
    }

    .carousel-wrap[data-full-width="true"] .carousel-heading a.portfolio-page-link {
        left: 90px;
    }

    .carousel-wrap[data-full-width="true"] .carousel-heading {
        margin-left: -20px;
        margin-right: -20px;
    }

    .carousel-wrap[data-full-width="true"] .carousel-next {
        right: 90px !important;
    }

    .carousel-wrap[data-full-width="true"] .carousel-prev {
        right: 115px !important;
    }

    .carousel-wrap[data-full-width="true"] {
        padding: 0 !important;
    }

    .carousel-wrap[data-full-width="true"] .caroufredsel_wrapper {
        padding: 20px !important;
    }

    #search-outer #search #close a {
        right: 90px;
    }

    #boxed,
    #boxed #header-outer,
    #boxed #header-secondary-outer,
    #boxed #page-header-bg[data-parallax="1"],
    #boxed #featured,
    #boxed .orbit>div,
    #boxed #featured article,
    .ascend #boxed #search-outer {
        max-width: 1400px !important;
        width: 90% !important;
        min-width: 980px;
    }

    #boxed #search-outer #search #close a {
        right: 0 !important;
    }

    #boxed .container {
        width: 92%;
        padding: 0;
    }

    #boxed #footer-outer #footer-widgets,
    #boxed #footer-outer #copyright {
        padding-left: 0;
        padding-right: 0;
    }

    #boxed .carousel-wrap[data-full-width="true"] .carousel-heading a.portfolio-page-link {
        left: 35px;
    }

    #boxed .carousel-wrap[data-full-width="true"] .carousel-next {
        right: 35px !important;
    }

    #boxed .carousel-wrap[data-full-width="true"] .carousel-prev {
        right: 60px !important;
    }
}

@font-face {
    font-family: OpenSansLight;
    src: url('../../wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Light-webfont.eot');
    src: url('../../wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Light-webfont.eot%3F') format('embedded-opentype'), url('../../wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Light-webfont.woff.html') format('woff'), url('../../wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Light-webfont.ttf.html') format('truetype'), url('../../wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Light-webfont.svg') format('svg') !important
}

@font-face {
    font-family: OpenSansRegular;
    src: url('../../wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Regular-webfont.eot');
    src: url('../../wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Regular-webfont.eot%3F') format('embedded-opentype'), url('../../wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Regular-webfont.woff.html') format('woff'), url('../../wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Regular-webfont.ttf.html') format('truetype'), url('../../wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Regular-webfont.svg') format('svg') !important
}

@font-face {
    font-family: OpenSansSemibold;
    src: url('../../wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Semibold-webfont.eot');
    src: url('../../wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Semibold-webfont.eot%3F') format('embedded-opentype'), url('../../wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Semibold-webfont.woff.html') format('woff'), url('../../wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Semibold-webfont.ttf.html') format('truetype'), url('../../wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Semibold-webfont.svg') format('svg') !important
}

@font-face {
    font-family: OpenSansBold;
    src: url('../../wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Bold-webfont.eot');
    src: url('../../wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Bold-webfont.eot%3F') format('embedded-opentype'), url('../../wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Bold-webfont.woff.html') format('woff'), url('../../wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Bold-webfont.ttf.html') format('truetype'), url('../../wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Bold-webfont.svg') format('svg') !important
}

.p-right {
    padding-left: 20%;
}

.text-left>.wpb_wrapper>.img-with-aniamtion-wrap>img {
    float: left;
}

input[type="submit"],
button[type="submit"],
input[type="button"] {
    background-color: #27CFC3 !important
}

@media only screen and (max-width: 470px) {
    .p-right {
        padding-left: 0%;
    }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body:not(.wp-admin) #estimation_popup.wpe_bootstraped[data-form="1"] {
    font-family: "Open Sans";
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel {
    background-color: #ffffff;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #lfb_loader {
    background-color: #1abc9c;
}

#estimation_popup.wpe_bootstraped[data-form="1"] {
    color: #34495e;
}

#estimation_popup.wpe_bootstraped[data-form="1"] .genSlide .lfb_totalBottomContainer hr {
    border-color: #494b4d;
}

body #estimation_popup.wpe_bootstraped[data-form="1"] .form-control,
#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel,
#estimation_popup.wpe_bootstraped[data-form="1"] p,
#estimation_popup.wpe_bootstraped[data-form="1"] #lfb_summary tbody td,
#estimation_popup.wpe_bootstraped[data-form="1"] #lfb_summary tbody #sfb_summaryTotalTr th:not(#lfb_summaryTotal) {
    color: #494b4d;
}

#estimation_popup.wpe_bootstraped[data-form="1"] .tooltip .tooltip-inner,
#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .genSlide .genContent div.selectable span.icon_quantity,
#estimation_popup.wpe_bootstraped[data-form="1"] .dropdown-inverse {
    background-color: #34495e;
}

#estimation_popup.wpe_bootstraped[data-form="1"] .tooltip.top .tooltip-arrow {
    border-top-color: #34495e;
}

#estimation_popup.wpe_bootstraped[data-form="1"] .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #34495e;
}

#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary,
#estimation_popup.wpe_bootstraped[data-form="1"] .gform_button,
#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary:hover,
#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary:active,
#estimation_popup.wpe_bootstraped[data-form="1"] .genPrice .progress .progress-bar-price,
#estimation_popup.wpe_bootstraped[data-form="1"] .progress-bar,
#estimation_popup.wpe_bootstraped[data-form="1"] .quantityBtns a,
#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary:active,
#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary.active,
#estimation_popup.wpe_bootstraped[data-form="1"] .open .dropdown-toggle.btn-primary,
#estimation_popup.wpe_bootstraped[data-form="1"] .dropdown-inverse li.active>a,
#estimation_popup.wpe_bootstraped[data-form="1"] .dropdown-inverse li.selected>a,
#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary:active,
#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary.active,
#estimation_popup.wpe_bootstraped[data-form="1"] .open .dropdown-toggle.btn-primary,
#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary:hover,
#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary:focus,
#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary:active,
#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary.active,
#estimation_popup.wpe_bootstraped[data-form="1"] .open .dropdown-toggle.btn-primary {
    background-color: #1abc9c;
}

#estimation_popup.wpe_bootstraped[data-form="1"] .lfb_dropzone:focus,
#estimation_popup.wpe_bootstraped[data-form="1"] .has-switch>div.switch-on label,
#estimation_popup.wpe_bootstraped[data-form="1"] .form-group.focus .form-control,
#estimation_popup.wpe_bootstraped[data-form="1"] .form-control:focus {
    border-color: #1abc9c;
}

#estimation_popup.wpe_bootstraped[data-form="1"] a:not(.btn),
#estimation_popup.wpe_bootstraped[data-form="1"] a:not(.btn):hover,
#estimation_popup.wpe_bootstraped[data-form="1"] a:not(.btn):active,
#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .genSlide .genContent div.selectable.checked span.icon_select,
#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel #finalPrice,
#estimation_popup.wpe_bootstraped[data-form="1"] .ginput_product_price,
#estimation_popup.wpe_bootstraped[data-form="1"] .checkbox.checked,
#estimation_popup.wpe_bootstraped[data-form="1"] .radio.checked,
#estimation_popup.wpe_bootstraped[data-form="1"] .checkbox.checked .second-icon,
#estimation_popup.wpe_bootstraped[data-form="1"] .radio.checked .second-icon {
    color: #1abc9c;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .genSlide .genContent div.selectable .img {
    max-width: 64px;
    max-height: 64px;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel,
#estimation_popup.wpe_bootstraped[data-form="1"] .form-control {
    color: #494b4d;
}

#estimation_popup.wpe_bootstraped[data-form="1"] .form-control,
#estimation_popup.wpe_bootstraped[data-form="1"] .lfb_dropzone {
    color: #494b4d;
}

#estimation_popup.wpe_bootstraped[data-form="1"] .lfb_dropzone .dz-preview .dz-remove {
    color: #494b4d;
}

#estimation_popup.wpe_bootstraped[data-form="1"] .genPrice .progress .progress-bar-price {
    font-size: 18px;
}

#estimation_popup.wpe_bootstraped[data-form="1"] .itemDes {
    max-width: 240px;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .genSlide .genContent div.selectable .wpe_itemQtField {
    width: 64px;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .genSlide .genContent div.selectable .wpe_itemQtField .wpe_qtfield {
    margin-left: -18px;
}

body .lfb_datepickerContainer .ui-datepicker-title {
    background-color: #1abc9c;
}

body .lfb_datepickerContainer td a {
    color: #1abc9c;
}

body .lfb_datepickerContainer td.ui-datepicker-today a {
    color: #34495e;
}

#estimation_popup.wpe_bootstraped[data-form="1"] .has-switch span.switch-left {
    background-color: #1abc9c !important;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel #lfb_summary table thead {
    background-color: #1abc9c;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel #lfb_summary table th.sfb_summaryStep {
    background-color: #494b4d;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel #lfb_summary table #lfb_summaryTotal {
    color: #1abc9c;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .wpe_sliderQt {
    background-color: #494b4d;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel [data-type="slider"] {
    background-color: #494b4d;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .wpe_sliderQt .ui-slider-range,
#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .wpe_sliderQt .ui-slider-handle,
#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel [data-type="slider"] .ui-slider-range,
#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel [data-type="slider"] .ui-slider-handle {
    background-color: #1abc9c !important;
}

#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel #finalPrice span:nth-child(2) {
    color: #494b4d;
}

#estimation_popup.wpe_bootstraped[data-form="1"] .lfb_colorPreview {
    border-color: #494b4d;
}

body #estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .genSlide div.selectable:not(.checked) .img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

body #estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .genSlide div.selectable.checked .img {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: none;
}

#startInfos:before {
    content: "";
    display: block;
    width: 128px;
    height: 128px;
    background-color: #fff;
    margin: 100px auto 0;
    background-image: url('https://d335luupugsy2.cloudfront.net/images/landing_page/156965/smartphone.png');
    background-size: cover;
}

#estimation_popup.wpe_bootstraped #mainPanel .genSlide .genContent div.selectable {
    transition: all .3s;
}

#estimation_popup.wpe_bootstraped #mainPanel .genSlide .genContent div.selectable:hover {
    transform: scale(1.25);
}

#estimation_popup.wpe_bootstraped #mainPanel .genSlide .genContent div.selectable span.icon_select {
    display: none !important;
}

@media (max-width: 480px) {
    #estimation_popup.wpe_bootstraped h1 {
        font-size: 36px !important;
    }
}