    #ajax-content-wrap
      div[data-featured-img="../../images/duelodemake_large.png"]
        .row.project-title
          .container
            .title-wrap
              .col.span_12.section-title.no-date
                h1
                  | Duelo de Make
                #portfolio-nav
                  ul
                    li#all-items
                      a[href="../../portfolio.html"]
                        i.icon-salient-back-to-all
                  ul.controls
                    li#prev-link
                      a[href="../radio-controle/" rel="next"]
                        i.icon-salient-left-arrow-thin
                    li#next-link
                      a[href="../imobmaker/" rel="prev"]
                        i.icon-salient-right-arrow-thin
        .container-wrap
          .container.main-content
            .row
              #post-area.col.span_9
                img.attachment-full.size-full.wp-post-image[width="1441" height="768" src="../../images/duelodemake_large.png" alt="duelodemake_large" title="" srcset="../../images/duelodemake_large-300x160.png 300w, ../../images/duelodemake_large-1024x546.png 1024w, ../../images/duelodemake_large.png 1441w" sizes="(max-width: 1441px) 100vw, 1441px"]
                #portfolio-extra
                  .stylish-button
                    a[href="https://www.facebook.com/RaccoCosmeticos/app_740463162653618"]
                      | Link do app
              #sidebar.col.span_3.col_last[data-follow-on-scroll="0"]
                #sidebar-inner
                  #project-meta[data-sharing="1"]
                    .nectar-social.sharing
                      span.n-shortcode
                        a#nectar-love-3367.nectar-love[href="#" title="Love this"]
                          i.icon-salient-heart
                          span.nectar-love-count
                            | 8
                      a.facebook-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-facebook
                        span.count
                      a.twitter-share.nectar-sharing[href="#" title="Tweet this"]
                        i.icon-twitter
                        span.count
                      a.linkedin-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-linkedin
                        span.count

                    .clear
                  h3
                    | Duelo de Make
                  p
                    | Aplicativo na plataforma Facebook para promoção Duelo de Make da empresa Racco Cosméticos, um concurso interno para quem gosta de maquiagem que levou o vencedor à Paris!
                  h3
                    | Descrição detalhada
                  ul.post-list
                    li
                      i.icon-ok
                      | Ranking das maquiagens mais votadas;
                    li
                      i.icon-ok
                      | Listas de participantes;
                    li
                      i.icon-ok
                      | Envios de fotos e vídeos;
                    li
                      i.icon-ok
                      | Compartilhamento de informações do aplicativo no Facebook.
