    #ajax-content-wrap
      div[data-featured-img="../../images/placo_large.png"]
        .row.project-title
          .container
            .title-wrap
              .col.span_12.section-title.no-date
                h1
                  | Placo – Forros Acústicos
                #portfolio-nav
                  ul
                    li#all-items
                      a[href="../../portfolio.html"]
                        i.icon-salient-back-to-all
                  ul.controls
                    li#prev-link
                      a[href="../broker-contact/" rel="next"]
                        i.icon-salient-left-arrow-thin
                    li#next-link
                      a[href="../placoteca/" rel="prev"]
                        i.icon-salient-right-arrow-thin
        .container-wrap
          .container.main-content
            .row
              #post-area.col.span_9
                img.attachment-full.size-full.wp-post-image[width="1441" height="768" src="../../images/placo_large.png" alt="placo_large" title="" srcset="../../images/placo_large-300x160.png 300w, ../../images/placo_large-1024x546.png 1024w, ../../images/placo_large.png 1441w" sizes="(max-width: 1441px) 100vw, 1441px"]
                #portfolio-extra
                  .stylish-button.android
                    a[href="https://play.google.com/store/apps/details?id=br.com.devmaker.placo&amp;hl=pt_BR" target="_blank"]
                      | Play Store
                  .stylish-button.ios
                    a[href="https://itunes.apple.com/br/app/forros-acusticos/id849216132?mt=8"]
                      | Apple Store
              #sidebar.col.span_3.col_last[data-follow-on-scroll="0"]
                #sidebar-inner
                  #project-meta[data-sharing="1"]
                    .nectar-social.sharing
                      span.n-shortcode
                        a#nectar-love-3388.nectar-love[href="#" title="Love this"]
                          i.icon-salient-heart
                          span.nectar-love-count
                            | 1
                      a.facebook-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-facebook
                        span.count
                      a.twitter-share.nectar-sharing[href="#" title="Tweet this"]
                        i.icon-twitter
                        span.count
                      a.linkedin-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-linkedin
                        span.count

                    .clear
                  h3
                    | Placo
                  p
                    | Os forros acústicos da Placo Saint-Gobain contribuem com estética, acústica e qualidade do ar interior em hotéis, escolas, hospitais, escritórios e residências.
                  h3
                    | Descrição detalhada
                  ul.post-list
                    li
                      i.icon-ok
                      | Especificações técnicas;
                    li
                      i.icon-ok
                      | Lista de produtos;
                    li
                      i.icon-ok
                      | Galerias de projetos separados por categorias.
