    #ajax-content-wrap
      div[data-featured-img="../../images/pokeyou_large.png"]
        .row.project-title
          .container
            .title-wrap
              .col.span_12.section-title.no-date
                h1
                  | Poke You
                #portfolio-nav
                  ul
                    li#all-items
                      a[href="../../portfolio.html"]
                        i.icon-salient-back-to-all
                  ul.controls
                    li#prev-link
                      a[href="../imobmaker/" rel="next"]
                        i.icon-salient-left-arrow-thin
                    li#next-link
                      a[href="../euroit/" rel="prev"]
                        i.icon-salient-right-arrow-thin
        .container-wrap
          .container.main-content
            .row
              #post-area.col.span_9
                img.attachment-full.size-full.wp-post-image[width="1441" height="768" src="../../images/pokeyou_large.png" alt="pokeyou_large" title="" srcset="../../images/pokeyou_large-300x160.png 300w, ../../images/pokeyou_large-1024x546.png 1024w, ../../images/pokeyou_large.png 1441w" sizes="(max-width: 1441px) 100vw, 1441px"]
                #portfolio-extra
                  .stylish-button.ios
                    a[href="https://itunes.apple.com/br/app/poke-you/id804371381?mt=8" target="_blank"]
                      | Apple Store
              #sidebar.col.span_3.col_last[data-follow-on-scroll="0"]
                #sidebar-inner
                  #project-meta[data-sharing="1"]
                    .nectar-social.sharing
                      span.n-shortcode
                        a#nectar-love-3251.nectar-love[href="#" title="Love this"]
                          i.icon-salient-heart
                          span.nectar-love-count
                            | 6
                      a.facebook-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-facebook
                        span.count
                      a.twitter-share.nectar-sharing[href="#" title="Tweet this"]
                        i.icon-twitter
                        span.count
                      a.linkedin-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-linkedin
                        span.count

                    .clear
                  h3
                    | PokeYou
                  p
                    | Uma forma fácil, rápida, divertida e segura de fazer novos amigos. Converse com pessoas próximas a você, na balada, na sua rua ou em qualquer lugar.
                  p
                    | Envie um poke para quebrar o gelo e iniciar aquela conversa.
                  h3
                    | Descrição detalhada
                  ul.post-list
                    li
                      i.icon-ok
                      | Login via Facebook;
                    li
                      i.icon-ok
                      | Menu lateral para acesso às configurações;
                    li
                      i.icon-ok
                      | Geolocalização;
                    li
                      i.icon-ok
                      | Histórico de solicitações de poke;
                    li
                      i.icon-ok
                      | Disponível para a plataforma iOS.
                  ul.project-attrs.checks
                    li
                      | Aplicativo
                    li
                      | Branding
                    li
                      | HTML/CSS
                    li
                      | Illustration
