    #ajax-content-wrap
      div[data-featured-img="../../images/placoteca_large.png"]
        .row.project-title
          .container
            .title-wrap
              .col.span_12.section-title.no-date
                h1
                  | Placoteca
                #portfolio-nav
                  ul
                    li#all-items
                      a[href="../../portfolio.html"]
                        i.icon-salient-back-to-all
                  ul.controls
                    li#prev-link
                      a[href="../placo/" rel="next"]
                        i.icon-salient-left-arrow-thin
                    li#next-link
                      a[href="../desentupidor-de-ideias/" rel="prev"]
                        i.icon-salient-right-arrow-thin
        .container-wrap
          .container.main-content
            .row
              #post-area.col.span_9
                img.attachment-full.size-full.wp-post-image[width="870" height="464" src="../../images/placoteca_large.png" alt="placoteca_large" title="" srcset="../../images/placoteca_large-300x160.png 300w, ../../images/placoteca_large.png 870w" sizes="(max-width: 870px) 100vw, 870px"]
                #portfolio-extra
                  .stylish-button.android
                    a[href="https://play.google.com/store/apps/details?id=br.devmaker.guiaplaco" target="_blank"]
                      | Play Store
                  .stylish-button.ios
                    a[href="https://itunes.apple.com/us/app/placoteca/id977966887?mt=8"]
                      | Apple Store
              #sidebar.col.span_3.col_last[data-follow-on-scroll="0"]
                #sidebar-inner
                  #project-meta[data-sharing="1"]
                    .nectar-social.sharing
                      span.n-shortcode
                        a#nectar-love-3385.nectar-love[href="#" title="Love this"]
                          i.icon-salient-heart
                          span.nectar-love-count
                            | 2
                      a.facebook-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-facebook
                        span.count
                      a.twitter-share.nectar-sharing[href="#" title="Tweet this"]
                        i.icon-twitter
                        span.count
                      a.linkedin-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-linkedin
                        span.count

                    .clear
                  h3
                    | Placoteca
                  p
                    | Atualize-se com o novo aplicativo da Placo Saint-Gobain, a Placoteca! Aproveite a melhor experiência interativa na busca por produtos, soluções e instalação de drywall.
                  h3
                    | Descrição detalhada
                  ul.post-list
                    li
                      i.icon-ok
                      | Versão digital do Guia Placo;
                    li
                      i.icon-ok
                      | Informações sobre produtos e serviços oferecidos;
                    li
                      i.icon-ok
                      | Lançamentos;
                    li
                      i.icon-ok
                      | Vídeos institucionais, de instalação, portfólio de produtos e muito mais.
