    #ajax-content-wrap
      div[data-featured-img="../../images/cembra_large.png"]
        .row.project-title
          .container
            .title-wrap
              .col.span_12.section-title.no-date
                h1
                  | CEMBRA
                #portfolio-nav
                  ul
                    li#all-items
                      a[href="../../portfolio.html"]
                        i.icon-salient-back-to-all
                  ul.controls
                    li#prev-link
                      a[href="../footsys/" rel="next"]
                        i.icon-salient-left-arrow-thin
                    li#next-link
                      a[href="../tim/" rel="prev"]
                        i.icon-salient-right-arrow-thin
        .container-wrap
          .container.main-content
            .row
              #post-area.col.span_9
                img.attachment-full.size-full.wp-post-image[width="1127" height="600" src="../../images/cembra_large.png" alt="cembra_large" title="" srcset="../../images/cembra_large-300x160.png 300w, ../../images/cembra_large-1024x545.png 1024w, ../../images/cembra_large.png 1127w" sizes="(max-width: 1127px) 100vw, 1127px"]
                #portfolio-extra
                  p
                    | Aplicativo interno da empresa
              #sidebar.col.span_3.col_last[data-follow-on-scroll="0"]
                #sidebar-inner
                  #project-meta[data-sharing="1"]
                    .nectar-social.sharing
                      span.n-shortcode
                        a#nectar-love-3563.nectar-love[href="#" title="Love this"]
                          i.icon-salient-heart
                          span.nectar-love-count
                            | 4
                      a.facebook-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-facebook
                        span.count
                      a.twitter-share.nectar-sharing[href="#" title="Tweet this"]
                        i.icon-twitter
                        span.count
                      a.linkedin-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-linkedin
                        span.count

                    .clear
                  h3
                    | CEMBRA
                  p
					| Para  informatizar e aprimorar seus trabalhos, a CEMBRA criou um aplicativo interno para a área de saneamento.
