|  <!doctype html>
html[lang="pt-BR" prefix="og: http://ogp.me/ns#"]
  head
    meta[charset="UTF-8"]
    script[async src="https://www.googletagmanager.com/gtag/js?id=AW-878642468"]
    meta[name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"]
    link[rel="shortcut icon" href="http://beta.devmaker.com.br/wp-content/uploads/2015/07/favicon.png"]
    title
      |  Quanto custa criar um Aplicativo Mobile | DevMaker
    meta[name="description" content="Descubra aqui e em menos de dois minutos quanto custa criar um aplicativo e transformar sua ideia de negócio em realidade! Totalmente gratuito. Não perca."]
    meta[name="robots" content="noodp"]
    link[rel="canonical" href="http://devmaker.com.br/quanto-custa-criar-um-aplicativo/"]
    meta[property="og:locale" content="pt_BR"]
    meta[property="og:type" content="article"]
    meta[property="og:title" content="Veja quanto custa criar um aplicativo"]
    meta[property="og:description" content="Descubra em menos de dois minutos quanto custa criar um aplicativo e transformar sua ideia em realidade!"]
    meta[property="og:url" content="http://devmaker.com.br/quanto-custa-criar-um-aplicativo/"]
    meta[property="og:site_name" content="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps."]
    meta[property="og:image" content="http://devmaker.com.br/wp-content/uploads/2016/08/Post_31-08.jpg"]
    meta[name="twitter:card" content="summary"]
    meta[name="twitter:description" content="Descubra em menos de dois minutos quanto custa criar um aplicativo e transformar sua ideia em realidade!"]
    meta[name="twitter:title" content="Veja quanto custa criar um aplicativo"]
    meta[name="twitter:image" content="http://devmaker.com.br/wp-content/uploads/2016/08/Post_31-08.jpg"]
    link[rel="alternate" type="application/rss+xml" title="Feed de Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps. &raquo;" href="http://devmaker.com.br/feed/"]
    link[rel="alternate" type="application/rss+xml" title="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps. &raquo;  Feed de comentários" href="http://devmaker.com.br/comments/feed/"]

    link[rel="https://api.w.org/" href="http://devmaker.com.br/wp-json/"]
    link[rel="EditURI" type="application/rsd+xml" title="RSD" href="http://devmaker.com.br/xmlrpc.php?rsd"]
    link[rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://devmaker.com.br/wp-includes/wlwmanifest.xml"]
    link[rel="shortlink" href="http://devmaker.com.br/?p=4064"]
    link[rel="alternate" type="application/json+oembed" href="http://devmaker.com.br/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fdevmaker.com.br%2Fquanto-custa-criar-um-aplicativo%2F"]
    link[rel="alternate" type="text/xml+oembed" href="http://devmaker.com.br/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fdevmaker.com.br%2Fquanto-custa-criar-um-aplicativo%2F&#038;format=xml"]

    link rel="stylesheet" href="stylesheets/calc_orcamento.css"/
    script[type="text/javascript" src="javascripts/main_header.js"]
    script[type="text/javascript" src="javascripts/calc_orcamento_header.js"]

  body.page.page-id-4064.page-template-default.wpb-js-composer.js-comp-ver-4.3.5.vc_responsive[data-header-inherit-rc="false" data-header-search="false" data-animated-anchors="true" data-ajax-transitions="true" data-full-width-header="false" data-slide-out-widget-area="false" data-loading-animation="spin" data-bg-header="false" data-ext-responsive="true" data-header-resize="1" data-header-color="light" data-smooth-scrolling="0" data-responsive="1"]
    #header-space
    #header-outer[data-has-menu="true" data-user-set-bg="#ffffff" data-format="default" data-cart="false" data-transparency-option="" data-shrink-num="6" data-full-width="false" data-using-secondary="0" data-using-logo="1" data-logo-height="52" data-padding="28" data-header-resize="1"]
      #search-outer.nectar
        #search
          .container
            #search-box
              .col.span_12
                form[action="http://devmaker.com.br" method="GET"]
                  input#s[type="text" name="s" value="Start Typing..." data-placeholder="Start Typing..."]
            #close
              a[href="#"]
                span.icon-salient-x[aria-hidden="true"]
      header#top
        .container
          .row
            .col.span_3
              a#logo[href="index.html"]
                img.default-logo.dark-version[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="http://beta.devmaker.com.br/wp-content/uploads/2015/07/logoDark.png"]
                img.retina-logo.dark-version[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="http://beta.devmaker.com.br/wp-content/uploads/2015/07/logoDark@2x.png"]
            .col.span_9.col_last
              a#toggle-nav[href="#mobilemenu"]
                i.icon-reorder
              nav
                ul.buttons
                  li
                    span
                      a[href="#" title="Português" alt="Português" target="_blank"]
                        | BR
                      | /
                      a[href="#" title="English" alt="English" target="_blank"]
                        | EN
                  li#search-btn
                    div
                      a[href="#searchbox"]
                        span.icon-salient-search[aria-hidden="true"]
                ul.sf-menu
                  li#menu-item-3130.menu-home.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3130
                    a[href="/"]
                      | Home
                  li#menu-item-3129.menu-port.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3129
                    a[href="portfolio.html"]
                      | Portfólio
                  li#menu-item-3157.menu-empresa.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3157
                    a[href="empresa.html"]
                      | Empresa
                  li#menu-item-3440.menu-clientes.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3440
                    a[href="clientes.html"]
                      | Clientes
                  li#menu-item-4052.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-4052
                    a[href="/blog/"]
                      | Blog
                  li#menu-item-3815.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3815
                    a[href="/orcamento/"]
                      | Orçamento
      .ns-loading-cover
    #mobile-menu
      .container
        ul
          li.menu-home.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3130
            a[href="/"]
              | Home
          li.menu-port.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3129
            a[href="portfolio.html"]
              | Portfólio
          li.menu-empresa.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3157
            a[href="empresa.html"]
              | Empresa
          li.menu-clientes.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3440
            a[href="clientes.html"]
              | Clientes
          li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-4052
            a[href="/blog/"]
              | Blog
          li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3815
            a[href="/orcamento/"]
              | Orçamento
          li#mobile-search
            form[action="http://devmaker.com.br" method="GET"]
              input[type="text" name="s" value="" placeholder="Search.."]
    #ajax-loading-screen[data-method="ajax"]
      span.loading-icon
        span.default-skin-loading-icon
    #ajax-content-wrap
      .container-wrap
        .container.main-content
          .row
            #lfb_bootstraped.lfb_bootstraped
              #estimation_popup.wpe_bootstraped[data-formtitle="Quanto Custa Criar Um Aplicativo?" data-formsession="5c2e3a5305b31" data-autoclick="0" data-subs="" data-form="1"]
                #lfb_loader
                  .lfb_spinner
                    .double-bounce1
                    .double-bounce2
                a#wpe_close_btn[href="javascript:"]
                  span.fui-cross
                #wpe_panel
                  .container-fluid
                    .row
                      div
                        #startInfos[style=""]
                          h1
                            | QUANTO CUSTA CRIAR UM APLICATIVO?
                          p
                            | Siga os passos a seguir e descubra quanto custa transformar sua ideia em realidade.
                        p[style=""]
                          a#btnStart.btn.btn-large.btn-primary[href="javascript:" onclick="lfb_startFormIntro(1);"]
                            | COMEÇAR
                        #genPrice.genPrice
                          .progress
                            .progress-bar[style="width: 0%;"]
                              .progress-bar-price
                                span
                                  | 0$
                        h2#finalText.stepTitle
                          | Obrigado! As informações foram enviadas para seu e-mail.
                    #mainPanel.palette-clouds[data-savecart="0"]
                      input[type="hidden" name="action" value="lfb_upload_form"]
                      input#lfb_formSession[type="hidden" name="formSession" value="5c2e3a5305b31"]
                      .genSlide[data-start="0" data-showstepsum="1" data-stepid="2" data-title="Seu aplicativo precisa de um Chat?" data-required="true" data-dependitem="0"]
                        h2.stepTitle
                          | Seu aplicativo precisa de um Chat?
                        .genContent.container-fluid.lfb_noDes
                          .row
                            .itemBloc.col-md-2.lfb_item.lfb_picRow
                              .selectable[data-usecalculation="true" data-calculation="3000
if([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]){
   3000*4
} else if(
    ([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-31_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked] && [item-33_isChecked])){
   3000 *3
} else if(
    ([item-30_isChecked] && [item-31_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked]) ||
    ([item-30_isChecked] && [item-33_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-33_isChecked]) ||
    ([item-32_isChecked] && [item-33_isChecked]) ) {
   3000 *2
}" data-showinsummary="true" data-woovar="0" data-reduc="0" data-reducqt="" data-operation="+" data-itemid="2" data-group="precisa-de-chat" data-prodid="0" data-title="Sim" data-toggle="tooltip" title="Sim" data-originaltitle="Sim" data-placement="bottom" data-price="3000"]
                                img.img[data-tint="false" src="images/like.png" alt=""]
                                span.palette-clouds.fui-cross.icon_select
                            .itemBloc.col-md-2.lfb_item.lfb_picRow
                              .selectable[data-showinsummary="true" data-woovar="0" data-reduc="0" data-reducqt="" data-operation="+" data-itemid="5" data-group="precisa-de-chat" data-prodid="0" data-title="Não" data-toggle="tooltip" title="Não" data-originaltitle="Não" data-placement="bottom" data-price="0"]
                                img.img[data-tint="false" src="images/dislike.png" alt=""]
                                span.palette-clouds.fui-cross.icon_select
                        .errorMsg.alert.alert-danger
                          | Você precisa selecionar uma opção para continuar
                        p.text-center.lfb_btnNextContainer[style="margin-top: 22px; position: absolute; width: 100%;"]
                          a#lfb_btnNext_2.btn.btn-wide.btn-primary.btn-next[href="javascript:"]
                            | PRÓXIMO PASSO
                          br
                          a.linkPrevious[href="javascript:"]
                            | Retornar para o passo anterior
                      .genSlide[data-start="0" data-showstepsum="1" data-stepid="3" data-title="O aplicativo vai usar algum destes recursos?" data-dependitem="0"]
                        h2.stepTitle
                          | O aplicativo vai usar algum destes recursos?
                        p.lfb_stepDescription
                          | (1 ou mais opções podem ser marcadas)
                        .genContent.container-fluid
                          .row
                            .itemBloc.col-md-2.lfb_item.lfb_picRow
                              .selectable[data-usecalculation="true" data-calculation="1000
if([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]){
   1000*4
} else if(
    ([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-31_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked] && [item-33_isChecked])){
   1000 *3
} else if(
    ([item-30_isChecked] && [item-31_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked]) ||
    ([item-30_isChecked] && [item-33_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-33_isChecked]) ||
    ([item-32_isChecked] && [item-33_isChecked]) ) {
   1000 *2
}" data-showinsummary="true" data-woovar="0" data-reduc="0" data-reducqt="" data-operation="+" data-itemid="6" data-prodid="0" data-title="Geoprocessamento" data-toggle="tooltip" title="Geoprocessamento" data-originaltitle="Geoprocessamento" data-placement="bottom" data-price="1000"]
                                img.img[data-tint="false" src="images/geoprocessamento.png" alt=""]
                                span.palette-clouds.fui-cross.icon_select
                            .itemBloc.col-md-2.lfb_item.lfb_picRow
                              .selectable[data-usecalculation="true" data-calculation="1000
if([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]){
   1000*4
} else if(
    ([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-31_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked] && [item-33_isChecked])){
   1000 *3
} else if(
    ([item-30_isChecked] && [item-31_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked]) ||
    ([item-30_isChecked] && [item-33_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-33_isChecked]) ||
    ([item-32_isChecked] && [item-33_isChecked]) ) {
   1000 *2
}" data-showinsummary="true" data-woovar="0" data-reduc="0" data-reducqt="" data-operation="+" data-itemid="7" data-prodid="0" data-title="Realidade Aumentada" data-toggle="tooltip" title="Realidade Aumentada" data-originaltitle="Realidade Aumentada" data-placement="bottom" data-price="1000"]
                                img.img[data-tint="false" src="images/realidade-aumentada.png" alt=""]
                                span.palette-clouds.fui-cross.icon_select
                            .itemBloc.col-md-2.lfb_item.lfb_picRow
                              .selectable[data-usecalculation="true" data-calculation="1000
if([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]){
   1000*4
} else if(
    ([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-31_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked] && [item-33_isChecked])){
   1000 *3
} else if(
    ([item-30_isChecked] && [item-31_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked]) ||
    ([item-30_isChecked] && [item-33_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-33_isChecked]) ||
    ([item-32_isChecked] && [item-33_isChecked]) ) {
   1000 *2
}" data-showinsummary="true" data-woovar="0" data-reduc="0" data-reducqt="" data-operation="+" data-itemid="8" data-prodid="0" data-title="Acelerômetro" data-toggle="tooltip" title="Acelerômetro" data-originaltitle="Acelerômetro" data-placement="bottom" data-price="1000"]
                                img.img[data-tint="false" src="images/acelerometro.png" alt=""]
                                span.palette-clouds.fui-cross.icon_select
                            .itemBloc.col-md-2.lfb_item.lfb_picRow
                              .selectable[data-usecalculation="true" data-calculation="1000
if([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]){
   1000*4
} else if(
    ([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-31_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked] && [item-33_isChecked])){
   1000 *3
} else if(
    ([item-30_isChecked] && [item-31_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked]) ||
    ([item-30_isChecked] && [item-33_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-33_isChecked]) ||
    ([item-32_isChecked] && [item-33_isChecked]) ) {
   1000 *2
}" data-showinsummary="true" data-woovar="0" data-reduc="0" data-reducqt="" data-operation="+" data-itemid="9" data-prodid="0" data-title="Câmera" data-toggle="tooltip" title="Câmera" data-originaltitle="Câmera" data-placement="bottom" data-price="1000"]
                                img.img[data-tint="false" src="images/photo-camera.png" alt=""]
                                span.palette-clouds.fui-cross.icon_select
                            .itemBloc.col-md-2.lfb_item.lfb_picRow
                              .selectable[data-usecalculation="true" data-calculation="1000
if([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]){
   1000*4
} else if(
    ([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-31_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked] && [item-33_isChecked])){
   1000 *3
} else if(
    ([item-30_isChecked] && [item-31_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked]) ||
    ([item-30_isChecked] && [item-33_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-33_isChecked]) ||
    ([item-32_isChecked] && [item-33_isChecked]) ) {
   1000 *2
}" data-showinsummary="true" data-woovar="0" data-reduc="0" data-reducqt="" data-operation="+" data-itemid="10" data-prodid="0" data-title="Mapa" data-toggle="tooltip" title="Mapa" data-originaltitle="Mapa" data-placement="bottom" data-price="1000"]
                                img.img[data-tint="false" src="images/mapa.png" alt=""]
                                span.palette-clouds.fui-cross.icon_select
                        .errorMsg.alert.alert-danger
                          | Você precisa selecionar uma opção para continuar
                        p.text-center.lfb_btnNextContainer[style="margin-top: 22px; position: absolute; width: 100%;"]
                          a#lfb_btnNext_3.btn.btn-wide.btn-primary.btn-next[href="javascript:"]
                            | PRÓXIMO PASSO
                          br
                          a.linkPrevious[href="javascript:"]
                            | Retornar para o passo anterior
                      .genSlide[data-start="0" data-showstepsum="1" data-stepid="4" data-title="Quantas páginas em média terá seu aplicativo?" data-required="true" data-dependitem="0"]
                        h2.stepTitle
                          | Quantas páginas em média terá seu aplicativo?
                        .genContent.container-fluid.lfb_noDes
                          .row
                            .itemBloc.col-md-2.lfb_item.lfb_picRow
                              .selectable[data-usecalculation="true" data-calculation="1000
if([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]){
   1000*4
} else if(
    ([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-31_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked] && [item-33_isChecked])){
   1000 *3
} else if(
    ([item-30_isChecked] && [item-31_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked]) ||
    ([item-30_isChecked] && [item-33_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-33_isChecked]) ||
    ([item-32_isChecked] && [item-33_isChecked]) ) {
   1000 *2
}" data-showinsummary="true" data-woovar="0" data-reduc="0" data-reducqt="" data-operation="+" data-itemid="12" data-group="numero-de-paginas" data-prodid="0" data-title="1 a 5" data-toggle="tooltip" title="1 a 5" data-originaltitle="1 a 5" data-placement="bottom" data-price="1000"]
                                img.img[data-tint="false" src="images/5.png" alt=""]
                                span.palette-clouds.fui-cross.icon_select
                            .itemBloc.col-md-2.lfb_item.lfb_picRow
                              .selectable[data-usecalculation="true" data-calculation="3000
if([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]){
   3000*4
} else if(
    ([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-31_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked] && [item-33_isChecked])){
   3000 *3
} else if(
    ([item-30_isChecked] && [item-31_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked]) ||
    ([item-30_isChecked] && [item-33_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-33_isChecked]) ||
    ([item-32_isChecked] && [item-33_isChecked]) ) {
   3000 *2
}" data-showinsummary="true" data-woovar="0" data-reduc="0" data-reducqt="" data-operation="+" data-itemid="16" data-group="numero-de-paginas" data-prodid="0" data-title="6 a 10" data-toggle="tooltip" title="6 a 10" data-originaltitle="6 a 10" data-placement="bottom" data-price="3000"]
                                img.img[data-tint="false" src="images/10.png" alt=""]
                                span.palette-clouds.fui-cross.icon_select
                            .itemBloc.col-md-2.lfb_item.lfb_picRow
                              .selectable[data-usecalculation="true" data-calculation="6000
if([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]){
   6000*4
} else if(
    ([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-31_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked] && [item-33_isChecked])){
   6000 *3
} else if(
    ([item-30_isChecked] && [item-31_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked]) ||
    ([item-30_isChecked] && [item-33_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-33_isChecked]) ||
    ([item-32_isChecked] && [item-33_isChecked]) ) {
   6000 *2
}" data-showinsummary="true" data-woovar="0" data-reduc="0" data-reducqt="" data-operation="+" data-itemid="17" data-group="numero-de-paginas" data-prodid="0" data-title="11 a 15" data-toggle="tooltip" title="11 a 15" data-originaltitle="11 a 15" data-placement="bottom" data-price="6000"]
                                img.img[data-tint="false" src="images/15.png" alt=""]
                                span.palette-clouds.fui-cross.icon_select
                            .itemBloc.col-md-2.lfb_item.lfb_picRow
                              .selectable[data-usecalculation="true" data-calculation="9000
if([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]){
   9000*4
} else if(
    ([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-31_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked] && [item-33_isChecked])){
   9000 *3
} else if(
    ([item-30_isChecked] && [item-31_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked]) ||
    ([item-30_isChecked] && [item-33_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-33_isChecked]) ||
    ([item-32_isChecked] && [item-33_isChecked]) ) {
   9000 *2
}" data-showinsummary="true" data-woovar="0" data-reduc="0" data-reducqt="" data-operation="+" data-itemid="18" data-group="numero-de-paginas" data-prodid="0" data-title="Mais de 15" data-toggle="tooltip" title="Mais de 15" data-originaltitle="Mais de 15" data-placement="bottom" data-price="9000"]
                                img.img[data-tint="false" src="images/15-1.png" alt=""]
                                span.palette-clouds.fui-cross.icon_select
                            .itemBloc.col-md-2.lfb_item.lfb_picRow
                              .selectable[data-usecalculation="true" data-calculation="3000
if([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]){
   3000*4
} else if(
    ([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-31_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked] && [item-33_isChecked])){
   3000 *3
} else if(
    ([item-30_isChecked] && [item-31_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked]) ||
    ([item-30_isChecked] && [item-33_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-33_isChecked]) ||
    ([item-32_isChecked] && [item-33_isChecked]) ) {
   3000 *2
}" data-showinsummary="true" data-woovar="0" data-reduc="0" data-reducqt="" data-operation="+" data-itemid="19" data-group="numero-de-paginas" data-prodid="0" data-title="Não sei" data-toggle="tooltip" title="Não sei" data-originaltitle="Não sei" data-placement="bottom" data-price="3000"]
                                img.img[data-tint="false" src="images/nao-sei.png" alt=""]
                                span.palette-clouds.fui-cross.icon_select
                        .errorMsg.alert.alert-danger
                          | Você precisa selecionar uma opção para continuar
                        p.text-center.lfb_btnNextContainer[style="margin-top: 22px; position: absolute; width: 100%;"]
                          a#lfb_btnNext_2.btn.btn-wide.btn-primary.btn-next[href="javascript:"]
                            | PRÓXIMO PASSO
                          br
                          a.linkPrevious[href="javascript:"]
                            | Retornar para o passo anterior
                      .genSlide[data-start="0" data-showstepsum="1" data-stepid="5" data-title="O aplicativo vai funcionar…" data-required="true" data-dependitem="0"]
                        h2.stepTitle
                          | O aplicativo vai funcionar…
                        .genContent.container-fluid.lfb_noDes
                          .row
                            .itemBloc.col-md-2.lfb_item.lfb_picRow
                              .selectable[data-showinsummary="true" data-woovar="0" data-reduc="0" data-reducqt="" data-operation="+" data-itemid="14" data-group="online-ou-offline" data-prodid="0" data-title="Apenas Online" data-toggle="tooltip" title="Apenas Online" data-originaltitle="Apenas Online" data-placement="bottom" data-price="0"]
                                img.img[data-tint="false" src="images/online.png" alt=""]
                                span.palette-clouds.fui-cross.icon_select
                            .itemBloc.col-md-2.lfb_item.lfb_picRow
                              .selectable[data-usecalculation="true" data-calculation="3000
if([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]){
   3000*4
} else if(
    ([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-31_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked] && [item-33_isChecked])){
   3000 *3
} else if(
    ([item-30_isChecked] && [item-31_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked]) ||
    ([item-30_isChecked] && [item-33_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-33_isChecked]) ||
    ([item-32_isChecked] && [item-33_isChecked]) ) {
   3000 *2
}" data-showinsummary="true" data-woovar="0" data-reduc="0" data-reducqt="" data-operation="+" data-itemid="20" data-group="online-ou-offline" data-prodid="0" data-title="Apenas Offline" data-toggle="tooltip" title="Apenas Offline" data-originaltitle="Apenas Offline" data-placement="bottom" data-price="3000"]
                                img.img[data-tint="false" src="images/offline.png" alt=""]
                                span.palette-clouds.fui-cross.icon_select
                            .itemBloc.col-md-2.lfb_item.lfb_picRow
                              .selectable[data-showinsummary="true" data-woovar="0" data-reduc="0" data-reducqt="" data-operation="+" data-itemid="21" data-group="online-ou-offline" data-prodid="0" data-title="Online e Offline" data-toggle="tooltip" title="Online e Offline" data-originaltitle="Online e Offline" data-placement="bottom" data-price="0"]
                                img.img[data-tint="false" src="images/online-offline.png" alt=""]
                                span.palette-clouds.fui-cross.icon_select
                        .errorMsg.alert.alert-danger
                          | Você precisa selecionar uma opção para continuar
                        p.text-center.lfb_btnNextContainer[style="margin-top: 22px; position: absolute; width: 100%;"]
                          a#lfb_btnNext_2.btn.btn-wide.btn-primary.btn-next[href="javascript:"]
                            | PRÓXIMO PASSO
                          br
                          a.linkPrevious[href="javascript:"]
                            | Retornar para o passo anterior
                      .genSlide[data-start="0" data-showstepsum="1" data-stepid="7" data-title="Sobre o seu aplicativo" data-dependitem="0"]
                        h2.stepTitle
                          | Sobre o seu aplicativo
                        .genContent.container-fluid.lfb_noDes
                          .row
                            .itemBloc.col-md-2.lfb_item
                              .form-group
                                label
                                  | Nos conte mais sobre o seu aplicativo (opcional)
                                textarea.form-control[data-itemid="27" data-showinsummary="true" data-title="Nos conte mais sobre o seu aplicativo (opcional)" data-originaltitle="Nos conte mais sobre o seu aplicativo (opcional)"]
                        .errorMsg.alert.alert-danger
                          | Você precisa selecionar uma opção para continuar
                        p.text-center.lfb_btnNextContainer[style="margin-top: 22px; position: absolute; width: 100%;"]
                          a#lfb_btnNext_7.btn.btn-wide.btn-primary.btn-next[href="javascript:"]
                            | PRÓXIMO PASSO
                          br
                          a.linkPrevious[href="javascript:"]
                            | Retornar para o passo anterior
                      .genSlide[data-start="0" data-showstepsum="1" data-stepid="8" data-title="Seu aplicativo vai precisar de um painel administrativo?" data-required="true" data-dependitem="0"]
                        h2.stepTitle
                          | Seu aplicativo vai precisar de um painel administrativo?
                        .genContent.container-fluid.lfb_noDes
                          .row
                            .itemBloc.col-md-2.lfb_item.lfb_picRow
                              .selectable[data-usecalculation="true" data-calculation="8000
if([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]){
   8000*4
} else if(
    ([item-30_isChecked] && [item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-31_isChecked] && [item-33_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked] && [item-33_isChecked])){
   8000 *3
} else if(
    ([item-30_isChecked] && [item-31_isChecked]) ||
    ([item-30_isChecked] && [item-32_isChecked]) ||
    ([item-30_isChecked] && [item-33_isChecked]) ||
    ([item-31_isChecked] && [item-32_isChecked]) ||
    ([item-31_isChecked] && [item-33_isChecked]) ||
    ([item-32_isChecked] && [item-33_isChecked]) ) {
   8000 *2
}" data-showinsummary="true" data-woovar="0" data-reduc="0" data-reducqt="" data-operation="+" data-itemid="28" data-group="painel-adm" data-prodid="0" data-title="Sim" data-toggle="tooltip" title="Sim" data-originaltitle="Sim" data-placement="bottom" data-price="8000"]
                                img.img[data-tint="false" src="images/like.png" alt=""]
                                span.palette-clouds.fui-cross.icon_select
                            .itemBloc.col-md-2.lfb_item.lfb_picRow
                              .selectable[data-showinsummary="true" data-woovar="0" data-reduc="0" data-reducqt="" data-operation="+" data-itemid="29" data-group="painel-adm" data-prodid="0" data-title="Não" data-toggle="tooltip" title="Não" data-originaltitle="Não" data-placement="bottom" data-price="0"]
                                img.img[data-tint="false" src="images/dislike.png" alt=""]
                                span.palette-clouds.fui-cross.icon_select
                        .errorMsg.alert.alert-danger
                          | Você precisa selecionar uma opção para continuar
                        p.text-center.lfb_btnNextContainer[style="margin-top: 22px; position: absolute; width: 100%;"]
                          a#lfb_btnNext_8.btn.btn-wide.btn-primary.btn-next[href="javascript:"]
                            | PRÓXIMO PASSO
                          br
                          a.linkPrevious[href="javascript:"]
                            | Retornar para o passo anterior
                      .genSlide[data-start="1" data-showstepsum="1" data-stepid="9" data-title="Em quais plataformas seu aplicativo estará disponível?" data-required="true" data-dependitem="0"]
                        h2.stepTitle
                          | Em quais plataformas seu aplicativo estará disponível?
                        .genContent.container-fluid.lfb_noDes
                          .row
                            .itemBloc.col-md-2.lfb_item.lfb_picRow
                              .selectable[data-showinsummary="true" data-woovar="0" data-reduc="0" data-reducqt="" data-operation="+" data-itemid="30" data-prodid="0" data-title="Android" data-toggle="tooltip" title="Android" data-originaltitle="Android" data-placement="bottom" data-price="7000"]
                                img.img[data-tint="false" src="images/android.png" alt=""]
                                span.palette-clouds.fui-cross.icon_select
                            .itemBloc.col-md-2.lfb_item.lfb_picRow
                              .selectable[data-showinsummary="true" data-woovar="0" data-reduc="0" data-reducqt="" data-operation="+" data-itemid="31" data-prodid="0" data-title="iOS" data-toggle="tooltip" title="iOS" data-originaltitle="iOS" data-placement="bottom" data-price="7000"]
                                img.img[data-tint="true" src="images/apple.png" alt=""]
                                span.palette-clouds.fui-cross.icon_select
                            .itemBloc.col-md-2.lfb_item.lfb_picRow
                              .selectable[data-showinsummary="true" data-woovar="0" data-reduc="0" data-reducqt="" data-operation="+" data-itemid="32" data-prodid="0" data-title="Windows Phone" data-toggle="tooltip" title="Windows Phone" data-originaltitle="Windows Phone" data-placement="bottom" data-price="7000"]
                                img.img[data-tint="false" src="images/windows-logo-silhouette.png" alt=""]
                                span.palette-clouds.fui-cross.icon_select
                            .itemBloc.col-md-2.lfb_item.lfb_picRow
                              .selectable[data-showinsummary="true" data-woovar="0" data-reduc="0" data-reducqt="" data-operation="+" data-itemid="33" data-prodid="0" data-title="Web" data-toggle="tooltip" title="Web" data-originaltitle="Web" data-placement="bottom" data-price="7000"]
                                img.img[data-tint="false" src="images/levels.png" alt=""]
                                span.palette-clouds.fui-cross.icon_select
                        .errorMsg.alert.alert-danger
                          | Você precisa selecionar uma opção para continuar
                        p.text-center.lfb_btnNextContainer[style="margin-top: 22px; position: absolute; width: 100%;"]
                          a#lfb_btnNext_9.btn.btn-wide.btn-primary.btn-next[href="javascript:"]
                            | PRÓXIMO PASSO
                      #finalSlide.genSlide[data-stepid="final"]
                        h2.stepTitle
                          | Estamos quase lá!
                        .genContent
                          .genContentSlide.active
                            p
                              | Insira seu nome e e-mail para receber um orçamento detalhado direto na sua Caixa de Entrada.
                            h3#finalPrice[style="display:none;"]
                              span
                            .form-group
                              label[for="field_3" style="display: none"]
                                | Nome
                              input#field_3.form-control[type="text" data-fieldtype="firstName" data-required="true" placeholder="Nome"]
                            .form-group
                              label[for="field_14" style="display: none"]
                                | Estado (UF)
                              input#field_14.form-control[type="text" data-fieldtype="city" data-required="true" placeholder="Estado (UF)"]
                            .form-group
                              label[for="field_17" style="display: block"]
                                | Deseja que entre em contato? Coloque seu telefone ;)
                              input#field_17_cb[type="checkbox" data-toggle="switch" data-fieldid="17"]
                              br
                              input#field_17.form-control.toggle[type="text" data-fieldtype="phone" data-required="false" placeholder=""]
                            .form-group
                              label[for="field_9" style="display: none"]
                                | Email
                              input#field_9.form-control.emailField[type="text" autocomplete="on" name="email" data-fieldtype="" data-required="false" placeholder="Email"]
                            p[style="margin-bottom: 28px;"]

                            #lfb_summary.table-responsive.lfb-hidden
                              h4
                                | Summary
                              table.table.table-bordered
                                thead
                                  th
                                    | Descrição
                                  th
                                    | Informação
                                  th.lfb-hidden
                                    | Quantidade
                                  th
                                    | Preço
                                tbody
                                  tr#lfb_summaryDiscountTr.lfb_static
                                    th[colspan="3"]
                                      | Desconto:
                                    th#lfb_summaryDiscount
                                      span
                                  tr#sfb_summaryTotalTr.lfb_static
                                    th[colspan="3"]
                                      | Total:
                                    th#lfb_summaryTotal
                                      span
                            a#wpe_btnOrder.btn.btn-wide.btn-primary[href="javascript:"]
                              | RECEBER VALOR POR E-MAIL
                            div
                              a.linkPrevious[href="javascript:"]
                                | Retornar para o passo anterior
            .direitos-dm
              | © #{Date.today.year}
              a[href="http://devmaker.com.br"]
                | DevMaker Mobile Apps
              |  | Todos os direitos reservados.
      a.home.cta.orcamento[href="calc_orcamento.html" target="_blank" title="Descubra agora!"]
        span
          | Quanto custa criar um aplicativo?
      #footer-outer[data-using-widget-area="true"]
        #footer-widgets
          .container
            .row
              .col.span_6
                #text-7.widget.widget_text
                  .textwidget
                    #fws_5c2e3a5306bba.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
                      .row-bg-wrap
                        .row-bg[style=""]
                      .col.span_12.dark
                        .vc_col-sm-6.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                p
                                  a[itemprop="url" href="/"]
                                    br
                                    b
                                      | DevMaker Mobile Apps
                                    br
                                div[itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"]
                                  span.s1[itemprop="streetAddress"]
                                    | Avenida Cidade Jardim, 400 - 7° e 20°
                                    br
                                    |  Andares - Jardim Paulistano
                                  br
                                  spam[itemprop="addressCode"]
                                    | 01454-000
                                    |  -
                                    spam[itemprop="addressLocality"]
                                      | São Paulo
                                      br
                                      spam[itemprop="addressRegion"]
                                        | São Paulo
                                        | ,
                                        spam[itemprop="addressCountry"]
                                          | Brasil
                                          p
                                            strong
                                              | Tel.
                                            span[itemprop="telephone"]
                                              a[href="tel:+55 (11) 3818-0916"]
                                                | +55 (11) 3818-0916
                                div[itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"]
                                  span.s1[itemprop="streetAddress"]
                                    | Alameda Dr. Carlos de Carvalho, 771 - 7° Andar - Batel
                                  br
                                  spam[itemprop="addressCode"]
                                    | 80430-180
                                    |  -
                                    spam[itemprop="addressLocality"]
                                      | Curitiba
                                      br
                                      spam[itemprop="addressRegion"]
                                        | Paraná
                                        | ,
                                        spam[itemprop="addressCountry"]
                                          | Brasil
                                          p
                                            strong
                                              | Tel.
                                            span[itemprop="telephone"]
                                              a[href="tel:+55 (41) 3348-8694"]
                                                | +55 (41) 3348-8696
                                p
                                  strong
                                    | Email:
                                  span.s1[itemprop="email"]
                                    a[href="mailto:contato@devmaker.com.br"]
                                      | contato@devmaker.com.br
                                    br
                                    strong
                                      | facebook:
                                    a[href="https://facebook.com/devmakercwb/" target="_blank"]
                                      | devmakercwb
                                    br
                                    strong
                                      | instagram:
                                    a[href="https://instagram.com/devmakermobile/" target="_blank"]
                                      | devmakermobile
                                    br
                                  span.s1
                                    a[href="mailto:http://contato@devmaker.com.br"]
                                      br
                                  a[href="/"]
                                    img.alignnone.size-full.wp-image-3060[itemprop="img" src="http://beta.devmaker.com.br/wp-content/uploads/2015/07/logoDevMaker.png" alt="logoDevMaker" width="230" height="52"]
              .col.span_6
                #text-3.widget.widget_text
                  .textwidget
                    #fws_5c2e3a5307bfc.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
                      .row-bg-wrap
                        .row-bg[style=""]
                      .col.span_12.dark
                        .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                p
                                  b
                                    | Institucional
                                  br
                                  br
                                  span.s1
                                    a[href="/empresa"]
                                      | A Empresa
                                  br
                                  span.s1
                                    a[href="/portfolio"]
                                      | Portfólio
                                  br
                                  span.s1
                                    a[href="clientes"]
                                      | Clientes
                        .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                p
                                  b
                                    | Projetos
                                  br
                                  br
                                  span.s1
                                    a[href="/portfolio"]
                                      | Android
                                  br
                                  span.s1
                                    a[href="/portfolio"]
                                      | Facebook Apps
                                  br
                                  span.s1
                                    a[href="/portfolio"]
                                      | Apple
                        .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                p
                                  b
                                    | Blog
                                  br
                                  br
                                  span.s1
                                    a[href="/blog"]
                                      | Android
                                  br
                                  span.s1
                                    a[href="/blog"]
                                      | Aplicativos
                                  br
                                  span.s1
                                    a[href="#"]
                                      | Dicas
                                  br
                                  span.s1
                                    a[href="/blog"]
                                      | Microempresas
                        .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                p
                                  b
                                    | Contato
                                  br
                                  br
                                  span.s1
                                    a[href="/orcamento"]
                                      | Orçamento
                                  br
                                  span.s1
                                    a[href="/contato"]
                                      | Fale Conosco
        #copyright.row
          .container
            .col.span_5
              p
                | © #{Date.today.year} DevMaker Mobile Apps. All Rights Reserved.
            .col.span_7.col_last
              ul#social
                li
                  a[target="_blank" href="https://www.facebook.com/devmakercwb"]
                    i.icon-facebook
                li
                  a[target="_blank" href="https://www.linkedin.com/company/devmaker"]
                    i.icon-linkedin
    a#to-top
      i.icon-angle-up

    script[type="text/javascript" src="javascripts/calc_orcamento_footer.js"]

    a[style="display:none;" href="http://miniorange.com/cyber-security"]
      | Secured By miniOrange
