
    #header-space
    #header-outer.transparent[data-has-menu="true" data-transparent-header="true" data-remove-border="false" data-user-set-bg="#ffffff" data-format="default" data-cart="false" data-transparency-option="" data-shrink-num="6" data-full-width="false" data-using-secondary="0" data-using-logo="1" data-logo-height="52" data-padding="28" data-header-resize="1"]
      #search-outer.nectar
        #search
          .container
            #search-box
              .col.span_12
                form[action="http://devmaker.com.br" method="GET"]
                  input#s[type="text" name="s" value="Start Typing..." data-placeholder="Start Typing..."]
            #close
              a[href="#"]
                span.icon-salient-x[aria-hidden="true"]
      header#top
        .container
          .row
            .col.span_3
              a#logo[href="index.html"]
                img.default-logo.dark-version[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="images/logoDark.png"]
                img.retina-logo.dark-version[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="images/logoDark@2x.png"]
                img.starting-logo.default-logo[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="images/logoDevMaker.png"]
                img.retina-logo.starting-logo[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="images/logoDevMaker@2x.png"]
            .col.span_9.col_last
              a#toggle-nav[href="#mobilemenu"]
                i.icon-reorder
              nav
                ul.buttons
                  li
                    span
                      a[href="#" title="Português" alt="Português" target="_blank"]
                        | BR
                      | /
                      a[href="#" title="English" alt="English" target="_blank"]
                        | EN
                  li#search-btn
                    div
                      a[href="#searchbox"]
                        span.icon-salient-search[aria-hidden="true"]
                ul.sf-menu
                  li#menu-item-3130.menu-home.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3130
                    a[href="/"]
                      | Home
                  li#menu-item-3129.menu-port.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3129
                    a[href="portfolio.html"]
                      | Portfólio
                  li#menu-item-3157.menu-empresa.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3157
                    a[href="empresa.html"]
                      | Empresa
                  li#menu-item-3440.menu-clientes.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-3438.current_page_item.menu-item-3440
                    a[href="clientes.html"]
                      | Clientes
                  li#menu-item-4052.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-4052
                    a[href="/blog/"]
                      | Blog
                  li#menu-item-3815.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3815
                    a[href="/orcamento/"]
                      | Orçamento
      .ns-loading-cover
    #mobile-menu
      .container
        ul
          li.menu-home.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3130
            a[href="/"]
              | Home
          li.menu-port.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3129
            a[href="portfolio.html"]
              | Portfólio
          li.menu-empresa.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3157
            a[href="empresa.html"]
              | Empresa
          li.menu-clientes.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-3438.current_page_item.menu-item-3440
            a[href="clientes.html"]
              | Clientes
          li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-4052
            a[href="/blog/"]
              | Blog
          li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3815
            a[href="/orcamento/"]
              | Orçamento
          li#mobile-search
            form[action="http://devmaker.com.br" method="GET"]
              input[type="text" name="s" value="" placeholder="Search.."]
    #ajax-loading-screen[data-method="ajax"]
      span.loading-icon
        span.default-skin-loading-icon
    #ajax-content-wrap
      #page-header-wrap[style="height: 500px;"]
        #page-header-bg.not-loaded[data-alignment="center" data-parallax="1" data-height="500" style="background-color: #000; background-image: url(images/empresa_header.png); height: 500px;"]
          .container
            .row
              .col.span_6
                h1
                  | Clientes
                span.subheader
                  | Um de nossos valores é o relacionamento de confiança que possuímos com nossos clientes. Temos o maior orgulho de todos para quem já prestamos serviços e esperamos ter a sua empresa em nosso portfólio.
      .container-wrap
        .container.main-content
          .row
            #fws_5c2502a2c5122.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
              .row-bg-wrap
                .row-bg[style=""]
              .col.span_12.dark
                .vc_col-sm-12.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .divider[style="height: 30px;"]
            #fws_5c2502a2c5a9b.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
              .row-bg-wrap
                .row-bg[style=""]
              .col.span_12.dark
                .vc_col-sm-12.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element.quemsomos
                      .wpb_wrapper

            #fws_5c2502a2c61ea.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
              .row-bg-wrap
                .row-bg[style=""]
              .col.span_12.dark
                .vc_col-sm-12.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element
                      .wpb_wrapper

            #fws_5c2502a2c6798.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
              .row-bg-wrap
                .row-bg[style=""]
              .col.span_12.dark
                .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/tim.png" alt=""]
                .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/decatlhon-cliente-2.png" alt=""]
                .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/socarrao.png" alt=""]
                .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/placo.png" alt=""]
            #PELISSARI.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
              .row-bg-wrap
                .row-bg[style=""]
              .col.span_12.dark.left
                .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/abert.png" alt=""]
                .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/racco1.png" alt=""]
                .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/uningressos.png" alt=""]
                .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/uninter.png" alt=""]
            #fws_5c2502a2cb174.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
              .row-bg-wrap
                .row-bg[style=""]
              .col.span_12.dark
                .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/thrifty.png" alt=""]
                .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/chaves-na-mao.png" alt=""]
                .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/engerey.png" alt=""]
                .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/reymaster.png" alt=""]
            #fws_5c2502a2cd118.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
              .row-bg-wrap
                .row-bg[style=""]
              .col.span_12.dark
                .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/jovenpan.png" alt=""]
                .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/brokencontact.png" alt=""]
                .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/cbn1.png" alt=""]
                .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/jba.png" alt=""]
            #fws_5c2502a2cf683.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
              .row-bg-wrap
                .row-bg[style=""]
              .col.span_12.dark
                .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/referencia.png" alt=""]
                .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/refinaria.png" alt=""]
                .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/footsys1.png" alt=""]
                .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/marcus.png" alt=""]
            #fws_5c2502a2d15dd.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
              .row-bg-wrap
                .row-bg[style=""]
              .col.span_12.dark
                .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/phorma.png" alt=""]
                .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/cembra.png" alt=""]
                .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/euroit.png" alt=""]
                .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/pelissari.png" alt=""]
      a.home.cta.orcamento[href="/quanto-custa-criar-um-aplicativo/" target="_blank" title="Descubra agora!"]
        span
          | Quanto custa criar um aplicativo?

    script[type="text/javascript" src="javascripts/clientes_footer.js"]
