
    #header-space
    #header-outer.transparent[data-has-menu="true" data-transparent-header="true" data-remove-border="false" data-user-set-bg="#ffffff" data-format="default" data-cart="false" data-transparency-option="" data-shrink-num="6" data-full-width="false" data-using-secondary="0" data-using-logo="1" data-logo-height="52" data-padding="28" data-header-resize="1"]
      #search-outer.nectar
        #search
          .container
            #search-box
              .col.span_12
                form[action="http://devmaker.com.br" method="GET"]
                  input#s[type="text" name="s" value="Start Typing..." data-placeholder="Start Typing..."]
            #close
              a[href="#"]
                span.icon-salient-x[aria-hidden="true"]
      header#top
        .container
          .row
            .col.span_3
              a#logo[href="index.html"]
                img.default-logo.dark-version[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="images/logoDark.png"]
                img.retina-logo.dark-version[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="images/logoDark@2x.png"]
                img.starting-logo.default-logo[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="images/logoDevMaker.png"]
                img.retina-logo.starting-logo[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="images/logoDevMaker@2x.png"]
            .col.span_9.col_last
              a#toggle-nav[href="#mobilemenu"]
                i.icon-reorder
              nav
                ul.buttons
                  li
                    span
                      a[href="#" title="Português" alt="Português" target="_blank"]
                        | BR
                      | /
                      a[href="#" title="English" alt="English" target="_blank"]
                        | EN
                  li#search-btn
                    div
                      a[href="#searchbox"]
                        span.icon-salient-search[aria-hidden="true"]
                ul.sf-menu
                  li#menu-item-3130.menu-home.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3130
                    a[href="/"]
                      | Home
                  li#menu-item-3129.menu-port.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3129
                    a[href="portfolio.html"]
                      | Portfólio
                  li#menu-item-3157.menu-empresa.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3157
                    a[href="empresa.html"]
                      | Empresa
                  li#menu-item-3440.menu-clientes.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3440
                    a[href="clientes.html"]
                      | Clientes
                  li#menu-item-4052.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-4052
                    a[href="/blog/"]
                      | Blog
                  li#menu-item-3815.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3815
                    a[href="/orcamento/"]
                      | Orçamento
      .ns-loading-cover
    #mobile-menu
      .container
        ul
          li.menu-home.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3130
            a[href="/"]
              | Home
          li.menu-port.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3129
            a[href="portfolio.html"]
              | Portfólio
          li.menu-empresa.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3157
            a[href="empresa.html"]
              | Empresa
          li.menu-clientes.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3440
            a[href="clientes.html"]
              | Clientes
          li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-4052
            a[href="/blog/"]
              | Blog
          li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3815
            a[href="/orcamento/"]
              | Orçamento
          li#mobile-search
            form[action="http://devmaker.com.br" method="GET"]
              input[type="text" name="s" value="" placeholder="Search.."]
    #ajax-loading-screen[data-method="ajax"]
      span.loading-icon
        span.default-skin-loading-icon
    #ajax-content-wrap
      #page-header-wrap[style="height: 500px;"]
        #page-header-bg.not-loaded[data-alignment="center" data-parallax="1" data-height="500" style="background-color: #000; background-image: url(images/bg_clients.png); height: 500px;"]
          .container
            .row
              .col.span_6
                h1
                  | Contato
                span.subheader
                  | Deixe sua mensagem que nosso gerente de projetos terá o maior prazer em prestar maior esclarecimento sobre nossa empresa e sobre o desenvolvimento do seu projeto!
      .container-wrap
        .container.main-content
          .row
            #fws_5c25063094d82.wpb_row.vc_row-fluid.vc_row.full-width-section.standard_section[data-bg-mobile-hidden="" style="padding-top: 70px; padding-bottom: 60px; "]
              .row-bg-wrap
                .row-bg[style=""]
              .col.span_12.dark.left
                .vc_col-sm-8.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element
                      .wpb_wrapper
                        #wpcf7-f5-p26-o1.wpcf7[role="form" lang="pt-BR" dir="ltr"]
                          .screen-reader-response
                          form.wpcf7-form[name="" action="/contato/#wpcf7-f5-p26-o1" method="post" novalidate="novalidate"]
                            div[style="display: none;"]
                              input[type="hidden" name="_wpcf7" value="5"]
                              input[type="hidden" name="_wpcf7_version" value="4.2.1"]
                              input[type="hidden" name="_wpcf7_locale" value="pt_BR"]
                              input[type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5-p26-o1"]
                              input[type="hidden" name="_wpnonce" value="bc26976a82"]
                            .formulario.linha.uma-coluna
                              .coluna
                                h4.label
                                  | Seu Nome
                                p
                                  span.wpcf7-form-control-wrap.your-name
                                    input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required[type="text" name="your-name" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Nome completo"]
                            .formulario.linha.duas-colunas
                              .coluna
                                h4.label
                                  | E-mail
                                p
                                  span.wpcf7-form-control-wrap.your-email
                                    input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email[type="email" name="your-email" value="" size="40" aria-required="true" aria-invalid="false" placeholder="E-mail"]
                              .coluna
                                h4.label
                                  | Telefone
                                p
                                  span.wpcf7-form-control-wrap.your-tel
                                    input.wpcf7-form-control.wpcf7-text.wpcf7-tel.wpcf7-validates-as-tel[type="tel" name="your-tel" value="" size="40" aria-invalid="false" placeholder="Telefone"]
                            .formulario.linha.duas-colunas
                              .coluna
                                h4.label
                                  | Cidade
                                p
                                  span.wpcf7-form-control-wrap.text-city
                                    input.wpcf7-form-control.wpcf7-text[type="text" name="text-city" value="" size="40" aria-invalid="false" placeholder="Cidade"]
                              .coluna
                                h4.label
                                  | Você é Pessoa Física ou Jurídica?
                                p
                                  span.wpcf7-form-control-wrap.cpf-cnpj
                                    select.wpcf7-form-control.wpcf7-select[name="cpf-cnpj" aria-invalid="false"]
                                      option[value="Você é Pessoa Física ou Jurídica?"]
                                        | Você é Pessoa Física ou Jurídica?
                                      option[value="Pessoa Jurídica"]
                                        | Pessoa Jurídica
                                      option[value="Pessoa Física"]
                                        | Pessoa Física
                            .formulario.linha.uma-coluna
                              .coluna
                                h4.label
                                  | Assunto
                                p
                                  span.wpcf7-form-control-wrap.your-subject
                                    input.wpcf7-form-control.wpcf7-text[type="text" name="your-subject" value="" size="40" aria-invalid="false" placeholder="Assunto"]
                              .coluna
                                h4.label
                                  | Mensagem
                                p
                                  span.wpcf7-form-control-wrap.your-message
                                    textarea.wpcf7-form-control.wpcf7-textarea[name="your-message" cols="40" rows="10" aria-invalid="false" placeholder="Mensagem"]
                            p
                              input[type="hidden" name="_wpcf7_captcha_challenge_captcha-287" value="3536904263"]
                              img.wpcf7-form-control.wpcf7-captchac.wpcf7-captcha-captcha-287[width="72" height="24" alt="captcha" src="http://devmaker.com.br/wp-content/uploads/wpcf7_captcha/3536904263.png"]
                              span.wpcf7-form-control-wrap.captcha-287
                                input.wpcf7-form-control.wpcf7-captchar[type="text" name="captcha-287" value="" size="40" aria-invalid="false"]
                                .g-recaptcha[data-sitekey="6LeW8YcUAAAAAE9yalh7VogcGN5JabpWy_WnfzwL"]
                              p[style="text-align:center;"]
                                br
                              input.wpcf7-form-control.wpcf7-submit[type="submit" value="Enviar"]
                            input#ct_checkjs_cf7_f1b6f2857fb6d44dd73c7041e0aa0f19[type="hidden" name="ct_checkjs_cf7" value="0"]
                            script[type="text/javascript"]
                              | setTimeout(function(){var ct_input_name = 'ct_checkjs_cf7_f1b6f2857fb6d44dd73c7041e0aa0f19';if (document.getElementById(ct_input_name) !== null) {var ct_input_value = document.getElementById(ct_input_name).value;document.getElementById(ct_input_name).value = document.getElementById(ct_input_name).value.replace(ct_input_value, '342241091');}}, 1000);
                            .wpcf7-response-output.wpcf7-display-none
                .vc_col-sm-4.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element
                      .wpb_wrapper
                        h2
                          | Mãos a obra!
                        p
                          | Sua ideia já está estruturada?
                        p
                          | Faltam alguns pontos para definir?
                        p
                          | Quer saber mais sobre o mundo mobile?
                        p
                          |  
                        h2
                          | Entre em contato conosco!
                        p
                          | Nós teremos o maior prazer em ajudar sua empresa a estruturar sua ideia e assim, coloca-la na palma da sua mão!
                        p
                          |  
                    .divider[style="height: 20px;"]
                    .wpb_text_column.wpb_content_element
                      .wpb_wrapper
                        p
                          strong
                            | São Paulo
                        p
                          | Endereço: Avenida Cidade Jardim, 400, 7° e 20° Andares – Jardim
                        p
                          | Telefone:
                          b

                          a[href="tel:+55 11 3818 0916" target="_blank"]
                            | (11) 3818-0916
                        p
                          strong
                            | Curitiba
                        p
                          | Endereço: Alameda Dr. Carlos de Carvalho, 771 – 7° Andar – Batel
                        p
                          | Telefone:
                          a[href="tel:%2B55%20%2841%29%203348-8696" target="_blank"]
                            | (41) 3348-8696
                    .wpb_text_column.wpb_content_element
                      .wpb_wrapper
                        p
                          b
                            | E-mail
                          | : contato@devmaker.com.br
            #fws_5c25063098621.wpb_row.vc_row-fluid.vc_row.full-width-content.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
              .row-bg-wrap
                .row-bg[style=""]
              .col.span_12.dark.left
                .vc_col-sm-12.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    #map_5c25063098be2.nectar-google-map[style="height: 400px;" data-dark-color-scheme="" data-ultra-flat="" data-greyscale="1" data-extra-color="" data-enable-animation="1" data-enable-zoom="1" data-zoom-level="18" data-center-lat="-23.600544" data-center-lng="-46.6656213" data-marker-img="images/pin_dev.png"]
                    .map_5c25063098be2.map-marker-list
                      .map-marker[data-lat="-23.600544" data-lng="-46.6656213" data-mapinfo="DevMaker Apps, Av. Sabiá, 388 - Indianópolis, São Paulo - SP"]
      a.home.cta.orcamento[href="/quanto-custa-criar-um-aplicativo" target="_blank" title="Descubra agora!"]
        span
          | Quanto custa criar um aplicativo?

    script[type="text/javascript" src="javascripts/contato_footer.js"]
