
    #header-space
    #header-outer.transparent[data-has-menu="true" data-transparent-header="true" data-remove-border="false" data-user-set-bg="#ffffff" data-format="default" data-cart="false" data-transparency-option="" data-shrink-num="6" data-full-width="false" data-using-secondary="0" data-using-logo="1" data-logo-height="52" data-padding="28" data-header-resize="1"]
      #search-outer.nectar
        #search
          .container
            #search-box
              .col.span_12
                form[action="http://devmaker.com.br" method="GET"]
                  input#s[type="text" name="s" value="Start Typing..." data-placeholder="Start Typing..."]
            #close
              a[href="#"]
                span.icon-salient-x[aria-hidden="true"]
      header#top
        .container
          .row
            .col.span_3
              a#logo[href="index.html"]
                img.default-logo.dark-version[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="images/logoDark.png"]
                img.retina-logo.dark-version[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="images/logoDark@2x.png"]
                img.starting-logo.default-logo[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="images/logoDevMaker.png"]
                img.retina-logo.starting-logo[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="images/logoDevMaker@2x.png"]
            .col.span_9.col_last
              a#toggle-nav[href="#mobilemenu"]
                i.icon-reorder
              nav
                ul.buttons
                  li
                    span
                      a[href="#" title="Português" alt="Português" target="_blank"]
                        | BR
                      | /
                      a[href="#" title="English" alt="English" target="_blank"]
                        | EN
                  li#search-btn
                    div
                      a[href="#searchbox"]
                        span.icon-salient-search[aria-hidden="true"]
                ul.sf-menu
                  li#menu-item-3130.menu-home.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3130
                    a[href="/"]
                      | Home
                  li#menu-item-3129.menu-port.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3129
                    a[href="portfolio.html"]
                      | Portfólio
                  li#menu-item-3157.menu-empresa.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-704.current_page_item.menu-item-3157
                    a[href="empresa.html"]
                      | Empresa
                  li#menu-item-3440.menu-clientes.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3440
                    a[href="clientes.html"]
                      | Clientes
                  li#menu-item-4052.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-4052
                    a[href="/blog/"]
                      | Blog
                  li#menu-item-3815.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3815
                    a[href="/orcamento/"]
                      | Orçamento
      .ns-loading-cover
    #mobile-menu
      .container
        ul
          li.menu-home.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3130
            a[href="/"]
              | Home
          li.menu-port.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3129
            a[href="portfolio.html"]
              | Portfólio
          li.menu-empresa.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-704.current_page_item.menu-item-3157
            a[href="empresa.html"]
              | Empresa
          li.menu-clientes.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3440
            a[href="clientes.html"]
              | Clientes
          li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-4052
            a[href="/blog/"]
              | Blog
          li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3815
            a[href="/orcamento/"]
              | Orçamento
          li#mobile-search
            form[action="http://devmaker.com.br" method="GET"]
              input[type="text" name="s" value="" placeholder="Search.."]
    #ajax-loading-screen[data-method="ajax"]
      span.loading-icon
        span.default-skin-loading-icon
    #ajax-content-wrap
      #page-header-wrap[style="height: 500px;"]
        #page-header-bg.not-loaded[data-alignment="center" data-parallax="1" data-height="500" style="background-color: #000; background-image: url(images/empresa_header.png); height: 500px;"]
          .container
            .row
              .col.span_6
                h1
                  | Empresa de Desenvolvimento de Aplicativos
                span.subheader
                  | Uma empresa referência em inovação tecnológica voltada para o desenvolvimento mobile, há 5 anos trabalhando sempre com honestidade, comprometimento, respeito e ética!
      .container-wrap
        .container.main-content
          .row
            #fws_5c2500138dfd7.wpb_row.vc_row-fluid.vc_row.standard_section.empresa.somos-uma-empresa[data-bg-mobile-hidden="" style="padding-top: 80px; padding-bottom: 5px; "]
              .row-bg-wrap
                .row-bg[style=""]
              .col.span_12.dark.left
                .vc_col-sm-2.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element
                      .wpb_wrapper

                .vc_col-sm-8.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element
                      .wpb_wrapper
                        h2
                          | Quem somos
                        p
                          | A DevMaker é uma empresa especializada no desenvolvimento de aplicativos mobile nas plataformas iOS (iPhone) e Android.
                        p
                          | Criada em 2011 em Curitiba, a DevMaker tornou-se rapidamente referência em tecnologia e inovação, tendo desenvolvido até hoje mais de 350 aplicativos para empresas dos mais diversos setores e portes.
                        p
                          | Com um time de profissionais altamente qualificados, a empresa atende todo o Brasil com soluções modernas que transformam as ideias dos clientes em aplicativos práticos, funcionais e intuitivos.
                        p
                          | Entre seus cases de sucesso estão aplicativos desenvolvidos para empresas líderes do mercado nacional, como: Só Carrão, Decathlon, Chaves na Mão, TIM, Uninter, RACCO, e Rádios Globo, CBN e Transamérica, sendo que alguns contabilizam mais de 100 mil usuários.
                        p
                          | Na DevMaker, o desenvolvimento de aplicativos mobile é realizado de forma inteligente e descomplicada, buscando a satisfação e acima de tudo resultados positivos para os negócios de seus clientes.
                        p
                          | Seu foco é a Experiência do Usuário. E sua política de qualidade garante alta qualidade e técnica nos produtos desenvolvidos, além de comprometimento, respeito e ética com os clientes.
                        p
                          |  
                        h2
                          | História
                        p
                          | A DevMaker foi criada em 2011 pelo curitibano Ricardo Korobinski, que após atuar em uma empresa de tecnologia mobile, decidiu abrir seu próprio negócio. Foram três anos trabalhando em casa até conquistar capital para montar um escritório formal. A mudança acompanhou a explosão do mercado de aplicativos em 2014. Assim, a DevMaker mudou-se para uma sala comercial no centro de Curitiba (PR), onde aumentou a equipe e ganhou visibilidade no mercado tecnológico.
                        p
                          | Em 2016, a DevMaker recebeu um aporte de um grupo de investidores que possibilitou a expansão de sua atuação. A empresa passou a atender em um novo escritório com 300 m2 no bairro Batel e através de uma filial em São Paulo, capital.
                        p
                          | O time da DevMaker também cresceu. São profissionais especializados da área de design e tecnologia que estão a postos para tirar a sua ideia de aplicativo do papel.
                    .img-with-aniamtion-wrap.center
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/14691139_1164929223589546_4768230643948945979_n.jpg" alt=""]
                    .img-with-aniamtion-wrap.center
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/teste2.png" alt="empresa de desenvolvimento de aplicativos"]
                    .wpb_text_column.wpb_content_element
                      .wpb_wrapper
                        p[style="text-align: center;"]
                          a.nectar-button.large.accent-color.regular-button.btn-orcamento[style="visibility: visible;" href="/orcamento/" data-color-override="false" data-hover-color-override="false" data-hover-text-color-override="#fff"]
                            | Solicite um Orçamento
            #fws_5c2500138fc61.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 40px; padding-bottom: 40px; "]
              .row-bg-wrap
                .row-bg[style=""]
              .col.span_12.dark.left
                .vc_col-sm-2.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element
                      .wpb_wrapper

                .vc_col-sm-8.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element.empresa.por-que-aplicativos
                      .wpb_wrapper
                        h2
                          | Por que uma Empresa de Desenvolvimento de Aplicativos?
                        p
                          span[style="font-weight: 400; margin-bottom: 40px;"]
                            | Atualmente, os aplicativos mobile estão dominando o mercado tecnológico e a tendência é o mercado crescer cada vez mais. Um aplicativo tem funções que facilitam a sua vida onde quer que você esteja. A DevMaker é uma empresa de desenvolvimento de aplicativos a qual foca projetos de qualidade, responsabilidade e design moderno. Nossa maior meta é realizar as ideias de nossos clientes em tecnologia mobile, para que assim, seus objetivos sejam alcançados de forma inteligente e descomplicada, proporcionando satisfação e resultados. Nossa empresa de desenvolvimento de aplicativos sempre está de portas abertas para receber a ideia de nossos clientes e colocá-las em prática.
                    .wpb_text_column.wpb_content_element
                      .wpb_wrapper
                        p[style="text-align: center;"]
                          a.nectar-button.large.accent-color.regular-button.btn-portfolio[style="visibility: visible;" href="/portfolio/" data-color-override="false" data-hover-color-override="false" data-hover-text-color-override="#fff"]
                            | Conheça nosso Portfólio
            #fws_5c250013907d3.wpb_row.vc_row-fluid.vc_row.full-width-section.standard_section[data-bg-mobile-hidden="" style="padding-top: 60px; padding-bottom: 60px; "]
              .row-bg-wrap
                .row-bg.using-bg-color[style="background-color: #136e5e; "]
              .col.span_12.dark.left
                .vc_col-sm-12.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element
                      .wpb_wrapper
                        h3[style="text-align: center;"]
                          span[style="color: #ffffff;"]
                            | Envie um e-mail para nosso RH (rh@devmaker.com.br) com seu portfólio para que possamos avaliar.
                        p[style="text-align: center;"]
                          a.nectar-button.large.see-through-2.btn-trabalhe[style="visibility: visible; color: #ffffff; border-color: rgba(255, 255, 255, 0.75); background-color: transparent;" href="http://devmaker.com.br/trabalhe-conosco/" target="_blank" data-color-override="#ffffff" data-hover-color-override="#ffffff" data-hover-text-color-override="#00c4a7"]
                            | Trabalhe com a gente
      a.home.cta.orcamento[href="/quanto-custa-criar-um-aplicativo/" target="_blank" title="Descubra agora!"]
        span
          | Quanto custa criar um aplicativo?
    / javascript
    script type="text/javascript" src="javascripts/empresa_footer.js"
