|  <!doctype html>
html[lang="pt-BR" prefix="og: http://ogp.me/ns#"]
  head
    script[async src="https://www.googletagmanager.com/gtag/js?id=AW-878642468"]
    script
      |  window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-878642468');
    script[src="//load.sumome.com/" data-sumo-site-id="6c2882af1294b14ab7537cf895925d85e39d3a40a46ed9016b777a799b44e1f0" async="async"]
    script[type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/b56213a3-dd35-467f-97f6-6ca29f8c5dc8-loader.js"]
    meta[name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"]
    link[rel="shortcut icon" href="http://beta.devmaker.com.br/wp-content/uploads/2015/07/favicon.png"]
    title
      |  Desenvolvimento de Aplicativos Mobile - DevMaker
    script[type="text/javascript"]
      | function heateorSssLoadEvent(e) {var t=window.onload;if (typeof window.onload!="function") {window.onload=e}else{window.onload=function() {t();e()}}}; var heateorSssSharingAjaxUrl = 'http://devmaker.com.br/wp-admin/admin-ajax.php', heateorSssCloseIconPath = 'http://devmaker.com.br/wp-content/plugins/sassy-social-share/public/../images/close.png', heateorSssPluginIconPath = 'http://devmaker.com.br/wp-content/plugins/sassy-social-share/public/../images/logo.png', heateorSssHorizontalSharingCountEnable = 0, heateorSssVerticalSharingCountEnable = 0, heateorSssSharingOffset = -10;var heateorSssUrlCountFetched = [], heateorSssSharesText = 'Shares', heateorSssShareText = 'Share';function heateorSssPopup(e) {window.open(e,"popUpWindow","height=400,width=600,left=400,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes")}
    style[type="text/css"]
      |  .heateor_sss_horizontal_sharing .heateorSssSharing{ color: #fff; border-width: 0px; border-style: solid; border-color: transparent; } .heateor_sss_horizontal_sharing .heateorSssTCBackground{ color:#666; } .heateor_sss_horizontal_sharing .heateorSssSharing:hover{ border-color: transparent; } .heateor_sss_vertical_sharing .heateorSssSharing{ color: #fff; border-width: 0px; border-style: solid; border-color: transparent; } .heateor_sss_vertical_sharing .heateorSssTCBackground{ color:#666; } .heateor_sss_vertical_sharing .heateorSssSharing:hover{ border-color: transparent; } @media screen and (max-width:783px) {.heateor_sss_vertical_sharing{display:none!important}}
    meta[name="description" content="Empresa focada em desenvolvimento de aplicativos mobile. Referência em desenvolvimento Android e iOS. Confira aqui e saiba mais sobre a empresa e nossos cases."]
    meta[name="robots" content="noodp"]
    link[rel="canonical" href="http://devmaker.com.br/"]
    meta[property="og:locale" content="pt_BR"]
    meta[property="og:type" content="website"]
    meta[property="og:title" content="Desenvolvimento de Aplicativos Mobile - DevMaker"]
    meta[property="og:description" content="Empresa focada em desenvolvimento de aplicativos mobile. Referência em desenvolvimento Android e iOS. Confira aqui e saiba mais sobre a empresa e nossos cases."]
    meta[property="og:url" content="http://devmaker.com.br/"]
    meta[property="og:site_name" content="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps."]
    meta[property="og:image" content="http://devmaker.com.br/wp-content/uploads/2013/06/O-QUE-ESTAu0304O-FALANDO.png"]
    meta[property="og:image" content="http://devmaker.com.br/wp-content/uploads/2013/06/FALE-CONOSCO.png"]
    meta[name="twitter:card" content="summary"]
    meta[name="twitter:description" content="Empresa focada em desenvolvimento de aplicativos mobile. Referência em desenvolvimento Android e iOS. Confira aqui e saiba mais sobre a empresa e nossos cases."]
    meta[name="twitter:title" content="Desenvolvimento de Aplicativos Mobile - DevMaker"]
    meta[name="twitter:image" content="http://devmaker.com.br/wp-content/uploads/2013/06/O-QUE-ESTAu0304O-FALANDO.png"]
    script[type="application/ld+json"]
      | {"@context":"http:\/\/schema.org","@type":"WebSite","url":"http:\/\/devmaker.com.br\/","name":"Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps.","potentialAction":{"@type":"SearchAction","target":"http:\/\/devmaker.com.br\/?s={search_term_string}","query-input":"required name=search_term_string"}}
    link[rel="alternate" type="application/rss+xml" title="Feed de Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps. &raquo;" href="http://devmaker.com.br/feed/"]
    link[rel="alternate" type="application/rss+xml" title="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps. &raquo;  Feed de comentários" href="http://devmaker.com.br/comments/feed/"]
    link[rel="alternate" type="application/rss+xml" title="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps. &raquo; Home  Feed de comentários" href="http://devmaker.com.br/home/feed/"]
    script[type="text/javascript"]
      |  window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/devmaker.com.br\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.4.17"}}; !function(a,b,c){function d(a){var c,d,e,f=b.createElement("canvas"),g=f.getContext&&f.getContext("2d"),h=String.fromCharCode;return g&&g.fillText?(g.textBaseline="top",g.font="600 32px Arial","flag"===a?(g.fillText(h(55356,56806,55356,56826),0,0),f.toDataURL().length>3e3):"diversity"===a?(g.fillText(h(55356,57221),0,0),c=g.getImageData(16,16,1,1).data,g.fillText(h(55356,57221,55356,57343),0,0),c=g.getImageData(16,16,1,1).data,e=c[0]+","+c[1]+","+c[2]+","+c[3],d!==e):("simple"===a?g.fillText(h(55357,56835),0,0):g.fillText(h(55356,57135),0,0),0!==g.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag"),unicode8:d("unicode8"),diversity:d("diversity")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag&&c.supports.unicode8&&c.supports.diversity||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    style[type="text/css"]
      |  img.wp-smiley, img.emoji { display: inline !important; border: none !important; box-shadow: none !important; height: 1em !important; width: 1em !important; margin: 0 .07em !important; vertical-align: -0.1em !important; background: none !important; padding: 0 !important; }
    link#lfb-reset-css[rel="stylesheet" href="http://devmaker.com.br/wp-content/plugins/WP_Estimation_Form/assets/css/reset.min.css?ver=9.506" type="text/css" media="all"]
    link#lfb-bootstrap-css[rel="stylesheet" href="http://devmaker.com.br/wp-content/plugins/WP_Estimation_Form/assets/css/bootstrap.min.css?ver=9.506" type="text/css" media="all"]
    link#lfb-flat-ui-css[rel="stylesheet" href="http://devmaker.com.br/wp-content/plugins/WP_Estimation_Form/assets/css/flat-ui_frontend.min.css?ver=9.506" type="text/css" media="all"]
    link#lfb-colpick-css[rel="stylesheet" href="http://devmaker.com.br/wp-content/plugins/WP_Estimation_Form/assets/css/colpick.min.css?ver=9.506" type="text/css" media="all"]
    link#lfb-dropzone-css[rel="stylesheet" href="http://devmaker.com.br/wp-content/plugins/WP_Estimation_Form/assets/css/dropzone.min.css?ver=9.506" type="text/css" media="all"]
    link#lfb-estimationpopup-css[rel="stylesheet" href="http://devmaker.com.br/wp-content/plugins/WP_Estimation_Form/assets/css/lfb_forms.min.css?ver=9.506" type="text/css" media="all"]
    link#contact-form-7-css[rel="stylesheet" href="http://devmaker.com.br/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.2.1" type="text/css" media="all"]
    link#rgs-css[rel="stylesheet" href="http://devmaker.com.br/wp-content/themes/salient/css/rgs.css?ver=5.5.4" type="text/css" media="all"]
    link#font-awesome-css[rel="stylesheet" href="http://devmaker.com.br/wp-content/themes/salient/css/font-awesome.min.css?ver=4.4.17" type="text/css" media="all"]
    link#main-styles-css[rel="stylesheet" href="http://devmaker.com.br/wp-content/themes/salient/style.css?ver=5.5.4" type="text/css" media="all"]
    link#responsive-css[rel="stylesheet" href="http://devmaker.com.br/wp-content/themes/salient/css/responsive.css?ver=5.5.4" type="text/css" media="all"]
    link#mediaelement-css[rel="stylesheet" href="http://devmaker.com.br/wp-includes/js/mediaelement/mediaelementplayer.min.css?ver=2.18.1" type="text/css" media="all"]
    link#wp-mediaelement-css[rel="stylesheet" href="http://devmaker.com.br/wp-includes/js/mediaelement/wp-mediaelement.css?ver=4.4.17" type="text/css" media="all"]
    link#heateor_sss_frontend_css-css[rel="stylesheet" href="http://devmaker.com.br/wp-content/plugins/sassy-social-share/public/css/sassy-social-share-public.css?ver=2.4.1" type="text/css" media="all"]
    link#heateor_sss_sharing_default_svg-css[rel="stylesheet" href="http://devmaker.com.br/wp-content/plugins/sassy-social-share/public/../admin/css/sassy-social-share-svg.css?ver=2.4.1" type="text/css" media="all"]
    link#js_composer_front-css[rel="stylesheet" href="http://devmaker.com.br/wp-content/plugins/js_composer_salient/assets/css/js_composer.css?ver=4.3.5" type="text/css" media="all"]
    link#js_composer_custom_css-css[rel="stylesheet" href="http://devmaker.com.br/wp-content/uploads/js_composer/custom.css?ver=4.3.5" type="text/css" media="screen"]
    link#sccss_style-css[rel="stylesheet" href="http://devmaker.com.br?sccss=1&#038;ver=4.4.17" type="text/css" media="all"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-includes/js/jquery/jquery.js?ver=1.11.3"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-includes/js/jquery/ui/mouse.min.js?ver=1.11.4"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-includes/js/jquery/ui/slider.min.js?ver=1.11.4"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-includes/js/jquery/ui/position.min.js?ver=1.11.4"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-includes/js/jquery/ui/datepicker.min.js?ver=1.11.4"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/plugins/WP_Estimation_Form/assets/js/jquery.ui.touch-punch.min.js?ver=9.506"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/plugins/WP_Estimation_Form/assets/js/colpick.min.js?ver=9.506"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/plugins/WP_Estimation_Form/assets/js/dropzone.min.js?ver=9.506"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/plugins/WP_Estimation_Form/assets/js/lfb_frontend.min.js?ver=9.506"]
    script[type="text/javascript"]
      |  /*
      |  */ var ctPublic = {"gdpr_forms":[],"gdpr_text":"By using this form you agree with the storage and processing of your data by using the Privacy Policy on this website."}; /*
      |  */
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/plugins/cleantalk-spam-protect/js/apbct-public--gdpr.js?ver=5.97"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/themes/salient/js/modernizr.js?ver=2.6.2"]
    link[rel="https://api.w.org/" href="http://devmaker.com.br/wp-json/"]
    link[rel="EditURI" type="application/rsd+xml" title="RSD" href="http://devmaker.com.br/xmlrpc.php?rsd"]
    link[rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://devmaker.com.br/wp-includes/wlwmanifest.xml"]
    meta[name="generator" content="WordPress 4.4.17"]
    link[rel="shortlink" href="http://devmaker.com.br/"]
    script[type="text/javascript"]
      |  window._wp_rp_static_base_url = 'https://rp.zemanta.com/static/'; window._wp_rp_wp_ajax_url = "http://devmaker.com.br/wp-admin/admin-ajax.php"; window._wp_rp_plugin_version = '3.6'; window._wp_rp_post_id = '551'; window._wp_rp_num_rel_posts = '3'; window._wp_rp_thumbnails = true; window._wp_rp_post_title = 'Home'; window._wp_rp_post_tags = [];
    link[rel="stylesheet" href="http://devmaker.com.br/wp-content/plugins/related-posts/static/themes/vertical.css?version=3.6"]
    style[type="text/css"]
      |  .related_post_title { } ul.related_post { } ul.related_post li { } ul.related_post li a { } ul.related_post li img { }
    style[type="text/css"]
      | body a{color:#1ba18b;}header#top nav ul li a:hover,header#top nav .sf-menu li.sfHover > a,header#top nav .sf-menu li.current-menu-item > a,header#top nav .sf-menu li.current_page_item > a .sf-sub-indicator i,header#top nav .sf-menu li.current_page_ancestor > a .sf-sub-indicator i,header#top nav ul li a:hover,header#top nav .sf-menu li.sfHover > a,header#top nav .sf-menu li.current_page_ancestor > a,header#top nav .sf-menu li.current-menu-ancestor > a,header#top nav .sf-menu li.current_page_item > a,body header#top nav .sf-menu li.current_page_item > a .sf-sub-indicator [class^="icon-"],header#top nav .sf-menu li.current_page_ancestor > a .sf-sub-indicator [class^="icon-"],header#top nav .sf-menu li.current-menu-ancestor > a,header#top nav .sf-menu li.current_page_item > a,.sf-menu li ul li.sfHover > a .sf-sub-indicator [class^="icon-"],ul.sf-menu > li > a:hover > .sf-sub-indicator i,ul.sf-menu > li > a:active > .sf-sub-indicator i,ul.sf-menu > li.sfHover > a > .sf-sub-indicator i,.sf-menu ul li.current_page_item > a,.sf-menu ul li.current-menu-ancestor > a,.sf-menu ul li.current_page_ancestor > a,.sf-menu ul a:focus,.sf-menu ul a:hover,.sf-menu ul a:active,.sf-menu ul li:hover > a,.sf-menu ul li.sfHover > a,.sf-menu li ul li a:hover,.sf-menu li ul li.sfHover > a,#footer-outer a:hover,.recent-posts .post-header a:hover,article.post .post-header a:hover,article.result a:hover,article.post .post-header h2 a,.single article.post .post-meta a:hover,.comment-list .comment-meta a:hover,label span,.wpcf7-form p span,.icon-3x[class^="icon-"],.icon-3x[class*=" icon-"],.icon-tiny[class^="icon-"],.circle-border,article.result .title a,.home .blog-recent .col .post-header a:hover,.home .blog-recent .col .post-header h3 a,#single-below-header a:hover,header#top #logo:hover,.sf-menu > li.current_page_ancestor > a > .sf-sub-indicator [class^="icon-"],.sf-menu > li.current-menu-ancestor > a > .sf-sub-indicator [class^="icon-"],body #mobile-menu li.open > a [class^="icon-"],.pricing-column h3,.comment-author a:hover,.project-attrs li i,#footer-outer #copyright li a i:hover,.col:hover > [class^="icon-"].icon-3x.accent-color.alt-style.hovered,.col:hover > [class*=" icon-"].icon-3x.accent-color.alt-style.hovered,#header-outer .widget_shopping_cart .cart_list a,.woocommerce .star-rating,.woocommerce-page table.cart a.remove,.woocommerce form .form-row .required,.woocommerce-page form .form-row .required,body #header-secondary-outer #social a:hover i,.woocommerce ul.products li.product .price,body .twitter-share:hover i,.twitter-share.hovered i,body .linkedin-share:hover i,.linkedin-share.hovered i,body .google-plus-share:hover i,.google-plus-share.hovered i,.pinterest-share:hover i,.pinterest-share.hovered i,.facebook-share:hover i,.facebook-share.hovered i,.woocommerce-page ul.products li.product .price,.nectar-milestone .number.accent-color,header#top nav > ul > li.megamenu > ul > li > a:hover,header#top nav > ul > li.megamenu > ul > li.sfHover > a,body #portfolio-nav a:hover i,span.accent-color,.nectar-love:hover i,.nectar-love.loved i,.portfolio-items .nectar-love:hover i,.portfolio-items .nectar-love.loved i,body .hovered .nectar-love i,header#top nav ul #search-btn a:hover span,header#top nav ul .slide-out-widget-area-toggle a:hover span,#search-outer #search #close a span:hover,.carousel-wrap[data-full-width="true"] .carousel-heading a:hover i,#search-outer .ui-widget-content li:hover a .title,#search-outer .ui-widget-content .ui-state-hover .title,#search-outer .ui-widget-content .ui-state-focus .title,.portfolio-filters-inline .container ul li a.active,body [class^="icon-"].icon-default-style,.team-member a.accent-color:hover,.ascend .comment-list .reply a,.wpcf7-form .wpcf7-not-valid-tip,.text_on_hover.product .add_to_cart_button{color:#1ba18b!important;}.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.accent-color.alt-style.hovered,body .col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.accent-color.alt-style.hovered,.ascend #header-outer:not(.transparent) .cart-outer:hover .cart-menu-wrap:not(.has_products) .icon-salient-cart{color:#1ba18b!important;}.orbit-wrapper div.slider-nav span.right,.orbit-wrapper div.slider-nav span.left,.flex-direction-nav a,.jp-play-bar,.jp-volume-bar-value,.jcarousel-prev:hover,.jcarousel-next:hover,.portfolio-items .col[data-default-color="true"] .work-info-bg,.portfolio-items .col[data-default-color="true"] .bottom-meta,.portfolio-filters a,.portfolio-filters #sort-portfolio,.project-attrs li span,.progress li span,.nectar-progress-bar span,#footer-outer #footer-widgets .col .tagcloud a:hover,#sidebar .widget .tagcloud a:hover,article.post .more-link span:hover,article.post.quote .post-content .quote-inner,article.post.link .post-content .link-inner,#pagination .next a:hover,#pagination .prev a:hover,.comment-list .reply a:hover,input[type=submit]:hover,input[type="button"]:hover,#footer-outer #copyright li a.vimeo:hover,#footer-outer #copyright li a.behance:hover,.toggle.open h3 a,.tabbed > ul li a.active-tab,[class*=" icon-"],.icon-normal,.bar_graph li span,.nectar-button[data-color-override="false"].regular-button,.nectar-button.tilt.accent-color,body .swiper-slide .button.transparent_2 a.primary-color:hover,#footer-outer #footer-widgets .col input[type="submit"],.carousel-prev:hover,.carousel-next:hover,.blog-recent .more-link span:hover,.post-tags a:hover,.pricing-column.highlight h3,#to-top:hover,#to-top.dark:hover,#pagination a.page-numbers:hover,#pagination span.page-numbers.current,.single-portfolio .facebook-share a:hover,.single-portfolio .twitter-share a:hover,.single-portfolio .pinterest-share a:hover,.single-post .facebook-share a:hover,.single-post .twitter-share a:hover,.single-post .pinterest-share a:hover,.mejs-controls .mejs-time-rail .mejs-time-current,.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current,.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,article.post.quote .post-content .quote-inner,article.post.link .post-content .link-inner,article.format-status .post-content .status-inner,article.post.format-aside .aside-inner,body #header-secondary-outer #social li a.behance:hover,body #header-secondary-outer #social li a.vimeo:hover,#sidebar .widget:hover [class^="icon-"].icon-3x,.woocommerce-page div[data-project-style="text_on_hover"] .single_add_to_cart_button,article.post.quote .content-inner .quote-inner .whole-link,.iosSlider .prev_slide:hover,.iosSlider .next_slide:hover,body [class^="icon-"].icon-3x.alt-style.accent-color,body [class*=" icon-"].icon-3x.alt-style.accent-color,#slide-out-widget-area,#header-outer .widget_shopping_cart a.button,#header-outer a.cart-contents .cart-wrap span,.swiper-slide .button.solid_color a,.swiper-slide .button.solid_color_2 a,.portfolio-filters,button[type=submit]:hover,#buddypress button:hover,#buddypress a.button:hover,#buddypress ul.button-nav li.current a,header#top nav ul .slide-out-widget-area-toggle a:hover i.lines,header#top nav ul .slide-out-widget-area-toggle a:hover i.lines:after,header#top nav ul .slide-out-widget-area-toggle a:hover i.lines:before,#buddypress a.button:focus,.text_on_hover.product a.added_to_cart,.woocommerce div.product .woocommerce-tabs .full-width-content ul.tabs li a:after,.woocommerce div[data-project-style="text_on_hover"] .cart .quantity input.minus,.woocommerce div[data-project-style="text_on_hover"] .cart .quantity input.plus,.woocommerce .span_4 input[type="submit"].checkout-button{background-color:#1ba18b!important;}.col:hover > [class^="icon-"].icon-3x:not(.alt-style).accent-color.hovered,.col:hover > [class*=" icon-"].icon-3x:not(.alt-style).accent-color.hovered,body .nectar-button.see-through-2[data-hover-color-override="false"]:hover,.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x:not(.alt-style).accent-color.hovered,.col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x:not(.alt-style).accent-color.hovered{background-color:#1ba18b!important;}.tabbed > ul li a.active-tab,body .recent_projects_widget a:hover img,.recent_projects_widget a:hover img,#sidebar #flickr a:hover img,body .nectar-button.see-through-2[data-hover-color-override="false"]:hover,#footer-outer #flickr a:hover img,#featured article .post-title a:hover,body #featured article .post-title a:hover,div.wpcf7-validation-errors{border-color:#1ba18b!important;}.default-loading-icon:before{border-top-color:#1ba18b!important;}#header-outer a.cart-contents span:before{border-color:transparent #1ba18b!important;}.col:not(#post-area):not(.span_12):not(#sidebar):hover .hovered .circle-border,#sidebar .widget:hover .circle-border{border-color:#1ba18b;}.gallery a:hover img{border-color:#1ba18b!important;}@media only screen and (min-width :1px) and (max-width :1000px){body #featured article .post-title > a{background-color:#1ba18b;}body #featured article .post-title > a{border-color:#1ba18b;}}.nectar-button.regular-button.extra-color-1,.nectar-button.tilt.extra-color-1{background-color:#f6653c!important;}.icon-3x[class^="icon-"].extra-color-1:not(.alt-style),.icon-tiny[class^="icon-"].extra-color-1,.icon-3x[class*=" icon-"].extra-color-1:not(.alt-style),.icon-3x[class*=" icon-"].extra-color-1:not(.alt-style) .circle-border,.woocommerce-page table.cart a.remove,#header-outer .widget_shopping_cart .cart_list li a.remove,#header-outer .woocommerce.widget_shopping_cart .cart_list li a.remove,.nectar-milestone .number.extra-color-1,span.extra-color-1,.team-member ul.social.extra-color-1 li a,.stock.out-of-stock,body [class^="icon-"].icon-default-style.extra-color-1,.team-member a.extra-color-1:hover{color:#f6653c!important;}.col:hover > [class^="icon-"].icon-3x.extra-color-1:not(.alt-style),.col:hover > [class*=" icon-"].icon-3x.extra-color-1:not(.alt-style).hovered,body .swiper-slide .button.transparent_2 a.extra-color-1:hover,body .col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-1:not(.alt-style).hovered,body .col:not(#post-area):not(#sidebar):not(.span_12):hover a [class*=" icon-"].icon-3x.extra-color-1:not(.alt-style).hovered,#sidebar .widget:hover [class^="icon-"].icon-3x.extra-color-1:not(.alt-style){background-color:#f6653c!important;}body [class^="icon-"].icon-3x.alt-style.extra-color-1,body [class*=" icon-"].icon-3x.alt-style.extra-color-1,[class*=" icon-"].extra-color-1.icon-normal,.extra-color-1.icon-normal,.bar_graph li span.extra-color-1,.nectar-progress-bar span.extra-color-1,#header-outer .widget_shopping_cart a.button,.woocommerce ul.products li.product .onsale,.woocommerce-page ul.products li.product .onsale,.woocommerce span.onsale,.woocommerce-page span.onsale,.woocommerce-page table.cart a.remove:hover,.swiper-slide .button.solid_color a.extra-color-1,.swiper-slide .button.solid_color_2 a.extra-color-1,.toggle.open.extra-color-1 h3 a{background-color:#f6653c!important;}.col:hover > [class^="icon-"].icon-3x.extra-color-1.alt-style.hovered,.col:hover > [class*=" icon-"].icon-3x.extra-color-1.alt-style.hovered,.no-highlight.extra-color-1 h3,.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-1.alt-style.hovered,body .col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-1.alt-style.hovered{color:#f6653c!important;}.col:not(#post-area):not(.span_12):not(#sidebar):hover .extra-color-1.hovered .circle-border,.woocommerce-page table.cart a.remove,#header-outer .woocommerce.widget_shopping_cart .cart_list li a.remove,#header-outer .woocommerce.widget_shopping_cart .cart_list li a.remove,#sidebar .widget:hover .extra-color-1 .circle-border,.woocommerce-page table.cart a.remove{border-color:#f6653c;}.pricing-column.highlight.extra-color-1 h3{background-color:#f6653c!important;}.nectar-button.regular-button.extra-color-2,.nectar-button.tilt.extra-color-2{background-color:#2AC4EA!important;}.icon-3x[class^="icon-"].extra-color-2:not(.alt-style),.icon-3x[class*=" icon-"].extra-color-2:not(.alt-style),.icon-tiny[class^="icon-"].extra-color-2,.icon-3x[class*=" icon-"].extra-color-2 .circle-border,.nectar-milestone .number.extra-color-2,span.extra-color-2,.team-member ul.social.extra-color-2 li a,body [class^="icon-"].icon-default-style.extra-color-2,.team-member a.extra-color-2:hover{color:#2AC4EA!important;}.col:hover > [class^="icon-"].icon-3x.extra-color-2:not(.alt-style).hovered,.col:hover > [class*=" icon-"].icon-3x.extra-color-2:not(.alt-style).hovered,body .swiper-slide .button.transparent_2 a.extra-color-2:hover,.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-2:not(.alt-style).hovered,.col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-2:not(.alt-style).hovered,#sidebar .widget:hover [class^="icon-"].icon-3x.extra-color-2:not(.alt-style){background-color:#2AC4EA!important;}body [class^="icon-"].icon-3x.alt-style.extra-color-2,body [class*=" icon-"].icon-3x.alt-style.extra-color-2,[class*=" icon-"].extra-color-2.icon-normal,.extra-color-2.icon-normal,.bar_graph li span.extra-color-2,.nectar-progress-bar span.extra-color-2,.woocommerce .product-wrap .add_to_cart_button.added,.woocommerce-message,.woocommerce-error,.woocommerce-info,.woocommerce .widget_price_filter .ui-slider .ui-slider-range,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range,.swiper-slide .button.solid_color a.extra-color-2,.swiper-slide .button.solid_color_2 a.extra-color-2,.toggle.open.extra-color-2 h3 a{background-color:#2AC4EA!important;}.col:hover > [class^="icon-"].icon-3x.extra-color-2.alt-style.hovered,.col:hover > [class*=" icon-"].icon-3x.extra-color-2.alt-style.hovered,.no-highlight.extra-color-2 h3,.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-2.alt-style.hovered,body .col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-2.alt-style.hovered{color:#2AC4EA!important;}.col:not(#post-area):not(.span_12):not(#sidebar):hover .extra-color-2.hovered .circle-border,#sidebar .widget:hover .extra-color-2 .circle-border{border-color:#2AC4EA;}.pricing-column.highlight.extra-color-2 h3{background-color:#2AC4EA!important;}.nectar-button.regular-button.extra-color-3,.nectar-button.tilt.extra-color-3{background-color:#333333!important;}.icon-3x[class^="icon-"].extra-color-3:not(.alt-style),.icon-3x[class*=" icon-"].extra-color-3:not(.alt-style),.icon-tiny[class^="icon-"].extra-color-3,.icon-3x[class*=" icon-"].extra-color-3 .circle-border,.nectar-milestone .number.extra-color-3,span.extra-color-3,.team-member ul.social.extra-color-3 li a,body [class^="icon-"].icon-default-style.extra-color-3,.team-member a.extra-color-3:hover{color:#333333!important;}.col:hover > [class^="icon-"].icon-3x.extra-color-3:not(.alt-style).hovered,.col:hover > [class*=" icon-"].icon-3x.extra-color-3:not(.alt-style).hovered,body .swiper-slide .button.transparent_2 a.extra-color-3:hover,.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-3:not(.alt-style).hovered,.col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-3:not(.alt-style).hovered,#sidebar .widget:hover [class^="icon-"].icon-3x.extra-color-3:not(.alt-style){background-color:#333333!important;}body [class^="icon-"].icon-3x.alt-style.extra-color-3,body [class*=" icon-"].icon-3x.alt-style.extra-color-3,.extra-color-3.icon-normal,[class*=" icon-"].extra-color-3.icon-normal,.bar_graph li span.extra-color-3,.nectar-progress-bar span.extra-color-3,.swiper-slide .button.solid_color a.extra-color-3,.swiper-slide .button.solid_color_2 a.extra-color-3,.toggle.open.extra-color-3 h3 a{background-color:#333333!important;}.col:hover > [class^="icon-"].icon-3x.extra-color-3.alt-style.hovered,.col:hover > [class*=" icon-"].icon-3x.extra-color-3.alt-style.hovered,.no-highlight.extra-color-3 h3,.col:not(#post-area):not(.span_12):not(#sidebar):hover [class^="icon-"].icon-3x.extra-color-3.alt-style.hovered,body .col:not(#post-area):not(.span_12):not(#sidebar):hover a [class*=" icon-"].icon-3x.extra-color-3.alt-style.hovered{color:#333333!important;}.col:not(#post-area):not(.span_12):not(#sidebar):hover .extra-color-3.hovered .circle-border,#sidebar .widget:hover .extra-color-3 .circle-border{border-color:#333333;}.pricing-column.highlight.extra-color-3 h3{background-color:#333333!important;}#footer-outer{background-color:#252525!important;}#footer-outer #footer-widgets{border-bottom:none!important;}#footer-outer #footer-widgets .col ul li{border-bottom:1px solid rgba(0,0,0,0.1)!important;}#footer-outer #footer-widgets .col .widget_recent_comments ul li{background-color:rgba(0,0,0,0.07)!important;border-bottom:0!important;}#footer-outer,#footer-outer a{color:#a0a0a0!important;}#footer-outer .widget h4,#footer-outer .col .widget_recent_entries span,#footer-outer .col .recent_posts_extra_widget .post-widget-text span{color:#777777!important;}#footer-outer #copyright,body{border:none!important;background-color:#121212!important;}#footer-outer #copyright li a i,#footer-outer #copyright p{color:#777777!important;}#call-to-action{background-color:#ECEBE9!important;}#call-to-action span{color:#4B4F52!important;}body #slide-out-widget-area-bg{background-color:rgba(0,0,0,0.8);}
    style[type="text/css"]
      |  #header-outer{padding-top:28px;}#header-outer #logo img{height:52px;}#header-outer[data-format="centered-menu-under-logo"] header#top #logo .starting-logo{margin-top:-69px;}header#top nav > ul > li > a{padding-bottom:44px;padding-top:16px;}#header-outer .cart-menu{padding-bottom:44px;padding-top:44px;}header#top nav > ul li#search-btn,header#top nav > ul li.slide-out-widget-area-toggle{padding-bottom:15px;padding-top:16px;}header#top .sf-menu > li.sfHover > ul{top:20px;}.sf-sub-indicator{height:20px;}#header-space{height:108px;}body[data-smooth-scrolling="1"] #full_width_portfolio .project-title.parallax-effect{top:108px;}body.single-product div.product .product_title{padding-right:0;}@media only screen and (min-width:1000px) and (max-width:1300px){.nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2,.nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2,.full-width-content .vc_span12 .swiper-slide .content h2{font-size:45px!important;line-height:51px!important;}.nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p,.nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p,.full-width-content .vc_span12 .swiper-slide .content p{font-size:18px!important;line-height:31.2px!important;}}@media only screen and (min-width :690px) and (max-width :1000px){.nectar-slider-wrap[data-full-width="true"] .swiper-slide .content h2,.nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content h2,.full-width-content .vc_span12 .swiper-slide .content h2{font-size:33px!important;line-height:39px!important;}.nectar-slider-wrap[data-full-width="true"] .swiper-slide .content p,.nectar-slider-wrap[data-full-width="boxed-full-width"] .swiper-slide .content p,.full-width-content .vc_span12 .swiper-slide .content p{font-size:13.2px!important;line-height:24px!important;}}@media only screen and (max-width :690px){.nectar-slider-wrap[data-full-width="true"][data-fullscreen="false"] .swiper-slide .content h2,.nectar-slider-wrap[data-full-width="boxed-full-width"][data-fullscreen="false"] .swiper-slide .content h2,.full-width-content .vc_span12 .nectar-slider-wrap[data-fullscreen="false"] .swiper-slide .content h2{font-size:15px!important;line-height:21px!important;}.nectar-slider-wrap[data-full-width="true"][data-fullscreen="false"] .swiper-slide .content p,.nectar-slider-wrap[data-full-width="boxed-full-width"][data-fullscreen="false"] .swiper-slide .content p,.full-width-content .vc_span12 .nectar-slider-wrap[data-fullscreen="false"] .swiper-slide .content p{font-size:7.68px!important;line-height:17.52px!important;}}#mobile-menu #mobile-search,header#top nav ul #search-btn{display:none!important;}.no-rgba #header-space{display:none;}@media only screen and (min-width:1000px){#header-space{display:none;}.nectar-slider-wrap.first-section,.parallax_slider_outer.first-section,.full-width-content.first-section,.parallax_slider_outer.first-section .swiper-slide .content,.nectar-slider-wrap.first-section .swiper-slide .content,#page-header-bg,.nder-page-header,#page-header-wrap,.full-width-section.first-section{margin-top:0!important;}body #page-header-bg,body #page-header-wrap{height:108px;}.swiper-container .slider-prev,.swiper-container .slider-next{top:52%!important;}.first-section .nectar-slider-loading .loading-icon{opacity:0}body #search-outer{z-index:100000;}#header-outer.transparent header#top #logo,#header-outer.transparent header#top #logo:hover{color:#ffffff!important;}#header-outer.transparent header#top nav > ul > li > a,#header-outer.transparent header#top nav ul #search-btn a span.icon-salient-search,#header-outer.transparent nav > ul > li > a > .sf-sub-indicator [class^="icon-"],#header-outer.transparent nav > ul > li > a > .sf-sub-indicator [class*=" icon-"],#header-outer.transparent .cart-menu .cart-icon-wrap .icon-salient-cart,.ascend #boxed #header-outer.transparent .cart-menu .cart-icon-wrap .icon-salient-cart{color:#ffffff!important;opacity:0.75!important;transition:opacity 0.2s linear,color 0.2s linear;}#header-outer.transparent header#top nav > ul > li > a:hover,#header-outer.transparent header#top nav .sf-menu > li.sfHover > a,#header-outer.transparent header#top nav .sf-menu > li.current_page_ancestor > a,#header-outer.transparent header#top nav .sf-menu > li.current-menu-item > a,#header-outer.transparent header#top nav .sf-menu > li.current-menu-ancestor > a,#header-outer.transparent header#top nav .sf-menu > li.current_page_item > a,#header-outer.transparent header#top nav > ul > li > a:hover > .sf-sub-indicator > i,#header-outer.transparent header#top nav > ul > li.sfHover > a > span > i,#header-outer.transparent header#top nav ul #search-btn a:hover span,#header-outer.transparent header#top nav ul .slide-out-widget-area-toggle a:hover span,#header-outer.transparent header#top nav .sf-menu > li.current-menu-item > a i,#header-outer.transparent header#top nav .sf-menu > li.current-menu-ancestor > a i,#header-outer.transparent .cart-outer:hover .icon-salient-cart,.ascend #boxed #header-outer.transparent .cart-outer:hover .cart-menu .cart-icon-wrap .icon-salient-cart,#header-outer.transparent.directional-nav-effect header#top nav > ul > li > a span.light,#header-outer.transparent.directional-nav-effect header#top nav > ul.buttons > li a span.light,#header-outer.transparent.directional-nav-effect .cart-menu .cart-icon-wrap span.light .icon-salient-cart,#header-outer.transparent.directional-nav-effect header#top nav ul #search-btn a span.light span.icon-salient-search{opacity:1!important;color:#ffffff!important;}#header-outer.transparent:not(.directional-nav-effect) header#top nav ul .slide-out-widget-area-toggle a i.lines,#header-outer.transparent:not(.directional-nav-effect) header#top nav ul .slide-out-widget-area-toggle a i.lines:before,#header-outer.transparent:not(.directional-nav-effect) header#top nav ul .slide-out-widget-area-toggle a i.lines:after,#header-outer.transparent.directional-nav-effect header#top nav ul .slide-out-widget-area-toggle a span.light .lines-button i,#header-outer.transparent.directional-nav-effect header#top nav ul .slide-out-widget-area-toggle a span.light .lines-button i:after,#header-outer.transparent.directional-nav-effect header#top nav ul .slide-out-widget-area-toggle a span.light .lines-button i:before{background-color:#ffffff!important;}#header-outer.transparent header#top nav ul .slide-out-widget-area-toggle a i.lines{opacity:0.75!important;}#header-outer.transparent.side-widget-open header#top nav ul .slide-out-widget-area-toggle a i.lines,#header-outer.transparent header#top nav ul .slide-out-widget-area-toggle a:hover i.lines,#header-outer.transparent header#top nav ul .slide-out-widget-area-toggle a:hover i.lines:before,#header-outer.transparent header#top nav ul .slide-out-widget-area-toggle a:hover i.lines:after{opacity:1!important;}}@media only screen and (min-width:1000px){.container,.woocommerce-tabs .full-width-content .tab-container{max-width:1425px;width:100%;margin:0 auto;padding:0 90px;}.swiper-slide .content{padding:0 90px;}body .container .container:not(.tab-container){width:100%!important;padding:0!important;}body .carousel-heading .container{padding:0 10px!important;}body .carousel-heading .container .carousel-next{right:10px;}body .carousel-heading .container .carousel-prev{right:35px;}.carousel-wrap[data-full-width="true"] .carousel-heading a.portfolio-page-link{left:90px;}.carousel-wrap[data-full-width="true"] .carousel-heading{margin-left:-20px;margin-right:-20px;}.carousel-wrap[data-full-width="true"] .carousel-next{right:90px!important;}.carousel-wrap[data-full-width="true"] .carousel-prev{right:115px!important;}.carousel-wrap[data-full-width="true"]{padding:0!important;}.carousel-wrap[data-full-width="true"] .caroufredsel_wrapper{padding:20px!important;}#search-outer #search #close a{right:90px;}#boxed,#boxed #header-outer,#boxed #header-secondary-outer,#boxed #page-header-bg[data-parallax="1"],#boxed #featured,#boxed .orbit > div,#boxed #featured article,.ascend #boxed #search-outer{max-width:1400px!important;width:90%!important;min-width:980px;}#boxed #search-outer #search #close a{right:0!important;}#boxed .container{width:92%;padding:0;}#boxed #footer-outer #footer-widgets,#boxed #footer-outer #copyright{padding-left:0;padding-right:0;}#boxed .carousel-wrap[data-full-width="true"] .carousel-heading a.portfolio-page-link{left:35px;}#boxed .carousel-wrap[data-full-width="true"] .carousel-next{right:35px!important;}#boxed .carousel-wrap[data-full-width="true"] .carousel-prev{right:60px!important;}}
    style[type="text/css"]
      |  @font-face{font-family:OpenSansLight;src:url('http://devmaker.com.br/wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Light-webfont.eot');src:url('http://devmaker.com.br/wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),url('http://devmaker.com.br/wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Light-webfont.woff') format('woff'),url('http://devmaker.com.br/wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Light-webfont.ttf') format('truetype'),url('http://devmaker.com.br/wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Light-webfont.svg#OpenSansLight') format('svg')!important}@font-face{font-family:OpenSansRegular;src:url('http://devmaker.com.br/wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Regular-webfont.eot');src:url('http://devmaker.com.br/wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),url('http://devmaker.com.br/wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Regular-webfont.woff') format('woff'),url('http://devmaker.com.br/wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Regular-webfont.ttf') format('truetype'),url('http://devmaker.com.br/wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg')!important}@font-face{font-family:OpenSansSemibold;src:url('http://devmaker.com.br/wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Semibold-webfont.eot');src:url('http://devmaker.com.br/wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),url('http://devmaker.com.br/wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Semibold-webfont.woff') format('woff'),url('http://devmaker.com.br/wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Semibold-webfont.ttf') format('truetype'),url('http://devmaker.com.br/wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg')!important}@font-face{font-family:OpenSansBold;src:url('http://devmaker.com.br/wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Bold-webfont.eot');src:url('http://devmaker.com.br/wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),url('http://devmaker.com.br/wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Bold-webfont.woff') format('woff'),url('http://devmaker.com.br/wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Bold-webfont.ttf') format('truetype'),url('http://devmaker.com.br/wp-content/themes/salient/css/fonts/default_ext_chars/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg')!important}
    style[type="text/css"]
      | .p-right{ padding-left:20%; } .text-left > .wpb_wrapper > .img-with-aniamtion-wrap > img{ float:left; } input[type="submit"], button[type="submit"], input[type="button"] { background-color: #27CFC3 !important } @media only screen and (max-width: 470px) { .p-right{ padding-left:0%; } }
    style
      |  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);body:not(.wp-admin) #estimation_popup.wpe_bootstraped[data-form="1"] { font-family:"Open Sans"; }#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel { background-color:#ffffff; }#estimation_popup.wpe_bootstraped[data-form="1"] #lfb_loader { background-color:#1abc9c; }#estimation_popup.wpe_bootstraped[data-form="1"] { color:#34495e; } #estimation_popup.wpe_bootstraped[data-form="1"] .genSlide .lfb_totalBottomContainer hr { border-color:#494b4d; } body #estimation_popup.wpe_bootstraped[data-form="1"] .form-control,#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel ,#estimation_popup.wpe_bootstraped[data-form="1"] p,#estimation_popup.wpe_bootstraped[data-form="1"] #lfb_summary tbody td,#estimation_popup.wpe_bootstraped[data-form="1"] #lfb_summary tbody #sfb_summaryTotalTr th:not(#lfb_summaryTotal) { color:#494b4d; } #estimation_popup.wpe_bootstraped[data-form="1"] .tooltip .tooltip-inner,#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .genSlide .genContent div.selectable span.icon_quantity,#estimation_popup.wpe_bootstraped[data-form="1"] .dropdown-inverse { background-color:#34495e; } #estimation_popup.wpe_bootstraped[data-form="1"] .tooltip.top .tooltip-arrow { border-top-color:#34495e; } #estimation_popup.wpe_bootstraped[data-form="1"] .tooltip.bottom .tooltip-arrow { border-bottom-color:#34495e; } #estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary,#estimation_popup.wpe_bootstraped[data-form="1"] .gform_button,#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary:hover,#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary:active,#estimation_popup.wpe_bootstraped[data-form="1"] .genPrice .progress .progress-bar-price,#estimation_popup.wpe_bootstraped[data-form="1"] .progress-bar,#estimation_popup.wpe_bootstraped[data-form="1"] .quantityBtns a,#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary:active,#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary.active,#estimation_popup.wpe_bootstraped[data-form="1"] .open .dropdown-toggle.btn-primary,#estimation_popup.wpe_bootstraped[data-form="1"] .dropdown-inverse li.active > a,#estimation_popup.wpe_bootstraped[data-form="1"] .dropdown-inverse li.selected > a,#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary:active,#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary.active,#estimation_popup.wpe_bootstraped[data-form="1"] .open .dropdown-toggle.btn-primary,#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary:hover,#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary:focus,#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary:active,#estimation_popup.wpe_bootstraped[data-form="1"] .btn-primary.active,#estimation_popup.wpe_bootstraped[data-form="1"] .open .dropdown-toggle.btn-primary { background-color:#1abc9c; } #estimation_popup.wpe_bootstraped[data-form="1"] .lfb_dropzone:focus,#estimation_popup.wpe_bootstraped[data-form="1"] .has-switch > div.switch-on label,#estimation_popup.wpe_bootstraped[data-form="1"] .form-group.focus .form-control,#estimation_popup.wpe_bootstraped[data-form="1"] .form-control:focus { border-color:#1abc9c; } #estimation_popup.wpe_bootstraped[data-form="1"] a:not(.btn),#estimation_popup.wpe_bootstraped[data-form="1"] a:not(.btn):hover,#estimation_popup.wpe_bootstraped[data-form="1"] a:not(.btn):active,#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .genSlide .genContent div.selectable.checked span.icon_select,#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel #finalPrice,#estimation_popup.wpe_bootstraped[data-form="1"] .ginput_product_price,#estimation_popup.wpe_bootstraped[data-form="1"] .checkbox.checked,#estimation_popup.wpe_bootstraped[data-form="1"] .radio.checked,#estimation_popup.wpe_bootstraped[data-form="1"] .checkbox.checked .second-icon,#estimation_popup.wpe_bootstraped[data-form="1"] .radio.checked .second-icon { color:#1abc9c; } #estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .genSlide .genContent div.selectable .img { max-width:64px; max-height:64px; } #estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel,#estimation_popup.wpe_bootstraped[data-form="1"] .form-control { color:#494b4d; } #estimation_popup.wpe_bootstraped[data-form="1"] .form-control,#estimation_popup.wpe_bootstraped[data-form="1"] .lfb_dropzone { color:#494b4d; } #estimation_popup.wpe_bootstraped[data-form="1"] .lfb_dropzone .dz-preview .dz-remove { color:#494b4d; } #estimation_popup.wpe_bootstraped[data-form="1"] .genPrice .progress .progress-bar-price { font-size:18px; } #estimation_popup.wpe_bootstraped[data-form="1"] .itemDes { max-width:240px; } #estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .genSlide .genContent div.selectable .wpe_itemQtField { width:64px; } #estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .genSlide .genContent div.selectable .wpe_itemQtField .wpe_qtfield { margin-left:-18px; } body .lfb_datepickerContainer .ui-datepicker-title { background-color:#1abc9c; } body .lfb_datepickerContainer td a { color:#1abc9c; } body .lfb_datepickerContainer td.ui-datepicker-today a { color:#34495e; } #estimation_popup.wpe_bootstraped[data-form="1"] .has-switch span.switch-left { background-color:#1abc9c !important; } #estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel #lfb_summary table thead { background-color:#1abc9c; } #estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel #lfb_summary table th.sfb_summaryStep { background-color:#494b4d; } #estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel #lfb_summary table #lfb_summaryTotal { color:#1abc9c; } #estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .wpe_sliderQt { background-color:#494b4d; }#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel [data-type="slider"] { background-color:#494b4d; }#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .wpe_sliderQt .ui-slider-range, #estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .wpe_sliderQt .ui-slider-handle, #estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel [data-type="slider"] .ui-slider-range,#estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel [data-type="slider"] .ui-slider-handle { background-color:#1abc9c !important; } #estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel #finalPrice span:nth-child(2) { color:#494b4d; } #estimation_popup.wpe_bootstraped[data-form="1"] .lfb_colorPreview { border-color:#494b4d; } body #estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .genSlide div.selectable:not(.checked) .img { -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); filter: gray; } body #estimation_popup.wpe_bootstraped[data-form="1"] #mainPanel .genSlide div.selectable.checked .img { -webkit-filter: grayscale(0%); -moz-filter: grayscale(0%); -ms-filter: grayscale(0%); -o-filter: grayscale(0%); filter: grayscale(0%); filter: none; }#startInfos:before { content: ""; display: block; width: 128px; height: 128px; background-color: #fff; margin: 100px auto 0; background-image: url('https://d335luupugsy2.cloudfront.net/images/landing_page/156965/smartphone.png'); background-size: cover; } #estimation_popup.wpe_bootstraped #mainPanel .genSlide .genContent div.selectable { transition: all .3s; } #estimation_popup.wpe_bootstraped #mainPanel .genSlide .genContent div.selectable:hover { transform: scale(1.25); } #estimation_popup.wpe_bootstraped #mainPanel .genSlide .genContent div.selectable span.icon_select { display: none!important; } @media (max-width: 480px) #estimation_popup.wpe_bootstraped h1 { font-size: 36px!important; }
    meta[name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress."]
    style[type="text/css" data-type="vc_shortcodes-custom-css"]
      | .vc_custom_1510599671573{padding-top: 15px !important;padding-bottom: 15px !important;}
    script#navegg[type="text/javascript" src="//tag.navdmp.com/tm37433.js"]
    script[type="text/javascript"]
      |  var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-29109550-1']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
  body.home.page.page-id-551.page-template-default.wpb-js-composer.js-comp-ver-4.3.5.vc_responsive[data-header-inherit-rc="false" data-header-search="false" data-animated-anchors="true" data-ajax-transitions="true" data-full-width-header="false" data-slide-out-widget-area="false" data-loading-animation="spin" data-bg-header="true" data-ext-responsive="true" data-header-resize="1" data-header-color="light" data-smooth-scrolling="0" data-responsive="1"]
    #header-space
    #header-outer.transparent[data-has-menu="true" data-transparent-header="true" data-remove-border="false" data-user-set-bg="#ffffff" data-format="default" data-cart="false" data-transparency-option="1" data-shrink-num="6" data-full-width="false" data-using-secondary="0" data-using-logo="1" data-logo-height="52" data-padding="28" data-header-resize="1"]
      #search-outer.nectar
        #search
          .container
            #search-box
              .col.span_12
                form[action="http://devmaker.com.br" method="GET"]
                  input#s[type="text" name="s" value="Start Typing..." data-placeholder="Start Typing..."]
            #close
              a[href="#"]
                span.icon-salient-x[aria-hidden="true"]
      header#top
        .container
          .row
            .col.span_3
              a#logo[href="http://devmaker.com.br"]
                img.default-logo.dark-version[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="http://beta.devmaker.com.br/wp-content/uploads/2015/07/logoDark.png"]
                img.retina-logo.dark-version[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="http://beta.devmaker.com.br/wp-content/uploads/2015/07/logoDark@2x.png"]
                img.starting-logo.default-logo[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="http://beta.devmaker.com.br/wp-content/uploads/2015/07/logoDevMaker.png"]
                img.retina-logo.starting-logo[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="http://beta.devmaker.com.br/wp-content/uploads/2015/07/logoDevMaker@2x.png"]
            .col.span_9.col_last
              a#toggle-nav[href="#mobilemenu"]
                i.icon-reorder
              nav
                ul.buttons
                  li
                    span
                      a[href="#" title="Português" alt="Português" target="_blank"]
                        | BR
                      | /
                      a[href="#" title="English" alt="English" target="_blank"]
                        | EN
                  li#search-btn
                    div
                      a[href="#searchbox"]
                        span.icon-salient-search[aria-hidden="true"]
                ul.sf-menu
                  li#menu-item-3130.menu-home.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-551.current_page_item.menu-item-3130
                    a[href="http://devmaker.com.br/"]
                      | Home
                  li#menu-item-3129.menu-port.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3129
                    a[href="http://devmaker.com.br/portfolio/"]
                      | Portfólio
                  li#menu-item-3157.menu-empresa.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3157
                    a[href="http://devmaker.com.br/empresa/"]
                      | Empresa
                  li#menu-item-3440.menu-clientes.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3440
                    a[href="http://devmaker.com.br/clientes/"]
                      | Clientes
                  li#menu-item-4052.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-4052
                    a[href="http://devmaker.com.br/blog/"]
                      | Blog
                  li#menu-item-3815.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3815
                    a[href="http://devmaker.com.br/orcamento/"]
                      | Orçamento
      .ns-loading-cover
    #mobile-menu
      .container
        ul
          li.menu-home.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-551.current_page_item.menu-item-3130
            a[href="http://devmaker.com.br/"]
              | Home
          li.menu-port.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3129
            a[href="http://devmaker.com.br/portfolio/"]
              | Portfólio
          li.menu-empresa.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3157
            a[href="http://devmaker.com.br/empresa/"]
              | Empresa
          li.menu-clientes.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3440
            a[href="http://devmaker.com.br/clientes/"]
              | Clientes
          li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-4052
            a[href="http://devmaker.com.br/blog/"]
              | Blog
          li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3815
            a[href="http://devmaker.com.br/orcamento/"]
              | Orçamento
          li#mobile-search
            form[action="http://devmaker.com.br" method="GET"]
              input[type="text" name="s" value="" placeholder="Search.."]
    #ajax-loading-screen[data-method="ajax"]
      span.loading-icon
        span.default-skin-loading-icon
    #ajax-content-wrap
      .container-wrap
        .container.main-content
          .row
            #fws_5c24c9986f335.wpb_row.vc_row-fluid.vc_row.full-width-section.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
              .row-bg-wrap
                .row-bg[style=""]
              ul.nectar-parallax-scene[data-scene-position="center" data-scene-strength="10"]
                li.layer[data-depth="0.00"]
                li.layer[data-depth="1"]
                  div[style="background-image:url('http://devmaker.com.br/wp-content/uploads/2015/07/bgSlide.png');"]
                li.layer[data-depth=".80"]
                  div[style="background-image:url('');"]
              .nectar-slider-loading
                span.loading-icon

              .col.span_12.light.center
                .vc_col-sm-12.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .parallax_slider_outer[style="height: 650px"]
                      #ns-id-5c24c99870100.nectar-slider-wrap[style="height: 650px" data-transition="fade" data-overall_style="classic" data-flexible-height="" data-fullscreen="true" data-button-sizing="regular" data-button-styling="btn_with_count" data-autorotate="" data-parallax="true" data-full-width="true"]
                        .swiper-container[style="height: 650px" data-loop="false" data-height="650" data-min-height="" data-arrows="false" data-bullets="false" data-desktop-swipe="true" data-settings=""]
                          .swiper-wrapper
                            .swiper-slide[style="background-image: url(http://devmaker.com.br/wp-content/uploads/2017/02/bg_devmaker.png);" data-bg-alignment="center" data-color-scheme="light" data-x-pos="centered" data-y-pos="middle"]
                              .container
                                .content
                                  h2
                                    | YOU THINK,
                                    strong.colored
                                      | WE MAKE IT
                                  p
                                    span
                                      | Desenvolvimento de aplicativos mobile para empresas
                                  .buttons
                                    .button.transparent_2
                                      a.primary-color[href="/orcamento"]
                                        | Solicite um orçamento
                              a.slider-down-arrow[href="#"]
                                i.icon-salient-down-arrow.icon-default-style
                                  span.ie-fix
                              .video-texture
                                span.ie-fix
                            .swiper-slide[style="background-image: url(http://devmaker.com.br/wp-content/uploads/2017/02/bg_devmaker.png);" data-bg-alignment="center" data-color-scheme="light" data-x-pos="centered" data-y-pos="middle"]
                              .container
                                .content
                                  h2
                                    | YOU THINK,
                                    strong.colored
                                      | WE MAKE IT
                                  p
                                    span
                                      | Desenvolvimento de aplicativos mobile para empresas em São Paulo
                                  .buttons
                                    .button.transparent_2
                                      a.primary-color[href="/orcamento"]
                                        | Solicite um orçamento
                              a.slider-down-arrow[href="#"]
                                i.icon-salient-down-arrow.icon-default-style
                                  span.ie-fix
                              .video-texture
                                span.ie-fix
                          .nectar-slider-loading
                            span.loading-icon

            #fws_5c24c998715b3.wpb_row.vc_row-fluid.vc_row.full-width-section.parallax_section.vertically-align-columns[data-bg-mobile-hidden="" style="padding-top: 70px; padding-bottom: 70px; "]
              .row-bg-wrap
                .row-bg.using-bg-color[style="background-color: #ffffff; "]
              .col.span_12.dark.center
                .vc_col-sm-12.wpb_column.column_container.col.padding-4-percent.has-animation[data-padding-pos="bottom" data-hover-bg="" data-animation="fade-in-from-bottom" data-delay="0"]
                  .wpb_wrapper
                    #fws_5c24c99871bba.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
                      .row-bg-wrap
                        .row-bg[style=""]
                      .col.span_12
                        .vc_col-sm-12.wpb_column.column_container.col.centered-text.padding-3-percent[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="400"]
                          .wpb_wrapper
                            .col.span_12.section-title.text-align-center.extra-padding
                              h2

                              h1[style="margin-bottom: 5px;"]
                                | Soluções de desenvolvimento de aplicativos mobile para sua empresa
                              p
                                | Conheça um pouco sobre o nosso trabalho e o que podemos oferecer para sua empresa.
                            .clear
                    #fws_5c24c99872144.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
                      .row-bg-wrap
                        .row-bg[style=""]
                      .col.span_12
                        .vc_col-sm-3.wpb_column.column_container.col.centered-text.padding-1-percent[data-padding-pos="top" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                i.icon-3x.icon-tablet.accent-color
                                  i.circle-border
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                h4
                                  | Desenvolvimento Mobile
                                p.p1
                                  | A evolução no mundo do desenvolvimento de aplicativos mobile é constante, e nós estamos aptos a desenvolver aplicativos com as mais inovadoras tecnologias, realizamos o desenvolvimento Android e iOS.
                        .vc_col-sm-3.wpb_column.column_container.col.centered-text.padding-1-percent[data-padding-pos="top" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                i.icon-3x.icon-cloud.accent-color
                                  i.circle-border
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                h4
                                  | Sistemas Web
                                p.p1
                                  | Para alavancar ainda mais seu negócio e proporcionar autonomia ao desenvolvimento de aplicativos, criamos também painéis web, nas linguagens Ruby on Rails, PHP, Java, C#.
                        .vc_col-sm-3.wpb_column.column_container.col.centered-text.padding-1-percent[data-padding-pos="top" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                i.icon-3x.fa-paint-brush.accent-color
                                  i.circle-border
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                h4
                                  | Design Funcional
                                p.p1
                                  | Com uma equipe especializada, desenvolvemos layouts para sistemas web, websites e desenvolvimento Android e iOS, com foco na usabilidade e design inovador.
                        .vc_col-sm-3.wpb_column.column_container.col.centered-text.padding-1-percent[data-padding-pos="top" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                i.icon-3x.icon-facebook.accent-color
                                  i.circle-border
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                h4
                                  | Aplicativos para Facebook
                                p.p1
                                  | Atualmente considerado um grande meio de comunicação, também realizamos a criação de aplicativos mobile para a rede social Facebook, integrando com seu aplicativo mobile com desenvolvimento Android e iOS.
            #fws_5c24c99873fc2.wpb_row.vc_row-fluid.full-width-section.parallax_section.testmonial_disabler[style="padding-top: 100px; padding-bottom: 90px; "]
              .row-bg-wrap
                .row-bg.using-image.using-bg-color[style="background-image: url(http://devmaker.com.br/wp-content/uploads/2013/06/clientes.png); background-position: Center Center; background-repeat: no-repeat; background-color: #828282; "]
              .col.span_12.light.left
                .vc_col-sm-12.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .col.span_12.testimonial_slider[data-autorotate="6500"]
                      .slides
                        blockquote
                          p
                            | "By far the best team I've ever worked with. They truly understood the look I was going for and completely nailed it! I would highly recommend them as a company, you simply just won't find any better team!"
                          span
                            | − CEO da PLACO - Jeff Gemmell
                        blockquote
                          p
                            | "It was really fun getting to know the team during the project. They were all helpful in answering my questions and made me feel at ease. The design ended up being twice as good as I could've envisioned!"
                          span
                            | − Diretor de Marketing da TIM - Jeff Gemmell
                        blockquote
                          p
                            | "I'm wondering why I never contacted these guys sooner! Seriously, they all have commendable talent in their respective fields and knocked my concept out of the ballpark. Thanks for an amazing experience!"
                          span
                            | − CEO do Só Carrão - Mark Levin
            #fws_5c24c998748c8.wpb_row.vc_row-fluid.vc_row.full-width-section.standard_section[data-bg-mobile-hidden="" style="padding-top: 70px; padding-bottom: 70px; "]
              .row-bg-wrap
                .row-bg.using-bg-color[style="background-color: #39cdb0; "]
              .col.span_12.light.center
                .vc_col-sm-12.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element.click-portfolio
                      .wpb_wrapper
                        h1
                          | CONHEÇA NOSSOS TRABALHOS
                        p
                          |  
                        a.nectar-button.large.see-through-2[href="http://beta.devmaker.com.br/portfolio/" data-color-override="false" data-hover-color-override="#ffffff" data-hover-text-color-override="#39CDB0"]
                          span
                            | IR PARA PORTFÓLIO
            #fws_5c24c99874f60.wpb_row.vc_row-fluid.vc_row.full-width-section.standard_section[data-bg-mobile-hidden="" style="padding-top: 70px; padding-bottom: 70px; "]
              .row-bg-wrap
                .row-bg.using-bg-color[style="background-color: #1d9f86; "]
              .col.span_12.light.center
                .vc_col-sm-12.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element.click-portfolio.vc_custom_1510599671573
                      .wpb_wrapper
                        h1
                          a[href="http://devmaker.com.br/wp-content/uploads/2013/06/O-QUE-ESTAu0304O-FALANDO.png" rel="attachment wp-att-4210"]
                            img.aligncenter.size-full.wp-image-4210[src="http://devmaker.com.br/wp-content/uploads/2013/06/O-QUE-ESTAu0304O-FALANDO.png" alt="o-que-estau0304o-falando" width="875" height="53" srcset="http://devmaker.com.br/wp-content/uploads/2013/06/O-QUE-ESTAu0304O-FALANDO-300x18.png 300w, http://devmaker.com.br/wp-content/uploads/2013/06/O-QUE-ESTAu0304O-FALANDO-768x47.png 768w, http://devmaker.com.br/wp-content/uploads/2013/06/O-QUE-ESTAu0304O-FALANDO.png 875w" sizes="(max-width: 875px) 100vw, 875px"]
                        p[style="text-align: center;"]
                          | Quando afirmamos que somos referência no mercado de desenvolvimento de aplicativos não estamos brincando.
                          br
                          |  Veja o que estão falando sobre nós.
                    #fws_5c24c99875574.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
                      .row-bg-wrap
                        .row-bg[style=""]
                      .col.span_12
                        .vc_col-sm-12.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            .divider
                    #fws_5c24c998759f3.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
                      .row-bg-wrap
                        .row-bg[style=""]
                      .col.span_12
                        .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            a.right[href="https://www.youtube.com/watch?v=IAt4yTAnuJ0" target="_self"]
                              img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="http://devmaker.com.br/wp-content/uploads/2013/06/logo_cultura_branca.png" alt=""]
                        .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            a.center[href="https://www.youtube.com/watch?v=2DCFfTiDDBY" target="_self"]
                              img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="http://devmaker.com.br/wp-content/uploads/2013/06/logo_record_branca.png" alt=""]
                        .vc_col-sm-3.text-left.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            a.left[href="https://www.youtube.com/watch?v=cN8GdT6u6kM" target="_self"]
                              img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="http://devmaker.com.br/wp-content/uploads/2013/06/logo_globo_branca.png" alt=""]
                        .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            a.left[href="https://www.youtube.com/watch?v=zJrer5khXaQ&amp;t=3s" target="_self"]
                              img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="http://devmaker.com.br/wp-content/uploads/2013/06/eparana.png" alt=""]
            #fws_5c24c99877b90.wpb_row.vc_row-fluid.vc_row.full-width-section.standard_section[data-bg-mobile-hidden="" style="padding-top: 70px; padding-bottom: 70px; "]
              .row-bg-wrap
                .row-bg.using-bg-color[style="background-color: #007564; "]
              .col.span_12.light.center
                .vc_col-sm-12.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element
                      .wpb_wrapper
                        h1[style="text-align: center;"]
                          a[href="http://devmaker.com.br/wp-content/uploads/2013/06/FALE-CONOSCO.png"]
                            img.size-full.wp-image-3791.aligncenter[src="http://devmaker.com.br/wp-content/uploads/2013/06/FALE-CONOSCO.png" alt="FALE CONOSCO" width="381" height="42" srcset="http://devmaker.com.br/wp-content/uploads/2013/06/FALE-CONOSCO-300x33.png 300w, http://devmaker.com.br/wp-content/uploads/2013/06/FALE-CONOSCO.png 381w" sizes="(max-width: 381px) 100vw, 381px"]
                        h1[style="text-align: center;"]
                        p
                          |  
                        a.nectar-button.large.see-through-2[href="http://beta.devmaker.com.br/contato/" data-color-override="false" data-hover-color-override="#ffffff" data-hover-text-color-override="#39CDB0"]
                          span
                            | ENTRE EM CONTATO
            #fws_5c24c9987825c.wpb_row.vc_row-fluid.vc_row.full-width-content.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
              .row-bg-wrap
                .row-bg[style=""]
              .col.span_12.dark.left
                .vc_col-sm-12.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    #map_5c24c9987869e.nectar-google-map[style="height: 450px;" data-dark-color-scheme="" data-ultra-flat="" data-greyscale="1" data-extra-color="" data-enable-animation="1" data-enable-zoom="1" data-zoom-level="18" data-center-lat="-25.434132" data-center-lng="-49.282319" data-marker-img="http://devmaker.com.br/wp-content/uploads/2013/06/pin_dev1.png"]
                    .map_5c24c9987869e.map-marker-list
                      .map-marker[data-lat="-25.434132" data-lng=" -49.282319" data-mapinfo="DevMaker Apps, Alameda Dr Carlos de Carvalho,771 - 7° Andar, Curitiba (PR)"]
      a.home.cta.orcamento[href="http://devmaker.com.br/quanto-custa-criar-um-aplicativo/" target="_blank" title="Descubra agora!"]
        span
          | Quanto custa criar um aplicativo?
      #footer-outer[data-using-widget-area="true"]
        #footer-widgets
          .container
            .row
              .col.span_6
                #text-7.widget.widget_text
                  .textwidget
                    #fws_5c24c9987951c.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
                      .row-bg-wrap
                        .row-bg[style=""]
                      .col.span_12.dark
                        .vc_col-sm-6.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                p
                                  a[itemprop="url" href="http://devmaker.com.br"]
                                    br
                                    b
                                      | DevMaker Mobile Apps
                                    br
                                div[itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"]
                                  span.s1[itemprop="streetAddress"]
                                    | Avenida Cidade Jardim, 400 - 7° e 20°
                                    br
                                    |  Andares - Jardim Paulistano
                                  br
                                  spam[itemprop="addressCode"]
                                    | 01454-000
                                    |  -
                                    spam[itemprop="addressLocality"]
                                      | São Paulo
                                      br
                                      spam[itemprop="addressRegion"]
                                        | São Paulo
                                        | ,
                                        spam[itemprop="addressCountry"]
                                          | Brasil
                                          p
                                            strong
                                              | Tel.
                                            span[itemprop="telephone"]
                                              a[href="tel:+55 (11) 3818-0916"]
                                                | +55 (11) 3818-0916
                                div[itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"]
                                  span.s1[itemprop="streetAddress"]
                                    | Alameda Dr. Carlos de Carvalho, 771 - 7° Andar - Batel
                                  br
                                  spam[itemprop="addressCode"]
                                    | 80430-180
                                    |  -
                                    spam[itemprop="addressLocality"]
                                      | Curitiba
                                      br
                                      spam[itemprop="addressRegion"]
                                        | Paraná
                                        | ,
                                        spam[itemprop="addressCountry"]
                                          | Brasil
                                          p
                                            strong
                                              | Tel.
                                            span[itemprop="telephone"]
                                              a[href="tel:+55 (41) 3348-8694"]
                                                | +55 (41) 3348-8696
                                p
                                  strong
                                    | Email:
                                  span.s1[itemprop="email"]
                                    a[href="mailto:contato@devmaker.com.br"]
                                      | contato@devmaker.com.br
                                    br
                                    strong
                                      | facebook:
                                    a[href="https://facebook.com/devmakercwb/" target="_blank"]
                                      | devmakercwb
                                    br
                                    strong
                                      | instagram:
                                    a[href="https://instagram.com/devmakermobile/" target="_blank"]
                                      | devmakermobile
                                    br
                                  span.s1
                                    a[href="mailto:http://contato@devmaker.com.br"]
                                      br
                                  a[href="http://devmaker.com.br"]
                                    img.alignnone.size-full.wp-image-3060[itemprop="img" src="http://beta.devmaker.com.br/wp-content/uploads/2015/07/logoDevMaker.png" alt="logoDevMaker" width="230" height="52"]
              .col.span_6
                #text-3.widget.widget_text
                  .textwidget
                    #fws_5c24c9987a023.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
                      .row-bg-wrap
                        .row-bg[style=""]
                      .col.span_12.dark
                        .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                p
                                  b
                                    | Institucional
                                  br
                                  br
                                  span.s1
                                    a[href="/empresa"]
                                      | A Empresa
                                  br
                                  span.s1
                                    a[href="/portfolio"]
                                      | Portfólio
                                  br
                                  span.s1
                                    a[href="clientes"]
                                      | Clientes
                        .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                p
                                  b
                                    | Projetos
                                  br
                                  br
                                  span.s1
                                    a[href="/portfolio"]
                                      | Android
                                  br
                                  span.s1
                                    a[href="/portfolio"]
                                      | Facebook Apps
                                  br
                                  span.s1
                                    a[href="/portfolio"]
                                      | Apple
                        .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                p
                                  b
                                    | Blog
                                  br
                                  br
                                  span.s1
                                    a[href="/blog"]
                                      | Android
                                  br
                                  span.s1
                                    a[href="/blog"]
                                      | Aplicativos
                                  br
                                  span.s1
                                    a[href="#"]
                                      | Dicas
                                  br
                                  span.s1
                                    a[href="/blog"]
                                      | Microempresas
                        .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                p
                                  b
                                    | Contato
                                  br
                                  br
                                  span.s1
                                    a[href="/orcamento"]
                                      | Orçamento
                                  br
                                  span.s1
                                    a[href="/contato"]
                                      | Fale Conosco
        #copyright.row
          .container
            .col.span_5
              p
                | © 2018 DevMaker Mobile Apps. All Rights Reserved.
            .col.span_7.col_last
              ul#social
                li
                  a[target="_blank" href="https://www.facebook.com/devmakercwb"]
                    i.icon-facebook
                li
                  a[target="_blank" href="https://www.linkedin.com/company/devmaker"]
                    i.icon-linkedin
    a#to-top
      i.icon-angle-up
    script[type="text/javascript"]
      | function ctSetCookie(c_name, value, def_value){document.cookie = c_name + '=' + escape(value) + '; path=/';}ctSetCookie('ct_checkjs', '342241091', '0');
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/plugins/WP_Estimation_Form/assets/js/bootstrap.min.js?ver=9.506"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/plugins/WP_Estimation_Form/assets/js/bootstrap-switch.min.js?ver=9.506"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/plugins/WP_Estimation_Form/assets/js/jquery-ui-i18n.min.js?ver=9.506"]
    script[type="text/javascript"]
      |  /*
      |  */ var wpe_forms = [{"currentRef":0,"ajaxurl":"http:\/\/devmaker.com.br\/wp-admin\/admin-ajax.php","initialPrice":"0","max_price":"0","percentToPay":"100","currency":"R$","currencyPosition":"left","intro_enabled":"1","save_to_cart":"0","colorA":"#1abc9c","close_url":"","animationsSpeed":"0.3","email_toUser":"1","showSteps":"1","formID":"1","gravityFormID":"0","showInitialPrice":"0","disableTipMobile":"0","legalNoticeEnable":"0","links":[{"id":"42","formID":"1","originID":"5","destinationID":"4","conditions":"[]","operator":""},{"id":"43","formID":"1","originID":"4","destinationID":"2","conditions":"[]","operator":""},{"id":"44","formID":"1","originID":"2","destinationID":"8","conditions":"[]","operator":""},{"id":"45","formID":"1","originID":"8","destinationID":"7","conditions":"[]","operator":""},{"id":"46","formID":"1","originID":"9","destinationID":"3","conditions":"[]","operator":""},{"id":"47","formID":"1","originID":"3","destinationID":"5","conditions":"[]","operator":""}],"usePdf":0,"txt_yes":"Yes","txt_no":"No","txt_lastBtn":"RECEBER VALOR POR E-MAIL","txt_btnStep":"PR\u00d3XIMO PASSO","dateFormat":"d \\dd\\e MM \\dd\\e yy","datePickerLanguage":"pt-BR","thousandsSeparator":".","decimalsSeparator":"-","millionSeparator":". ","summary_hideQt":"1","summary_hideZero":"0","summary_hidePrices":"0","groupAutoClick":"0","filesUpload_text":"Arraste arquivos aqui para fazer upload","filesUploadSize_text":"O arquivo \u00e9 muito grande (tamanho m\u00e1ximo: {{maxFilesize}}MB)","filesUploadType_text":"Formato de arquivo inv\u00e1lido","filesUploadLimit_text":"Voc\u00ea n\u00e3o pode adicionar mais arquivos para upload","sendContactASAP":"1","showTotalBottom":"0","stripePubKey":"","scrollTopMargin":"0","redirectionDelay":"0"}]; /*
      |  */
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/plugins/WP_Estimation_Form/assets/js/lfb_form.min.js?ver=9.506"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-includes/js/jquery/ui/menu.min.js?ver=1.11.4"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-includes/js/jquery/ui/autocomplete.min.js?ver=1.11.4"]
    script[type="text/javascript"]
      |  /*
      |  */ var MyAcSearch = {"url":"http:\/\/devmaker.com.br\/wp-admin\/admin-ajax.php"}; /*
      |  */
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/themes/salient/nectar/assets/functions/ajax-search/wpss-search-suggest.js"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/plugins/cleantalk-spam-protect/js/apbct-public.js?ver=5.97"]
    script[type="text/javascript"]
      |  /*
      |  */ var ctNocache = {"ajaxurl":"http:\/\/devmaker.com.br\/wp-admin\/admin-ajax.php","info_flag":"","set_cookies_flag":"1","blog_home":"http:\/\/devmaker.com.br\/"}; /*
      |  */
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/plugins/cleantalk-spam-protect/inc/cleantalk_nocache.js?ver=5.97"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20"]
    script[type="text/javascript"]
      |  /*
      |  */ var _wpcf7 = {"loaderUrl":"http:\/\/devmaker.com.br\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Enviando ..."}; /*
      |  */
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.2.1"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/themes/salient/js/superfish.js?ver=1.4.8"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/themes/salient/js/respond.js?ver=1.1"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/themes/salient/js/sticky.js?ver=1.0"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/themes/salient/js/prettyPhoto.js?ver=5.5.4"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/themes/salient/js/isotope.min.js?ver=2.0"]
    script[type="text/javascript"]
      |  /*
      |  */ var nectarLove = {"ajaxurl":"http:\/\/devmaker.com.br\/wp-admin\/admin-ajax.php","postID":"551","rooturl":"http:\/\/devmaker.com.br","pluginPages":[],"disqusComments":"true"}; /*
      |  */
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/themes/salient/js/init.js?ver=5.5.4"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/themes/salient/js/nectar-slider.js?ver=5.5.4"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/themes/salient/js/ajaxify.js?ver=5.5.4"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-includes/js/comment-reply.min.js?ver=4.4.17"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/plugins/sassy-social-share/public/js/sassy-social-share-public.js?ver=2.4.1"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-includes/js/wp-embed.min.js?ver=4.4.17"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/plugins/js_composer_salient/assets/js/js_composer_front.js?ver=4.3.5"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/themes/salient/js/parallax.js?ver=1.0"]
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/themes/salient/js/map.js?ver=1.0"]
    script[type="text/javascript"]
      |  /*
      |  */ var countVars = {"disqusShortname":"devmaker"}; /*
      |  */
    script[type="text/javascript" src="http://devmaker.com.br/wp-content/plugins/disqus-comment-system/media/js/count.js?ver=4.4.17"]
    a[style="display:none;" href="http://miniorange.com/cyber-security"]
      | Secured By miniOrange
