
    #header-space
    #header-outer.transparent[data-has-menu="true" data-transparent-header="true" data-remove-border="false" data-user-set-bg="#ffffff" data-format="default" data-cart="false" data-transparency-option="1" data-shrink-num="6" data-full-width="false" data-using-secondary="0" data-using-logo="1" data-logo-height="52" data-padding="28" data-header-resize="1"]
      #search-outer.nectar
        #search
          .container
            #search-box
              .col.span_12
                form[action="http://devmaker.com.br" method="GET"]
                  input#s[type="text" name="s" value="Start Typing..." data-placeholder="Start Typing..."]
            #close
              a[href="#"]
                span.icon-salient-x[aria-hidden="true"]
      header#top
        .container
          .row
            .col.span_3
              a#logo[href="index.html"]
                img.default-logo.dark-version[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="images/logoDark.png"]
                img.retina-logo.dark-version[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="images/logoDark@2x.png"]
                img.starting-logo.default-logo[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="images/logoDevMaker.png"]
                img.retina-logo.starting-logo[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="images/logoDevMaker@2x.png"]
            .col.span_9.col_last
              a#toggle-nav[href="#mobilemenu"]
                i.icon-reorder
              nav
                ul.buttons
                  li
                    span
                      a[href="#" title="Português" alt="Português" target="_blank"]
                        | BR
                      | /
                      a[href="#" title="English" alt="English" target="_blank"]
                        | EN
                  li#search-btn
                    div
                      a[href="#searchbox"]
                        span.icon-salient-search[aria-hidden="true"]
                ul.sf-menu
                  li#menu-item-3130.menu-home.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-551.current_page_item.menu-item-3130
                    a[href="/"]
                      | Home
                  li#menu-item-3129.menu-port.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3129
                    a[href="portfolio.html"]
                      | Portfólio
                  li#menu-item-3157.menu-empresa.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3157
                    a[href="empresa.html"]
                      | Empresa
                  li#menu-item-3440.menu-clientes.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3440
                    a[href="clientes.html"]
                      | Clientes
                  li#menu-item-4052.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-4052
                    a[href="/blog/"]
                      | Blog
                  li#menu-item-3815.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3815
                    a[href="/orcamento/"]
                      | Orçamento
      .ns-loading-cover
    #mobile-menu
      .container
        ul
          li.menu-home.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-551.current_page_item.menu-item-3130
            a[href="/"]
              | Home
          li.menu-port.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3129
            a[href="portfolio.html"]
              | Portfólio
          li.menu-empresa.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3157
            a[href="empresa.html"]
              | Empresa
          li.menu-clientes.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3440
            a[href="clientes.html"]
              | Clientes
          li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-4052
            a[href="/blog/"]
              | Blog
          li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3815
            a[href="/orcamento/"]
              | Orçamento
          li#mobile-search
            form[action="http://devmaker.com.br" method="GET"]
              input[type="text" name="s" value="" placeholder="Search.."]
    #ajax-loading-screen[data-method="ajax"]
      span.loading-icon
        span.default-skin-loading-icon
    #ajax-content-wrap
      .container-wrap
        .container.main-content
          .row
            #fws_5c23a9a177366.wpb_row.vc_row-fluid.vc_row.full-width-section.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
              .row-bg-wrap
                .row-bg[style=""]
              ul.nectar-parallax-scene[data-scene-position="center" data-scene-strength="10"]
                li.layer[data-depth="0.00"]
                li.layer[data-depth="1"]
                  div[style="background-image:url('images/bgSlide.png');"]
                li.layer[data-depth=".80"]
                  div[style="background-image:url('');"]
              .nectar-slider-loading
                span.loading-icon

              .col.span_12.light.center
                .vc_col-sm-12.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .parallax_slider_outer[style="height: 650px"]
                      #ns-id-5c23a9a178c2a.nectar-slider-wrap[style="height: 650px" data-transition="fade" data-overall_style="classic" data-flexible-height="" data-fullscreen="true" data-button-sizing="regular" data-button-styling="btn_with_count" data-autorotate="" data-parallax="true" data-full-width="true"]
                        .swiper-container[style="height: 650px" data-loop="false" data-height="650" data-min-height="" data-arrows="false" data-bullets="false" data-desktop-swipe="true" data-settings=""]
                          .swiper-wrapper
                            .swiper-slide[style="background-image: url(images/bg_devmaker.png);" data-bg-alignment="center" data-color-scheme="light" data-x-pos="centered" data-y-pos="middle"]
                              .container
                                .content
                                  h2
                                    | YOU THINK,
                                    strong.colored
                                      |  WE MAKE IT
                                  p
                                    span
                                      | Desenvolvimento de aplicativos mobile para empresas
                                  .buttons
                                    .button.transparent_2
                                      a.primary-color[href="/orcamento/"]
                                        | Solicite um orçamento
                              a.slider-down-arrow[href="#"]
                                i.icon-salient-down-arrow.icon-default-style
                                  span.ie-fix
                              .video-texture
                                span.ie-fix
                            .swiper-slide[style="background-image: url(images/bg_devmaker.png);" data-bg-alignment="center" data-color-scheme="light" data-x-pos="centered" data-y-pos="middle"]
                              .container
                                .content
                                  h2
                                    | YOU THINK,
                                    strong.colored
                                      | WE MAKE IT
                                  p
                                    span
                                      | Desenvolvimento de aplicativos mobile para empresas em São Paulo
                                  .buttons
                                    .button.transparent_2
                                      a.primary-color[href="/orcamento/"]
                                        | Solicite um orçamento
                              a.slider-down-arrow[href="#"]
                                i.icon-salient-down-arrow.icon-default-style
                                  span.ie-fix
                              .video-texture
                                span.ie-fix
                          .nectar-slider-loading
                            span.loading-icon

            #fws_5c23a9a17a298.wpb_row.vc_row-fluid.vc_row.full-width-section.parallax_section.vertically-align-columns[data-bg-mobile-hidden="" style="padding-top: 70px; padding-bottom: 70px; "]
              .row-bg-wrap
                .row-bg.using-bg-color[style="background-color: #ffffff; "]
              .col.span_12.dark.center
                .vc_col-sm-12.wpb_column.column_container.col.padding-4-percent.has-animation[data-padding-pos="bottom" data-hover-bg="" data-animation="fade-in-from-bottom" data-delay="0"]
                  .wpb_wrapper
                    #fws_5c23a9a17aa03.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
                      .row-bg-wrap
                        .row-bg[style=""]
                      .col.span_12
                        .vc_col-sm-12.wpb_column.column_container.col.centered-text.padding-3-percent[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="400"]
                          .wpb_wrapper
                            .col.span_12.section-title.text-align-center.extra-padding
                              h2

                              h1[style="margin-bottom: 5px;"]
                                | Soluções de desenvolvimento de aplicativos mobile para sua empresa
                              p
                                | Conheça um pouco sobre o nosso trabalho e o que podemos oferecer para sua empresa.
                            .clear
                    #fws_5c23a9a17b0f5.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
                      .row-bg-wrap
                        .row-bg[style=""]
                      .col.span_12
                        .vc_col-sm-3.wpb_column.column_container.col.centered-text.padding-1-percent[data-padding-pos="top" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                i.icon-3x.icon-tablet.accent-color
                                  i.circle-border
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                h4
                                  | Desenvolvimento Mobile
                                p.p1
                                  | A evolução no mundo do desenvolvimento de aplicativos mobile é constante, e nós estamos aptos a desenvolver aplicativos com as mais inovadoras tecnologias, realizamos o desenvolvimento Android e iOS.
                        .vc_col-sm-3.wpb_column.column_container.col.centered-text.padding-1-percent[data-padding-pos="top" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                i.icon-3x.icon-cloud.accent-color
                                  i.circle-border
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                h4
                                  | Sistemas Web
                                p.p1
                                  | Para alavancar ainda mais seu negócio e proporcionar autonomia ao desenvolvimento de aplicativos, criamos também painéis web, nas linguagens Ruby on Rails, PHP, Java, C#.
                        .vc_col-sm-3.wpb_column.column_container.col.centered-text.padding-1-percent[data-padding-pos="top" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                i.icon-3x.fa-paint-brush.accent-color
                                  i.circle-border
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                h4
                                  | Design Funcional
                                p.p1
                                  | Com uma equipe especializada, desenvolvemos layouts para sistemas web, websites e desenvolvimento Android e iOS, com foco na usabilidade e design inovador.
                        .vc_col-sm-3.wpb_column.column_container.col.centered-text.padding-1-percent[data-padding-pos="top" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                i.icon-3x.icon-facebook.accent-color
                                  i.circle-border
                            .wpb_text_column.wpb_content_element
                              .wpb_wrapper
                                h4
                                  | Aplicativos para Facebook
                                p.p1
                                  | Atualmente considerado um grande meio de comunicação, também realizamos a criação de aplicativos mobile para a rede social Facebook, integrando com seu aplicativo mobile com desenvolvimento Android e iOS.
            #fws_5c23a9a17d5fa.wpb_row.vc_row-fluid.full-width-section.parallax_section.testmonial_disabler[style="padding-top: 100px; padding-bottom: 90px; "]
              .row-bg-wrap
                .row-bg.using-image.using-bg-color[style="background-image: url(images/clientes.png); background-position: Center Center; background-repeat: no-repeat; background-color: #828282; "]
              .col.span_12.light.left
                .vc_col-sm-12.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .col.span_12.testimonial_slider[data-autorotate="6500"]
                      .slides
                        blockquote
                          p
                            | "By far the best team I've ever worked with. They truly understood the look I was going for and completely nailed it! I would highly recommend them as a company, you simply just won't find any better team!"
                          span
                            | − CEO da PLACO - Jeff Gemmell
                        blockquote
                          p
                            | "It was really fun getting to know the team during the project. They were all helpful in answering my questions and made me feel at ease. The design ended up being twice as good as I could've envisioned!"
                          span
                            | − Diretor de Marketing da TIM - Jeff Gemmell
                        blockquote
                          p
                            | "I'm wondering why I never contacted these guys sooner! Seriously, they all have commendable talent in their respective fields and knocked my concept out of the ballpark. Thanks for an amazing experience!"
                          span
                            | − CEO do Só Carrão - Mark Levin
            #fws_5c23a9a17e0fc.wpb_row.vc_row-fluid.vc_row.full-width-section.standard_section[data-bg-mobile-hidden="" style="padding-top: 70px; padding-bottom: 70px; "]
              .row-bg-wrap
                .row-bg.using-bg-color[style="background-color: #39cdb0; "]
              .col.span_12.light.center
                .vc_col-sm-12.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element.click-portfolio
                      .wpb_wrapper
                        h1
                          | CONHEÇA NOSSOS TRABALHOS
                        p
                          |  
                        a.nectar-button.large.see-through-2[href="portfolio.html" data-color-override="false" data-hover-color-override="#ffffff" data-hover-text-color-override="#39CDB0"]
                          span
                            | IR PARA PORTFÓLIO
            #fws_5c23a9a17e947.wpb_row.vc_row-fluid.vc_row.full-width-section.standard_section[data-bg-mobile-hidden="" style="padding-top: 70px; padding-bottom: 70px; "]
              .row-bg-wrap
                .row-bg.using-bg-color[style="background-color: #1d9f86; "]
              .col.span_12.light.center
                .vc_col-sm-12.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element.click-portfolio.vc_custom_1510599671573
                      .wpb_wrapper
                        h1
                          a[href="images/O-QUE-ESTAu0304O-FALANDO.png" rel="attachment wp-att-4210"]
                            img.aligncenter.size-full.wp-image-4210[src="images/O-QUE-ESTAu0304O-FALANDO.png" alt="o-que-estau0304o-falando" width="875" height="53" srcset="images/O-QUE-ESTAu0304O-FALANDO-300x18.png 300w, images/O-QUE-ESTAu0304O-FALANDO-768x47.png 768w, images/O-QUE-ESTAu0304O-FALANDO.png 875w" sizes="(max-width: 875px) 100vw, 875px"]
                        p[style="text-align: center;"]
                          | Quando afirmamos que somos referência no mercado de desenvolvimento de aplicativos não estamos brincando.
                          br
                          |  Veja o que estão falando sobre nós.
                    #fws_5c23a9a17f096.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
                      .row-bg-wrap
                        .row-bg[style=""]
                      .col.span_12
                        .vc_col-sm-12.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            .divider
                    #fws_5c23a9a17f561.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
                      .row-bg-wrap
                        .row-bg[style=""]
                      .col.span_12
                        .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            a.right[href="https://www.youtube.com/watch?v=IAt4yTAnuJ0" target="_self"]
                              img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/logo_cultura_branca.png" alt=""]
                        .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            a.center[href="https://www.youtube.com/watch?v=2DCFfTiDDBY" target="_self"]
                              img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/logo_record_branca.png" alt=""]
                        .vc_col-sm-3.text-left.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            a.left[href="https://www.youtube.com/watch?v=cN8GdT6u6kM" target="_self"]
                              img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/logo_globo_branca.png" alt=""]
                        .vc_col-sm-3.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                          .wpb_wrapper
                            a.left[href="https://www.youtube.com/watch?v=zJrer5khXaQ&amp;t=3s" target="_self"]
                              img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in" src="images/eparana.png" alt=""]
            #fws_5c23a9a18245d.wpb_row.vc_row-fluid.vc_row.full-width-section.standard_section[data-bg-mobile-hidden="" style="padding-top: 70px; padding-bottom: 70px; "]
              .row-bg-wrap
                .row-bg.using-bg-color[style="background-color: #007564; "]
              .col.span_12.light.center
                .vc_col-sm-12.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element
                      .wpb_wrapper
                        h1[style="text-align: center;"]
                          |  
                          a[href="images/FALE-CONOSCO.png"]
                            img.size-full.wp-image-3791.aligncenter[src="images/FALE-CONOSCO.png" alt="FALE CONOSCO" width="381" height="42" srcset="images/FALE-CONOSCO-300x33.png 300w, images/FALE-CONOSCO.png 381w" sizes="(max-width: 381px) 100vw, 381px"]
                        h1[style="text-align: center;"]
                        p
                          |  
                        a.nectar-button.large.see-through-2[href="/contato" data-color-override="false" data-hover-color-override="#ffffff" data-hover-text-color-override="#39CDB0"]
                          span
                            | ENTRE EM CONTATO
            #fws_5c23a9a182bad.wpb_row.vc_row-fluid.vc_row.full-width-content.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
              .row-bg-wrap
                .row-bg[style=""]
              .col.span_12.dark.left
                .vc_col-sm-12.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    #map_5c23a9a18300d.nectar-google-map[style="height: 450px;" data-dark-color-scheme="" data-ultra-flat="" data-greyscale="1" data-extra-color="" data-enable-animation="1" data-enable-zoom="1" data-zoom-level="18" data-center-lat="-25.434132" data-center-lng="-49.282319" data-marker-img="images/pin_dev1.png"]
                    .map_5c23a9a18300d.map-marker-list
                      .map-marker[data-lat="-25.434132" data-lng=" -49.282319" data-mapinfo="DevMaker Apps, Alameda Dr Carlos de Carvalho,771 - 7° Andar, Curitiba (PR)"]
      a.home.cta.orcamento[href="/quanto-custa-criar-um-aplicativo/" target="_blank" title="Descubra agora!"]
        span
          | Quanto custa criar um aplicativo?

    script[type="text/javascript" src="javascripts/index_footer.js"]
