
    #header-space
    #header-outer.transparent[data-has-menu="true" data-transparent-header="true" data-remove-border="false" data-user-set-bg="#ffffff" data-format="default" data-cart="false" data-transparency-option="" data-shrink-num="6" data-full-width="false" data-using-secondary="0" data-using-logo="1" data-logo-height="52" data-padding="28" data-header-resize="1"]
      #search-outer.nectar
        #search
          .container
            #search-box
              .col.span_12
                form[action="http://devmaker.com.br" method="GET"]
                  input#s[type="text" name="s" value="Start Typing..." data-placeholder="Start Typing..."]
            #close
              a[href="#"]
                span.icon-salient-x[aria-hidden="true"]
      header#top
        .container
          .row
            .col.span_3
              a#logo[href="index.html"]
                img.default-logo.dark-version[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="images/logoDark.png"]
                img.retina-logo.dark-version[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="images/logoDark@2x.png"]
                img.starting-logo.default-logo[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="images/logoDevMaker.png"]
                img.retina-logo.starting-logo[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="images/logoDevMaker@2x.png"]
            .col.span_9.col_last
              a#toggle-nav[href="#mobilemenu"]
                i.icon-reorder
              nav
                ul.buttons
                  li
                    span
                      a[href="#" title="Português" alt="Português" target="_blank"]
                        | BR
                      | /
                      a[href="#" title="English" alt="English" target="_blank"]
                        | EN
                  li#search-btn
                    div
                      a[href="#searchbox"]
                        span.icon-salient-search[aria-hidden="true"]
                ul.sf-menu
                  li#menu-item-3130.menu-home.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3130
                    a[href="/"]
                      | Home
                  li#menu-item-3129.menu-port.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3129
                    a[href="portfolio.html"]
                      | Portfólio
                  li#menu-item-3157.menu-empresa.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3157
                    a[href="empresa.html"]
                      | Empresa
                  li#menu-item-3440.menu-clientes.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3440
                    a[href="clientes.html"]
                      | Clientes
                  li#menu-item-4052.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-4052
                    a[href="/blog/"]
                      | Blog
                  li#menu-item-3815.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-3659.current_page_item.menu-item-3815
                    a[href="/orcamento/"]
                      | Orçamento
      .ns-loading-cover
    #mobile-menu
      .container
        ul
          li.menu-home.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3130
            a[href="/"]
              | Home
          li.menu-port.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3129
            a[href="portfolio.html"]
              | Portfólio
          li.menu-empresa.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3157
            a[href="empresa.html"]
              | Empresa
          li.menu-clientes.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3440
            a[href="clientes.html"]
              | Clientes
          li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-4052
            a[href="/blog/"]
              | Blog
          li.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-3659.current_page_item.menu-item-3815
            a[href="/orcamento/"]
              | Orçamento
          li#mobile-search
            form[action="http://devmaker.com.br" method="GET"]
              input[type="text" name="s" value="" placeholder="Search.."]
    #ajax-loading-screen[data-method="ajax"]
      span.loading-icon
        span.default-skin-loading-icon
    #ajax-content-wrap
      #page-header-wrap[style="height: 500px;"]
        #page-header-bg.not-loaded[data-alignment="center" data-parallax="1" data-height="500" style="background-color: #000; background-image: url(http://devmaker.com.br/wp-content/uploads/2016/01/bg_prllx_orça.png); height: 500px;"]
          .container
            .row
              .col.span_6
                h1
                  | Orçamento
                span.subheader
                  | Solicite um orçamento para o seu projeto
      .container-wrap
        .container.main-content
          .row
            #fws_5c26816f66e96.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
              .row-bg-wrap
                .row-bg[style=""]
              .col.span_12.dark
                .vc_col-sm-12.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper

            #fws_5c26816f678bf.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
              .row-bg-wrap
                .row-bg[style=""]
              .col.span_12.dark
                .vc_col-sm-2.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element
                      .wpb_wrapper

                .vc_col-sm-8.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element
                      .wpb_wrapper
                        #wpcf7-f3761-p3659-o1.wpcf7[role="form" lang="pt-BR" dir="ltr"]
                          .screen-reader-response
                          form.wpcf7-form[name="" action="http://www.devmaker.com.br/orcamento/#wpcf7-f3761-p3659-o1" method="post" novalidate="novalidate"]
                            div[style="display: none;"]
                              input[type="hidden" name="_wpcf7" value="3761"]
                              input[type="hidden" name="_wpcf7_version" value="4.2.1"]
                              input[type="hidden" name="_wpcf7_locale" value="pt_BR"]
                              input[type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f3761-p3659-o1"]
                              input[type="hidden" name="_wpnonce" value="e03c9e7146"]
                            p
                              br
                            h1[style="text-align: center;"]
                              span[style="color: #3d3d3d;"]
                                |  Sobre você
                            h4[style="text-align: center;"]
                              span[style="color: #A6A6A6;"]
                                |  Envie nos seus dados pessoais antes de começar a informar suas ideias
                            .formulario.linha.uma-coluna
                              .coluna
                                h4.label
                                  | Seu nome
                                p
                                  span.wpcf7-form-control-wrap.your-name
                                    input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required[type="text" name="your-name" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Nome completo"]
                            .formulario.linha.duas-colunas
                              .coluna
                                h4.label
                                  | Seu E-mail
                                p
                                  span.wpcf7-form-control-wrap.your-email
                                    input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email[type="email" name="your-email" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Insira seu email"]
                              .coluna
                                h4.label
                                  | Seu Telefone
                                p
                                  span.wpcf7-form-control-wrap.tel-582
                                    input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required[type="text" name="tel-582" value="" size="40" aria-required="true" aria-invalid="false" placeholder="insira o número de seu telefone para contato"]
                            h4.label
                              | Você é Pessoa Física ou Jurídica?
                            p
                              span.wpcf7-form-control-wrap.cpf-cnpj
                                select.wpcf7-form-control.wpcf7-select[name="cpf-cnpj" aria-invalid="false"]
                                  option[value="Você é Pessoa Física ou Jurídica?"]
                                    | Você é Pessoa Física ou Jurídica?
                                  option[value="Pessoa Jurídica"]
                                    | Pessoa Jurídica
                                  option[value="Pessoa Física"]
                                    | Pessoa Física
                            .formulario.linha.duas-colunas
                              .coluna
                                h4.label
                                  | Empresa
                                  span
                                    | (opcional)
                                p
                                  span.wpcf7-form-control-wrap.name_empresa
                                    input.wpcf7-form-control.wpcf7-text[type="text" name="name_empresa" value="" size="40" aria-invalid="false" placeholder="Nome da empresa"]
                              .coluna
                                h4.label
                                  | Cidade
                                  span
                                    | (opcional)
                                p
                                  span.wpcf7-form-control-wrap.city
                                    input.wpcf7-form-control.wpcf7-text[type="text" name="city" value="" size="40" aria-invalid="false" placeholder="Cidade"]
                            p
                              br
                            h1[style="text-align: center;"]
                              span[style="color: #3d3d3d;"]
                                |  Sobre seu projeto
                            h4[style="text-align: center;"]
                              span[style="color: #A6A6A6;"]
                                |  Preencha os campos abaixo para facilitar o entendimento da sua ideia
                            p
                              br
                            .formulario.linha.uma-coluna
                              .coluna
                                h4.label
                                  | Escolha para qual plataforma será desenvolvido seu aplicativo
                                  span
                                    | (opcional)
                                p
                                  span.wpcf7-form-control-wrap.checkbox
                                    span.wpcf7-form-control.wpcf7-checkbox
                                      span.wpcf7-list-item.first
                                        input[type="checkbox" name="checkbox[]" value="iOS"]
                                        |  
                                        span.wpcf7-list-item-label
                                          | iOS
                                      span.wpcf7-list-item
                                        input[type="checkbox" name="checkbox[]" value="Android"]
                                        |  
                                        span.wpcf7-list-item-label
                                          | Android
                                      span.wpcf7-list-item
                                        input[type="checkbox" name="checkbox[]" value="Windows Phone"]
                                        |  
                                        span.wpcf7-list-item-label
                                          | Windows Phone
                                      span.wpcf7-list-item
                                        input[type="checkbox" name="checkbox[]" value="Web"]
                                        |  
                                        span.wpcf7-list-item-label
                                          | Web
                                      span.wpcf7-list-item.last
                                        input[type="checkbox" name="checkbox[]" value="Outros"]
                                        |  
                                        span.wpcf7-list-item-label
                                          | Outros
                            .formulario.linha.uma-coluna
                              .coluna
                                h4.label
                                  | Sobre o aplicativo
                                  span
                                    | (opcional)
                                p
                                  span.wpcf7-form-control-wrap.ideia_aplicativo
                                    textarea.wpcf7-form-control.wpcf7-textarea[name="ideia_aplicativo" cols="40" rows="4" aria-invalid="false" placeholder="Descreva rapidamente sua ideia para o Aplicativo"]
                            p

                            p
                              input[type="hidden" name="_wpcf7_captcha_challenge_captcha-528" value="3563146281"]
                              img.wpcf7-form-control.wpcf7-captchac.wpcf7-captcha-captcha-528[width="72" height="24" alt="captcha" src="http://devmaker.com.br/wp-content/uploads/wpcf7_captcha/3563146281.png"]
                              span.wpcf7-form-control-wrap.captcha-528
                                input.wpcf7-form-control.wpcf7-captchar[type="text" name="captcha-528" value="" size="40" aria-invalid="false"]
                            .g-recaptcha[data-sitekey="6LeW8YcUAAAAAE9yalh7VogcGN5JabpWy_WnfzwL"]
                            p[style="text-align:center;"]
                              br
                              input.wpcf7-form-control.wpcf7-submit.large.accent-color[value="Enviar" onclick="return gtag()" type="submit"]
                            input#ct_checkjs_cf7_6c8349cc7260ae62e3b1396831a8398f[type="hidden" name="ct_checkjs_cf7" value="0"]
                            script[type="text/javascript"]
                              | setTimeout(function(){var ct_input_name = 'ct_checkjs_cf7_6c8349cc7260ae62e3b1396831a8398f';if (document.getElementById(ct_input_name) !== null) {var ct_input_value = document.getElementById(ct_input_name).value;document.getElementById(ct_input_name).value = document.getElementById(ct_input_name).value.replace(ct_input_value, '892393497');}}, 1000);
                            .wpcf7-response-output.wpcf7-display-none
                .vc_col-sm-2.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element
                      .wpb_wrapper

            #fws_5c26816f6b593.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
              .row-bg-wrap
                .row-bg[style=""]
              .col.span_12.dark
                .vc_col-sm-12.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .divider-border[style="margin-top: 5px; margin-bottom: 5px;"]
            #fws_5c26816f6bbdb.wpb_row.vc_row-fluid.vc_row.full-width-content.standard_section[data-bg-mobile-hidden="" style="padding-top: 120px; padding-bottom: 120px; "]
              .row-bg-wrap
                .row-bg.using-bg-color[style="background-color: #00c4a7; "]
              .col.span_12.dark.left
                .vc_col-sm-12.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element
                      .wpb_wrapper
                        h1[style="text-align: center; color: #fff; margin-bottom: 30px;"]
                          | Caso não queira um orçamento, entre em contato conosco!
                        h3[style="text-align: center;"]
                          a.nectar-button.large.see-through-2.btn-contato[style="visibility: visible; color: #ffffff; border-color: rgba(255, 255, 255, 0.75); background-color: transparent;" href="/contato" target="_blank" data-color-override="#ffffff" data-hover-color-override="#ffffff" data-hover-text-color-override="#00c4a7"]
                            | ENTRE EM CONTATO CONOSCO
      a.home.cta.orcamento[href="/quanto-custa-criar-um-aplicativo/" target="_blank" title="Descubra agora!"]
        span
          | Quanto custa criar um aplicativo?

    script[type="text/javascript" src="javascripts/orcamento_footer.js"]
