
    #header-space
    #header-outer.transparent[data-has-menu="true" data-transparent-header="true" data-remove-border="false" data-user-set-bg="#ffffff" data-format="default" data-cart="false" data-transparency-option="" data-shrink-num="6" data-full-width="false" data-using-secondary="0" data-using-logo="1" data-logo-height="52" data-padding="28" data-header-resize="1"]
      #search-outer.nectar
        #search
          .container
            #search-box
              .col.span_12
                form[action="/" method="GET"]
                  input#s[type="text" name="s" value="Start Typing..." data-placeholder="Start Typing..."]
            #close
              a[href="#"]
                span.icon-salient-x[aria-hidden="true"]
      header#top
        .container
          .row
            .col.span_3
              a#logo[href="index.html"]

                img.default-logo.dark-version[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="images/logoDark.png"]
                img.retina-logo.dark-version[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="images/logoDark@2x.png"]
                img.starting-logo.default-logo[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="images/logoDevMaker.png"]
                img.retina-logo.starting-logo[alt="Desenvolvimento de aplicativos mobile em Curitiba para Android, IOS (iPhone, Ipad), Windows Phone e Facebook Apps." src="images/logoDevMaker@2x.png"]
            .col.span_9.col_last
              a#toggle-nav[href="#mobilemenu"]
                i.icon-reorder
              nav
                ul.buttons
                  li
                    span
                      a[href="#" title="Português" alt="Português" target="_blank"]
                        | BR
                      | /
                      a[href="#" title="English" alt="English" target="_blank"]
                        | EN
                  li#search-btn
                    div
                      a[href="#searchbox"]
                        span.icon-salient-search[aria-hidden="true"]
                ul.sf-menu
                  li#menu-item-3130.menu-home.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3130
                    a[href="/"]
                      | Home
                  li#menu-item-3129.menu-port.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-743.current_page_item.menu-item-3129
                    a[href="portfolio.html"]
                      | Portfólio
                  li#menu-item-3157.menu-empresa.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3157
                    a[href="empresa.html"]
                      | Empresa
                  li#menu-item-3440.menu-clientes.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3440
                    a[href="clientes.html"]
                      | Clientes
                  li#menu-item-4052.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-4052
                    a[href="/blog/"]
                      | Blog
                  li#menu-item-3815.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3815
                    a[href="/orcamento/"]
                      | Orçamento
      .ns-loading-cover
    #mobile-menu
      .container
        ul
          li.menu-home.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3130
            a[href="/"]
              | Home
          li.menu-port.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-743.current_page_item.menu-item-3129
            a[href="portfolio.html"]
              | Portfólio
          li.menu-empresa.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3157
            a[href="empresa.html"]
              | Empresa
          li.menu-clientes.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3440
            a[href="clientes.html"]
              | Clientes
          li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-4052
            a[href="/blog/"]

              | Blog
          li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3815
            a[href="/orcamento/"]
              | Orçamento
          li#mobile-search
            form[action="http://devmaker.com.br" method="GET"]
              input[type="text" name="s" value="" placeholder="Search.."]
    #ajax-loading-screen[data-method="ajax"]
      span.loading-icon
        span.default-skin-loading-icon
    #ajax-content-wrap
      #page-header-bg.not-loaded[data-alignment="center" data-parallax="0" data-height="350" style="background-color: #2c3030; background-image: none; height: px;"]
        .container
          .row
            .col.span_6
              h1
                | Portfólio
              span.subheader
                | Conheça alguns dos projetos desenvolvidos pela DevMaker.
      .container-wrap
        .container.main-content
          .row
            #fws_5c23c9a76a8ab.wpb_row.vc_row-fluid.vc_row.full-width-section.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
              .row-bg-wrap
                .row-bg.using-bg-color[style="background-color: #0080c6; "]
              .col.span_12.dark.left
                .vc_col-sm-6.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element
                      .wpb_wrapper
                        p
                          img.aligncenter.wp-image-4475.size-full[src="images/decathlon-connect-logo.png" alt="logo_decatlhon_connect" width="517" height="223" srcset="images/decathlon-connect-logo-300x129.png 300w, images/decathlon-connect-logo.png 517w" sizes="(max-width: 517px) 100vw, 517px"]
                        p
                          |  
                        h3[style="text-align: center;"]
                          span[style="color: #ffffff;"]
                            br
                            |  Para a Decathlon, líder mundial na distribuição de artigos esportivos, criamos o Connect, aplicativo que congrega esportistas e apaixonados por esportes em todo o Brasil, de acordo com localização geográfica e nível de prática dos atletas. O app é uma iniciativa da marca para democratizar o esporte. A Decathlon é conhecida por oferecer produtos esportivos com a mais alta relação custo-benefício do mercado.
                            br
                        div[style="text-align: center;"]
                          p
                            a[style="display: inline-block !important;" href="https://itunes.apple.com/br/app/decathlon-connect/id1302825508?mt=8" target="_blank"]
                              img.aligncenter.wp-image-4499.size-full[src="images/app-store-badge-1.png" alt="app-store-badge" width="200" height="60"]
                            a[style="display: inline-block !important;" href="https://play.google.com/store/apps/details?id=br.com.devmaker.decathlonconnect&amp;hl=pt_BR" target="_blank"]
                              img.aligncenter.wp-image-4501.size-full[src="images/google-play-badge.png" alt="google-play-badge" width="200" height="60"]
                .vc_col-sm-6.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.right
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in-from-right" src="images/decatlon-connect-view.png" alt=""]
            #fws_5c23c9a76be9b.wpb_row.vc_row-fluid.vc_row.full-width-section.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
              .row-bg-wrap
                .row-bg.using-bg-color[style="background-color: #fedf2e; "]
              .col.span_12.dark.left
                .vc_col-sm-6.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in-from-left" src="images/site_socarrao.png" alt=""]
                .vc_col-sm-6.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element
                      .wpb_wrapper
                        p
                          | .
                          img.aligncenter.wp-image-3699.size-full[src="images/logo_socarrao.png" alt="logo_socarrao" width="416" height="223" srcset="images/logo_socarrao-300x161.png 300w, images/logo_socarrao.png 416w" sizes="(max-width: 416px) 100vw, 416px"]
                        p
                          |  
                        h3[style="text-align: center;"]
                          span[style="color: #3d3d3d;"]
                            | SóCarrão é hoje o maior portal de classificados de veículos da região sul do país, com quatro franquias localizadas nas principais cidades dos estados do Paraná, Santa Catarina, Rio Grande do Sul e São Paulo.
                        p
                          |  
                        div[style="text-align: center;"]
                          p
                            a[style="display: inline-block !important;" href="https://itunes.apple.com/br/app/socarrao/id1011970864?mt=8" target="_blank"]
                              img.aligncenter.wp-image-4499.size-full[src="images/app-store-badge-1.png" alt="app-store-badge" width="200" height="60"]
                            a[style="display: inline-block !important;" href="https://play.google.com/store/apps/details?id=socarrao.devmaker.com.br.socarrao&amp;hl=pt_BR" target="_blank"]
                              img.aligncenter.wp-image-4501.size-full[src="images/google-play-badge.png" alt="google-play-badge" width="200" height="60"]
            #fws_5c23c9a76cfed.wpb_row.vc_row-fluid.vc_row.full-width-section.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
              .row-bg-wrap
                .row-bg.using-bg-color[style="background-color: #156297; "]
              .col.span_12.dark.left
                .vc_col-sm-6.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element
                      .wpb_wrapper
                        p
                          | .
                          img.aligncenter.wp-image-3737.size-full[src="images/logo_placoteca.png" alt="logo_placoteca" width="416" height="223" srcset="images/logo_placoteca-300x161.png 300w, images/logo_placoteca.png 416w" sizes="(max-width: 416px) 100vw, 416px"]
                        p
                          |  
                        h3[style="text-align: center;"]
                          span[style="color: #ffffff;"]
                            | Aproveite a melhor experiência interativa na busca por produtos, soluções e instalação de Drywall. Conheça as soluções construtivas da Placo e entenda como ela pode contribuir em seu projeto!
                        p
                          |  
                        div[style="text-align: center;"]
                          p
                            a[style="display: inline-block !important;" href="https://itunes.apple.com/br/app/socarrao/id1011970864?mt=8" target="_blank"]
                              img.aligncenter.wp-image-4499.size-full[src="images/app-store-badge-1.png" alt="app-store-badge" width="200" height="60"]
                            a[style="display: inline-block !important;" href="https://play.google.com/store/apps/details?id=br.com.devmaker.decathlonconnect&amp;hl=pt_BR" target="_blank"]
                              img.aligncenter.wp-image-4501.size-full[src="images/google-play-badge.png" alt="google-play-badge" width="200" height="60"]
                .vc_col-sm-6.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.right
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in-from-right" src="images/site_placoteca.png" alt=""]
            #fws_5c23c9a76e0d5.wpb_row.vc_row-fluid.vc_row.full-width-section.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
              .row-bg-wrap
                .row-bg.using-bg-color[style="background-color: #eb9522; "]
              .col.span_12.dark.left
                .vc_col-sm-6.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .img-with-aniamtion-wrap.left
                      img.img-with-animation[data-delay="0" height="100%" width="100%" data-animation="fade-in-from-left" src="images/site_futsys1.png" alt=""]
                .vc_col-sm-6.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element
                      .wpb_wrapper
                        p
                          | .
                          img.aligncenter.wp-image-3745.size-full[src="images/logo_footsys.png" alt="logo_footsys" width="416" height="223" srcset="imageslogo_footsys-300x161.png 300w, images/logo_footsys.png 416w" sizes="(max-width: 416px) 100vw, 416px"]
                        h3[style="text-align: center;"]
                          span[style="color: #ffffff;"]
                            | O FootSys é um aplicativo de controle de treinamento. Criado com base no futebol o aplicativo, também pode ser utilizado em outras modalidades devido a sua possibilidade de customização no cadastro de dados. Através do aplicativo, o usuário pode controlar as sessões de treinos de diferentes grupos e atletas simultaneamente, bem como ter acesso a relatórios atualizados durante a sessão de treino, controle e acompanhamento do histórico de treinos e de avaliações físicas do grupo e de cada atleta.
                        div[style="text-align: center;"]
                          p
                            a[style="display: inline-block !important;" href="https://itunes.apple.com/br/app/footsys/id948345730?mt=8" target="_blank"]
                              img.aligncenter.wp-image-4499.size-full[src="images/app-store-badge-1.png" alt="app-store-badge" width="200" height="60"]
            #fws_5c23c9a76f039.wpb_row.vc_row-fluid.vc_row.full-width-content.standard_section.vertically-align-columns.portfolio.linha-chamada[data-bg-mobile-hidden="" style="padding-top: 60px; padding-bottom: 60px; "]
              .row-bg-wrap
                .row-bg[style=""]
              .col.span_12.dark.center
                .vc_col-sm-8.portfolio.chamada-para-orcamento.wpb_column.column_container.col.centered-text.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element
                      .wpb_wrapper
                        p
                          | Criamos o aplicativo ideal para o seu negócio
                .vc_col-sm-4.portfolio.botao.wpb_column.column_container.col.centered-text.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .wpb_text_column.wpb_content_element
                      .wpb_wrapper
                        p
                          a.nectar-button.large.accent-color.regular-button.btn-orcamento[style="visibility: visible;" href="/orcamento/" data-color-override="false" data-hover-color-override="false" data-hover-text-color-override="#fff"]
                            | Solicite um orçamento
            #fws_5c23c9a76f9ff.wpb_row.vc_row-fluid.vc_row.standard_section[data-bg-mobile-hidden="" style="padding-top: 0px; padding-bottom: 0px; "]
              .row-bg-wrap
                .row-bg[style=""]
              .col.span_12.dark.left
                .vc_col-sm-12.wpb_column.column_container.col.no-extra-padding[data-padding-pos="all" data-hover-bg="" data-animation="" data-delay="0"]
                  .wpb_wrapper
                    .divider[style="height: 120px;"]
                    .wpb_text_column.wpb_content_element
                      .wpb_wrapper
                        h1[style="text-align: center;"]
                          | Conheça alguns dos nossos projetos
                    .divider[style="height: 30px;"]
                    .portfolio-filters-inline.full-width-section.non-fw
                      .container
                        span#current-category
                          | Todos
                        ul
                          li#sort-label
                            | Ordenar:
                          li
                            a[href="#" data-filter="*"]
                              | Todos
                          li
                            a[href="#" data-filter=".android"]
                              | Android
                          li
                            a[href="#" data-filter=".facebookapp"]
                              | Facebook App
                          li
                            a[href="#" data-filter=".ipad"]
                              | iPad
                          li
                            a[href="#" data-filter=".iphone"]
                              | iPhone
                          li
                            a[href="#" data-filter=".smartandroid"]
                              | Smartphone Android
                          li
                            a[href="#" data-filter=".tabletandroid"]
                              | Tablet Android
                          li
                            a[href="#" data-filter=".windowsphone"]
                              | Windows Phone
                        .clear
                    .portfolio-wrap
                      span.portfolio-loading

                      .row.portfolio-items.no-masonry[data-starting-filter="default" data-categories-to-show="" data-col-num="cols-4"]
                        .col.span_3.element.facebookapp.iphone[data-project-cat="facebookapp iphone " data-default-color="true"]
                          .work-item.style-4
                            img.custom-thumbnail[src="images/small_uni-1.jpg" alt="UNIngresso"]
                            .work-info
                              a[href="portfolio/uningresso/"]
                              .bottom-meta
                                h3
                                  | UNIngresso
                        .col.span_3.element.android.ipad.iphone.smartandroid.tabletandroid[data-project-cat="android ipad iphone smartandroid tabletandroid " data-default-color="true"]
                          .work-item.style-4
                            img.custom-thumbnail[src="images/small_uninter-1.jpg" alt="UNIVIRTUS"]
                            .work-info
                              a[href="portfolio/univirtus/"]
                              .bottom-meta
                                h3
                                  | UNIVIRTUS
                        .col.span_3.element.android.iphone[data-project-cat="android iphone " data-default-color="true"]
                          .work-item.style-4
                            img.custom-thumbnail[src="images/thumbchaves.jpg" alt="Chaves na Mão"]
                            .work-info
                              a[href="portfolio/chaves-na-mao/"]
                              .bottom-meta
                                h3
                                  | Chaves na Mão
                        .col.span_3.element[data-project-cat="" data-default-color="true"]
                          .work-item.style-4
                            img.custom-thumbnail[src="images/beaba_small.jpg" alt="BE-A-BÁ DA ELÉTRICA"]
                            .work-info
                              a[href="portfolio/be-a-ba-da-eletrica/"]
                              .bottom-meta
                                h3
                                  | BE-A-BÁ DA ELÉTRICA
                        .col.span_3.element.ipad.iphone[data-project-cat="ipad iphone " data-default-color="true"]
                          .work-item.style-4
                            img.custom-thumbnail[src="images/footsys.png" alt="FootSys"]
                            .work-info
                              a[href="portfolio/footsys/"]
                              .bottom-meta
                                h3
                                  | FootSys
                        .col.span_3.element[data-project-cat="" data-default-color="true"]
                          .work-item.style-4
                            img.custom-thumbnail[src="images/cembra1.png" alt="CEMBRA"]
                            .work-info
                              a[href="portfolio/cembra/"]
                              .bottom-meta
                                h3
                                  | CEMBRA
                        .col.span_3.element[data-project-cat="" data-default-color="true"]
                          .work-item.style-4
                            img.custom-thumbnail[src="images/thumbTim.png" alt="TIM"]
                            .work-info
                              a[href="portfolio/tim/"]
                              .bottom-meta
                                h3
                                  | TIM
                        .col.span_3.element.android.iphone[data-project-cat="android iphone " data-default-color="true"]
                          .work-item.style-4
                            img.custom-thumbnail[src="images/thumbSoCarrao.png" alt="Só Carrão"]
                            .work-info
                              a[href="portfolio/so-carrao/"]
                              .bottom-meta
                                h3
                                  | Só Carrão
                        .col.span_3.element.android.iphone[data-project-cat="android iphone " data-default-color="true"]
                          .work-item.style-4
                            img.custom-thumbnail[src="images/auladedireito.png" alt="Aulas de Direito &#8211; Premium"]
                            .work-info
                              a[href="portfolio/aulas-de-direito/"]
                              .bottom-meta
                                h3
                                  | Aulas de Direito – Premium
                        .col.span_3.element[data-project-cat="" data-default-color="true"]
                          .work-item.style-4
                            img.custom-thumbnail[src="images/thumbAbert.png" alt="Abert"]
                            .work-info
                              a[href="portfolio/abert/"]
                              .bottom-meta
                                h3
                                  | Abert
                        .col.span_3.element.android.iphone.windowsphone[data-project-cat="android iphone windowsphone " data-default-color="true"]
                          .work-item.style-4
                            img.custom-thumbnail[src="images/thumbBrokerContact.png" alt="Broker Contact"]
                            .work-info
                              a[href="portfolio/broker-contact/"]
                              .bottom-meta
                                h3
                                  | Broker Contact
                        .col.span_3.element.android.ipad.iphone.smartandroid[data-project-cat="android ipad iphone smartandroid " data-default-color="true"]
                          .work-item.style-4
                            img.custom-thumbnail[src="images/thumbPlaco.png" alt="Placo &#8211; Forros Acústicos"]
                            .work-info
                              a[href="portfolio/placo/"]
                              .bottom-meta
                                h3
                                  | Placo – Forros Acústicos
                        .col.span_3.element.android.iphone[data-project-cat="android iphone " data-default-color="true"]
                          .work-item.style-4
                            img.custom-thumbnail[src="images/thumbPlacotecablue.png" alt="Placoteca"]
                            .work-info
                              a[href="portfolio/placoteca/"]
                              .bottom-meta
                                h3
                                  | Placoteca
                        .col.span_3.element[data-project-cat="" data-default-color="true"]
                          .work-item.style-4
                            img.custom-thumbnail[src="images/thumbDesntupidor.png" alt="Desentupidor de ideias"]
                            .work-info
                              a[href="portfolio/desentupidor-de-ideias/"]
                              .bottom-meta
                                h3
                                  | Desentupidor de ideias
                        .col.span_3.element.android.iphone[data-project-cat="android iphone " data-default-color="true"]
                          .work-item.style-4
                            img.custom-thumbnail[src="images/radiocontrole.png" alt="Rádio Controle"]
                            .work-info
                              a[href="portfolio/radio-controle/"]
                              .bottom-meta
                                h3
                                  | Rádio Controle
                        .col.span_3.element.facebookapp[data-project-cat="facebookapp " data-default-color="true"]
                          .work-item.style-4
                            img.custom-thumbnail[src="images/thumbDuelo.png" alt="Duelo de Make"]
                            .work-info
                              a[href="portfolio/duelo-de-make/"]
                              .bottom-meta
                                h3
                                  | Duelo de Make
                        .col.span_3.element[data-project-cat="" data-default-color="true"]
                          .work-item.style-4
                            img.custom-thumbnail[src="images/thumbImobMaker.png" alt="ImobMaker"]
                            .work-info
                              a[href="portfolio/imobmaker/"]
                              .bottom-meta
                                h3
                                  | ImobMaker
                        .col.span_3.element[data-project-cat="" data-default-color="true"]
                          .work-item.style-4
                            img.custom-thumbnail[src="images/thumbPocketYou.png" alt="Poke You"]
                            .work-info
                              a[href="portfolio/pocket-you/"]
                              .bottom-meta
                                h3
                                  | Poke You
                        .col.span_3.element.android.iphone[data-project-cat="android iphone " data-default-color="true"]
                          .work-item.style-4
                            img.custom-thumbnail[src="images/thumbPlacoteca.png" alt="Euroit"]
                            .work-info
                              a[href="portfolio/euroit/"]
                              .bottom-meta
                                h3
                                  | Euroit
                        .col.span_3.element.android.iphone[data-project-cat="android iphone " data-default-color="true"]
                          .work-item.style-4
                            img.custom-thumbnail[src="images/thumbJBA.png" alt="JBA Imóveis"]
                            .work-info
                              a[href="portfolio/jba-imoveis/"]
                              .bottom-meta
                                h3
                                  | JBA Imóveis
                    .divider[style="height: 50px;"]
                    .wpb_raw_code.wpb_content_element.wpb_raw_html
                      .wpb_wrapper
                        a.home.cta.orcamento[href="http://materiais.devmaker.com.br/quanto-custa-criar-um-aplicativo/" target="_blank" title="Descubra agora!"]
                          span
                            | Quanto custa criar um aplicativo?
      a.home.cta.orcamento[href="http://devmaker.com.br/quanto-custa-criar-um-aplicativo/" target="_blank" title="Descubra agora!"]
        span
          | Quanto custa criar um aplicativo?

    script type="text/javascript" src="javascripts/portfolio_footer.js"
