    #ajax-content-wrap
      div[data-featured-img="../../images/imobmaker_large.jpg"]
        .row.project-title
          .container
            .title-wrap
              .col.span_12.section-title.no-date
                h1
                  | ImobMaker
                #portfolio-nav
                  ul
                    li#all-items
                      a[href="../../portfolio.html"]
                        i.icon-salient-back-to-all
                  ul.controls
                    li#prev-link
                      a[href="../duelo-de-make/" rel="next"]
                        i.icon-salient-left-arrow-thin
                    li#next-link
                      a[href="../pocket-you/" rel="prev"]
                        i.icon-salient-right-arrow-thin
        .container-wrap
          .container.main-content
            .row
              #post-area.col.span_9
                img.attachment-full.size-full.wp-post-image[width="1126" height="600" src="../../images/imobmaker_large.jpg" alt="imobmaker_large" title="" srcset="../../images/imobmaker_large-300x160.jpg 300w, ../../images/imobmaker_large-1024x546.jpg 1024w, ../../images/imobmaker_large.jpg 1126w" sizes="(max-width: 1126px) 100vw, 1126px"]
                #portfolio-extra
                  .stylish-button.android
                    a[href="https://play.google.com/store/apps/details?id=br.com.devmaker.imobmaker" target="_blank"]
                      | Play Store
                  .stylish-button.ios
                    a[href="http://devmaker.com.br/portifolio/imobmaker.html#"]
                      | Apple Store (em breve)
              #sidebar.col.span_3.col_last[data-follow-on-scroll="0"]
                #sidebar-inner
                  #project-meta[data-sharing="1"]
                    .nectar-social.sharing
                      span.n-shortcode
                        a#nectar-love-3280.nectar-love[href="#" title="Love this"]
                          i.icon-salient-heart
                          span.nectar-love-count
                            | 7
                      a.facebook-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-facebook
                        span.count
                      a.twitter-share.nectar-sharing[href="#" title="Tweet this"]
                        i.icon-twitter
                        span.count
                      a.linkedin-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-linkedin
                        span.count

                    .clear
                  h3
                    | ImobMaker
                  p
                    | Aplicativo desenvolvido para iOS e Android, ImobMaker é uma plataforma para imobiliárias.
                  h3
                    | Descrição detalhada
                  ul.post-list
                    li
                      i.icon-ok
                      | Lista de imóveis por geolocalização;
                    li
                      i.icon-ok
                      | Filtrar por bairro, preço, número de quartos, entre outros;
                    li
                      i.icon-ok
                      | Descrição completa dos imóveis;
                    li
                      i.icon-ok
                      | Favoritar seus imóveis preferidos.
                  ul.project-attrs.checks
                    li
                      | Aplicativo
                    li
                      | Branding
                    li
                      | HTML/CSS
