    #ajax-content-wrap
      div[data-featured-img="../../images/big_uni-2.jpg"]
        .row.project-title
          .container
            .title-wrap
              .col.span_12.section-title.no-date
                h1
                  | UNIngresso
                #portfolio-nav
                  ul
                    li#all-items
                      a[href="../../portfolio.html"]
                        i.icon-salient-back-to-all
                  ul.controls
                    li#prev-link
                    li#next-link
                      a[href="../univirtus/" rel="prev"]
                        i.icon-salient-right-arrow-thin
        .container-wrap
          .container.main-content
            .row
              #post-area.col.span_9
                img.attachment-full.size-full.wp-post-image[width="968" height="600" src="../../images/big_uni-2.jpg" alt="big_uni" title="" srcset="../../images/big_uni-2-300x186.jpg 300w, ../../images/big_uni-2-768x476.jpg 768w, ../../images/big_uni-2.jpg 968w" sizes="(max-width: 968px) 100vw, 968px"]
                #portfolio-extra
                  p
                    | Uso interno
              #sidebar.col.span_3.col_last[data-follow-on-scroll="0"]
                #sidebar-inner
                  #project-meta[data-sharing="1"]
                    .nectar-social.sharing
                      span.n-shortcode
                        a#nectar-love-3946.nectar-love[href="#" title="Love this"]
                          i.icon-salient-heart
                          span.nectar-love-count
                            | 0
                      a.facebook-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-facebook
                        span.count
                      a.twitter-share.nectar-sharing[href="#" title="Tweet this"]
                        i.icon-twitter
                        span.count
                      a.linkedin-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-linkedin
                        span.count

                    .clear
                  h3
                    | UNIngresso
                  p
                    | App criado para potencializar a entrada e diminuir as grandes filas, trazendo segurança de que os ingressos são legítimos. UNIngresso é um aplicativo com leitor de código de barras que traz agilidade para validar ingressos.
                    br
                    |  Com a integração junto ao Captuvo, a otimização das entradas cria ao usuário seu bem estar em poder aproveitar o evento, além da garantia de legitimidade em cada ingresso recebido!
                  h3
                    | Descrição detalhada
                  ul.post-list
                    li
                      i.icon-ok
                      | Facilidade ao acesso do usuário;
                    li
                      i.icon-ok
                      | Garantia de ingresso legítimo;
                    li
                      i.icon-ok
                      | Leitura do código de barra.
                  p
                    |  
                  ul.project-attrs.checks
                    li
                      | Aplicativo
