    #ajax-content-wrap
      div[data-featured-img="../../images/so_carrao_large.png"]
        .row.project-title
          .container
            .title-wrap
              .col.span_12.section-title.no-date
                h1
                  | Só Carrão
                #portfolio-nav
                  ul
                    li#all-items
                      a[href="portfolio.html"]
                        i.icon-salient-back-to-all
                  ul.controls
                    li#prev-link
                      a[href="../tim/" rel="next"]
                        i.icon-salient-left-arrow-thin
                    li#next-link
                      a[href="../aulas-de-direito/" rel="prev"]
                        i.icon-salient-right-arrow-thin
        .container-wrap
          .container.main-content
            .row
              #post-area.col.span_9
                img.attachment-full.size-full.wp-post-image[width="1126" height="600" src="../../images/so_carrao_large.png" alt="so_carrao_large" title="" srcset="../../images/so_carrao_large-300x160.png 300w, ../../images/so_carrao_large-1024x546.png 1024w, ../../images/so_carrao_large.png 1126w" sizes="(max-width: 1126px) 100vw, 1126px"]
                #portfolio-extra
                  .stylish-button.android
                    a[href="https://play.google.com/store/apps/details?id=socarrao.devmaker.com.br.socarrao" target="_blank"]
                      | Play Store
                  .stylish-button.ios
                    a[href="https://itunes.apple.com/br/app/socarrao/id1011970864?mt=8"]
                      | App Store
              #sidebar.col.span_3.col_last[data-follow-on-scroll="0"]
                #sidebar-inner
                  #project-meta[data-sharing="1"]
                    .nectar-social.sharing
                      span.n-shortcode
                        a#nectar-love-3248.nectar-love[href="#" title="Love this"]
                          i.icon-salient-heart
                          span.nectar-love-count
                            | 12
                      a.facebook-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-facebook
                        span.count
                      a.twitter-share.nectar-sharing[href="#" title="Tweet this"]
                        i.icon-twitter
                        span.count
                      a.linkedin-share.nectar-sharing[href="#" title="Share this"]
                        i.icon-linkedin
                        span.count

                    .clear
                  h3
                    | Só Carrão
                  p
                    | Com o aplicativo do SóCarrão é possível pesquisar carros, motos, caminhões, barcos e muito mais!
                    br
                    |  No aplicativo, você também pode anunciar seu veículo rapidamente, sem complicações.
                    br
                    |  O que está esperando? Baixe agora.
                  h3
                    | Descrição detalhada
                  ul.post-list
                    li
                      i.icon-ok
                      | Pesquisa de veículos;
                    li
                      i.icon-ok
                      | Visualização de fotos;
                    li
                      i.icon-ok
                      | Envio de propostas;
                    li
                      i.icon-ok
                      | Contato telefônico;
                    li
                      i.icon-ok
                      | Pesquisa de peças e acessórios;
                    li
                      i.icon-ok
                      | Anunciar veículos;
                    li
                      i.icon-ok
                      | Gerenciar anúncios de veículos.
                  p
                    |  
                  ul.project-attrs.checks
                    li
                      | HTML/CSS
                    li
                      | Illustration
